{# notifications/index.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/notification.js') }}?version={{ version }}"></script>
{% endblock %}

{% block page %}
  <form name="form2" action="{{ asset('notification') }}" method="get">
    <table style="margin-bottom:10px;">
      <tr style="vertical-align:center;">
        <td style="width:370px;">
          <h3 style="margin:0;">Validations des absences et notifications</h3>
        </td>
        <td>
          Voir les agents
        </td>
        <td style="width:150px;">
          <select name="actif" onchange="document.form2.submit();" class="ui-widget-content ui-corner-all">
            <option value="Actif" {{ actif == 'Actif' ? "selected='selected'" : "" }} >Service public</option>
            <option value="Inactif" {{ actif == 'Inactif' ? "selected='selected'" : "" }}>Administratif</option>
          </select>
        </td>
      </tr>
    </table>
  </form>
  <form name="form" method="post" action="{{ asset('notification') }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer les agents sélectionnés ?');">
    <table id="tableAgents" class="CJDataTable" data-sort='[[1, "asc"],[2, "asc"]]'>
      <thead>
      <tr>
        <th class="dataTableNoSort aLeft" >
          <input type="checkbox" class="CJCheckAll"/>
        </th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Service</th>
        <th>Statut</th>
        {% if nbSites > 1 %}
          <th>Sites</th>
        {% endif %}
        <th>Validations / notifications niveau 1</th>
        <th>Validations / notifications niveau 2</th>
      </tr>
      </thead>
      <tbody>
      {% for agent in agents %}
        <tr>
          <td style="white-space:nowrap;">
            <input type="checkbox" name="chk{{loop.index0}}" value="{{ agent.id }}" class="checkboxes"/>
            <span class="pl-icon pl-icon-edit pointer" title="Modifier" data-id="{{ agent.id }}"></span>
          </td>
          <td>{{ agent.nom }}</td>
          <td>{{ agent.prenom }}</td>
          <td>{{ agent.service }}</td>
          <td>{{ agent.statut }}</td>
          {% if nbSites>1 and agent.sites_list is defined %}
            <td>{{ agent.sites_list }}</td>
          {% elseif nbSites>1 and not agent.sites_list is defined %}
            <td>&nbsp;</td>
          {% endif %}
          <td>
            {% for manager in agent.managers %}
              {% if manager.level1 %}
                <span class="managerl1_{{ agent.id }}"
                      data-manager="{{ manager.manager.id }}"
                      data-notif="{{ manager.level1Notification }}">
                    {{ manager.manager.lastname }} {{ manager.manager.firstname | first }}
                  {% if manager.level1Notification %}
                    - Notifications
                  {% endif %}
                  </span>
                <br />
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for manager in agent.managers %}
            {% if manager.level2 %}
            <span class="managerl2_{{ agent.id }}"
                  data-manager="{{ manager.manager.id }}"
                  data-notif="{{ manager.level2Notification }}">
                    {{ manager.manager.lastname }} {{ manager.manager.firstname | first }}
              {% if manager.level2Notification %}
                - Notifications
              {% endif %}
                  <span>
                  <br />
                {% endif %}
                    {% endfor %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <input type="hidden" name="CSRFToken" id="CSRFToken" value="{{ CSRFToken }}" />
    <input type="button" value="Modifier la sélection" class="btn btn-primary" id="update-button" />
  </form>

  <div class="modal modal-lg" id="update-notification-modal" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="update-notification-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <form id="update-notification-form">
          <div class="modal-header">
            <h5 class="modal-title" id="update-notification-modal-title">{% trans %}Validations{% endtrans %} / {% trans %}Notifications{% endtrans %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
          </div>

          <div class="modal-body">
            <p>{% trans %}Select the managers who are authorized to approve absences and leave requests for the selected employees.<br/>Check the box if they should be notified when a new absence or leave request is submitted.{% endtrans %}</p>

            <div class="container text-center">
              <div class="row">

          <div class="col">
                  {% trans %}Level 1 Validation{% endtrans %}
          <div class="row my-3">
        <div class="col">
        {% trans %}Manager{% endtrans %}
          </div>
          <div class="col">
          {% trans %}Notify{% endtrans %}
        </div>
                  </div>

        {% for i in 0..8 %}
          <div class="row mb-3">
            <div class="col">
              <select name="responsable-{{i}}" id="responsable-{{i}}" class="responsablesl1form-select form-select-sm form-control" data-id="{{i}}">
                <option selected value=""></option>
                {% for agent in manager_level1 %}
                  <option value="{{ agent.id }}">{{ agent.nom }} {{ agent.prenom }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
                        <div class="form-check" style="display: flex; justify-content:center;">
              <input type="checkbox" class="form-check-input notificationsl1" name="notification-{{i}}" id="notification-{{i}}"  data-id="{{i}}"/>
            </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>

            <div class="col-auto d-flex">
                  <div class="vr"></div>
                </div>

                <div class="col">
                  {% trans %}Level 2 Validation{% endtrans %}
                  <div class="row my-3">
                    <div class="col">
                      {% trans %}Manager{% endtrans %}
                    </div>
                    <div class="col">
                      {% trans %}Notify{% endtrans %}
                    </div>
                  </div>

                  {% for i in 0..8 %}
                    <div class="row mb-3">
                      <div class="col">
              <select name="responsablel2-{{i}}" id="responsablel2-{{i}}" class="responsablesl2form-select form-select-sm form-control" data-id="{{i}}">
                <option selected value=""></option>
                {% for agent in manager_level2 %}
                  <option value="{{ agent.id }}">{{ agent.nom }} {{ agent.prenom }}</option>
                {% endfor %}
              </select>
            </div>

                      <div class="col">
            <div class="form-check" style="display: flex; justify-content:center;">
              <input type="checkbox" class="form-check-input notificationsl2" name="notificationl2-{{i}}" id="notificationl2-{{i}}"  data-id="{{i}}"/>
            </div>
                      </div>
          </div>
        {% endfor %}
        </div>

              </div>
            </div>
          </div>
        </form>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
          <button type="submit" class="btn btn-primary" form="update-notification-form">{% trans %}Save{% endtrans %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
