{# notifications/index.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ app.request.getBaseURL() }}/notifications/js/notifications.js?version={{ version }}"></script>
{% endblock %}

{% block page %}
  <form name='form2' action="{{ asset('notification') }}" method='get'>
    <table style='margin-bottom:10px;'>
      <tr style='vertical-align:center;'>
        <td style='width:370px;'>
          <h3 style='margin:0;'>Validations des absences et notifications</h3>
        </td>
        <td>
          Voir les agents
        </td>
        <td style='width:150px;'>
          <select name='actif' onchange='document.form2.submit();' class='ui-widget-content ui-corner-all'>
            <option value='Actif' {{ actif == 'Actif' ? "selected='selected'" : "" }} >Service public</option>
            <option value='Inactif' {{ actif == 'Inactif' ? "selected='selected'" : "" }}>Administratif</option>
          </select>
        </td>
      </tr>
    </table>
  </form>
  <form name="form" method="post" action="{{ asset('notification') }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer les agents sélectionnés ?');">
    <table id='tableAgents' class='CJDataTable' data-sort='[[1, "asc"],[2, "asc"]]'>
      <thead>
        <tr>
          <th class='dataTableNoSort aLeft' >
            <input type='checkbox' class='CJCheckAll'/>
          </th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Service</th>
          <th>Statut</th>
          {% if config('Multisites-nombre') > 1 %}
            <th>Sites</th>
          {% endif %}
          <th>Validations / notifications</th>
        </tr>
      </thead>
      <tbody>
        {% for agent in agents %}
          <tr>
            <td style='white-space:nowrap;'>
              <input type='checkbox' name='chk{{loop.index0}}' value="{{ agent.id }}" class='checkboxes'/>
              <span class='icones fa-stack fa-lg' title='Modifier' data-id="{{ agent.id }}">
                <i class='fa fa-circle fa-stack-2x fa-3x'></i><i class='fa fa-pencil-square-o fa-stack-1x' aria-hidden="true"></i>
              </span>
            </td>
            <td>{{ agent.nom }}</td>
            <td>{{ agent.prenom }}</td>
            <td>{{ agent.service }}</td>
            <td>{{ agent.statut }}</td>
            {% if config('Multisites-nombre')>1 and agent.sites_list is defined %}
                <td>{{ agent.sites_list }}</td>
            {% elseif config('Multisites-nombre')>1 and not agent.sites_list is defined %}
                <td>&nbsp;</td>
            {% endif %}
            {% if agent.responsables_list is defined and not agent.responsables_list is empty %}
                <td>{{ agent.responsables_list | raw }}</td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type='hidden' name='CSRFToken' id='CSRFToken' value="{{ CSRFToken }}" />
    <input type='button' value='Modifier la sélection' class='ui-button' id='update-button' />
  </form>

  <div id="update-form" title="Validations / Notifications" class='noprint' style='display:none;'>
    <p class="validateTips" style='text-align:justify;'>Choisissez les responsables qui ont le droit de valider les absences et congés des agents sélectionnés.<br/>Cochez la case s'ils doivent être notifiés lors de l'enregistrement d'une nouvelle absence ou demande de congés.</p>
    <form>
      <table class='tableauFiches'>
        <thead style='text-align: left;'>
          <tr>
            <th style='padding-bottom:10px;'>Responsables</th>
            <th style='padding-bottom:10px;'>Notifications</th>
          </tr>
        </thead>
        <tbody>
          {% for i in 0..5 %}
            <tr>
              <td>
                <select name='responsable-{{i}}' id='responsable-{{i}}' class='responsables' data-id='{{i}}'>
                  <option value=''>&nbsp;</option>
                  {% for agent in agents_responsables %}
                      echo "<option value="{{ agent.id }}">{{ agent.nom }} {{ agent.prenom }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <input type='checkbox' name='notification-{{i}}' id='notification-{{i}}' class='notifications' data-id='{{i}}'/>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  </div>
{% endblock %}