{# conges/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  <h3>Les congés</h3>
  <table>
    <tr style='vertical-align:top;'>
      <td style='width:400px;'>
        <ul style='margin-top:0px;'>
          <li><a href='{{ asset("holiday") }}'>Liste des congés</a></li>
          <li><a href='{{ asset("holiday/new") }}'>Poser des congés</a></li>
          <li><a href='/index.php?page=conges/recuperations.php'>Récupérations</a></li>

          {% if admin %}
            <li>
              <a href='/index.php?page=conges/infos.php'>Ajouter une information</a>
            </li>
            <li>
              <a href='/index.php?page=conges/credits.php'>Voir les crédits</a>
            </li>
          {% endif %}

        </ul>
      </td>

      <td style='color:#FF5E0E;'>
        {% if holidays_infos %}
          <b>Informations sur les congés :</b><br/><br/>
          {% for h in holidays_infos %}
            {% if admin %}
              <a href='/index.php?page=conges/infos.php&id={{ h.id }}'>
                <span class='pl-icon pl-icon-edit' title='Modifier'></span>
            </a>
            {% endif %}
              Du {{ h.debut | date('d/m/Y') }} au {{ h.fin | date('y/m/Y') }} : <br/> {{ h.texte | nl2br }}<br/><br/>
          {% endfor %}
        {% endif %}
      </td>
    </tr>
  </table>
{% endblock %}