{# conges/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  {% if conges_recuperation == 1 and show_recovery %}
    <h3 class="noprint">Liste des récupérations</h3>
  {% else %}
    <h3 class="noprint">Liste des congés</h3>
  {% endif %}
  <h3 class="print_only">
    Liste des congés de {{ agent_name }}, de {{ debut }} à {{ fin }}.
  </h3>

  <form name="form" method="get" action="{{ asset("holiday") }}" class="noprint" onsubmit="return verif_form('debut=date1;fin=date2');" novalidate>
    <div class="row row-search">

      <label class="col-xl-auto col-form-label mt-2" for="holiday-search-start">{% trans %}Start{% endtrans %} :</label>
      <div class="col-xl-auto ps-0">
        <input id="holiday-search-start" type="text" name="debut" class="datepicker start-date form-control" value="{{ debut }}"/>
      </div>

      <label class="col-xl-auto col-form-label mt-2" for="holiday-search-end">{% trans %}End{% endtrans %} :</label>
      <div class="col-xl-auto ps-0">
        <input id="holiday-search-end" type="text" name="fin" class="datepicker end-date form-control" value="{{ fin }}" required/>     
      </div>

      {% if admin %}
        <div class="col-xl-2">
          <div class="row">
            <label class="col-xl-auto col-form-label mt-2" for="perso-id">{% trans %}Agent{% endtrans %} :</label>
            <select name="perso_id" id="perso_id" class="form-select form-select-sm">
                <option value="0" {% if perso_id == 0 %} selected="selected" {% endif %}>{% trans %}Everyone{% endtrans %}</option>            
              {% for a in managed %}
                <option value="{{ a.id }}" {% if a.id == perso_id %} selected="selected" {% endif %}>{{ a.lastname }} {{ a.firstname }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-check-prepend">
            <label class="form-check-label" for="deleted-agent-check">{% trans %}Deleted agents{% endtrans %} :</label>              
            <input id="deleted-agent-check" type="checkbox" value="" class="form-check-input m-1 mx-2" {% if deleted_agents %} checked {% endif %} name="supprimes" onclick="updateAgentsList(this,'perso_id');"/>            
          </div>
        </div>
      {% endif %}

      <div class="col-xl-3 ps-0">
        <input id="button-ok" type="submit" role="button" value="{% trans %}Search{% endtrans %}" class="btn btn-primary m-2"/>
        {% if show_recovery %}
          <a role="button" href="{{ asset('holiday') }}?recup=1&reset=on" class="btn btn-secondary m-2">{% trans %}Clear{% endtrans %}</a>
        {% else %}
          <a role="button" href="{{ asset('holiday') }}?reset=on" class="btn btn-secondary m-2">{% trans %}Clear{% endtrans %}</a>
        {% endif %}
      </div>

      <div class="col-xl text-end">        
        <a role="button" href="{{ asset(addlink) }}" class="btn btn-primary m-2 me-0">{% trans %}Add{% endtrans %}</a>
      </div>
      {% if show_recovery %}
        <input type="hidden" name="recup" value="1"/>
      {% endif %}
    </div>

    <div class="row mb-3">
      <div class="invalid-feedback">{% trans from 'validators' %}Please choose a valid date interval.{% endtrans %}</div>
    </div>


  </form>

  {% if show_recovery %}
    <table id="tableRecovery" class="CJDataTable" data-sort="[[1],[2]]">
  {% else %}
    <table id="tableConges" class="CJDataTable" data-sort="[[1],[2]]">
  {% endif %}
    <thead>
      <tr>
        <th rowspan="2" class="dataTableNoSort">&nbsp;</th>
        <th rowspan="2">Début</th>
        <th rowspan="2">Fin</th>
        {% if admin %}
          <th rowspan="2">Nom</th>
        {% endif %}
        <th colspan="2" class="ui-state-default">Validation</th>
        {% if conges_mode == 'jours' and not show_recovery %}
          <th rowspan="2">Jours</th>
        {% else %}
          <th rowspan="2" class="dataTableHeureFR">Heures</th>
        {% endif %}

        {% if balance %}
          <th rowspan="2" class="dataTableHeureFR">Crédits</th>
          <th rowspan="2" class="dataTableHeureFR">Reliquat</th>
        {% endif %}

        {% if recovery %}
          <th rowspan="2" class="dataTableHeureFR">Récupérations</th>
        {% endif %}

        {% if balance %}
          <th rowspan="2" class="dataTableHeureFR">Solde Débiteur</th>
        {% endif %}
          <th rowspan="2" class="information">Informations</th>
      </tr>
      <tr>
        <th>État</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for c in holidays %} 
        <tr>
          <td>
            {% if c.supprime or c.information %}
              &nbsp;
            {% else %}
              <a href="{{ asset('holiday/edit/') }}{{ c.id }}"/>
                <span class="pl-icon pl-icon-edit" title="Voir"></span>
              </a>
            {% endif %}
          </td>

          <td data-order="{{ c.start }}">{{ c.start | datefr }}</td>
          <td data-order="{{ c.end }}">{{ c.end | datefr }}</td>
          {% if admin %}
            <td>{{ c.nom }}</td>
          {% endif %}
          {% if c.valide < 0 %}
            <td style="color: red;">{{ c.status }}</td>
          {% elseif c.valide or c.information %}
            <td>{{ c.status }}</td>
          {% else %}
            <td style="font-weight: bold;">{{ c.status }}</td>
          {% endif %}
          <td data-order="{{ c.statusDate }}">{{ c.statusDate | datefr }}</td>
          <td class="aRight">{{ c.hours }}{% if show_hours_to_days %}<br />{{ c.days }}j{% endif %}</td>

          {% if balance %}
            {% if c.valide or c.information %}
              {% if c.solde_prec != c.solde_actuel %}
                <td class="aRight bold">{{ c.solde_prec }} →  {{ c.solde_actuel }}
                                 {% if show_hours_to_days %}<br />{{ c.solde_prec_days }}j →  {{ c.solde_actuel_days }}j{% endif %}</td>
              {% else %}
                <td class="aRight">{{ c.solde_prec }}{% if show_hours_to_days %}<br />{{ c.solde_prec_days }}j{% endif %}</td>
              {% endif %}
            {% else %}
              <td></td>
            {% endif %}

            {% if c.valide or c.information %}
              {% if c.reliquat_prec != c.reliquat_actuel %}
                <td class="aRight bold">{{ c.reliquat_prec }} →  {{ c.reliquat_actuel }}
                                 {% if show_hours_to_days %}<br />{{ c.reliquat_prec_days }}j →  {{ c.reliquat_actuel_days }}j{% endif %}</td>
              {% else %}
              <td class="aRight">{{ c.reliquat_prec }}{% if show_hours_to_days %}<br />{{ c.reliquat_prec_days }}j{% endif %}</td>
              {% endif %}
            {% else %}
              <td></td>
            {% endif %}
          {% endif %}

          {% if recovery %}
            {% if c.valide or c.information %}
              {% if c.recup_prec != c.recup_actuel %}
                <td class="aRight bold">{{ c.recup_prec }} →  {{ c.recup_actuel }}
                {% if show_hours_to_days %}<br />{{ c.recup_prec_days }}j →  {{ c.recup_actuel_days }}j{% endif %}</td>
              {% else %}
                <td class="aRight">{{ c.recup_prec }}{% if show_hours_to_days %}<br />{{ c.recup_prec_days }}j{% endif %}</td>
              {% endif %}
            {% else %}
              <td></td>
            {% endif %}
          {% endif %}

          {% if balance %}
            {% if c.valide or c.information %}
              {% if c.anticipation_prec != c.anticipation_actuel %}
                <td class="aRight bold">{{ c.anticipation_prec }} →  {{ c.anticipation_actuel }}
                {% if show_hours_to_days %}<br />{{ c.anticipation_prec_days }}j →  {{ c.anticipation_actuel_days }}j{% endif %}</td>
              {% else %}
                <td class="aRight">{{ c.anticipation_prec }}{% if show_hours_to_days %}<br />{{ c.anticipation_prec_days }}j{% endif %}</td>
              {% endif %}
            {% else %}
              <td></td>
            {% endif %}
          {% endif %}
          <td>
            {% if c.origin_id %}
              Régularisation liée au congé du {{ c.origin_start | datefr }} au {{ c.origin_end | datefr }}
            {% endif %}

            {% if c.regul_id %}
              Régularisation en récupération: 
              {% if c.regul > 0 %}
                {{ c.hr_regul }} créditée(s)
              {% else %}
                {{ c.hr_regul }} débitée(s)
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
