{# conges/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  {% if conges_recuperation == 1 and show_recovery %}
    <h3 class='noprint'>Liste des récupérations</h3>
  {% else %}
    <h3 class='noprint'>Liste des congés</h3>
  {% endif %}
  <h3 class='print_only'>
    Liste des congés de {{ agent_name }}, année {{ from_year }}-{{ to_year }}.
  </h3>

  <form name='form' method='get' action='{{ asset("holiday/index") }}' class='noprint'>
    <span style='float:left; vertical-align:top; margin-bottom:20px;'>
      <table class='tableauStandard'>
        <tbody>
          <tr>
            <td>
              Année: 
              <select name='annee'>
                {% for y in years %}
                  {% if from_year == y[0] %}
                    <option value='{{ y[0] }}' selected="selected">{{ y[1] }}</option>
                  {% else %}
                    <option value='{{ y[0] }}'>{{ y[1] }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </td>

            <td>
              Congés: 
              <select name='congesAffiches'>
                <option value='tous'>Tous</option>
                {% if forthcoming %}
                  <option value='aVenir' selected="selected">A venir</option>
                {% else %}
                  <option value='aVenir'>A venir</option>
                {% endif %}
              </select>
            </td>

            {% if admin %}
              <td style='text-align:left;'>
                <span style='padding:5px;'>Agents : 
                  <select name='perso_id' id='perso_id'>
                    {% if perso_id == 0 %}
                      <option value='0' selected="selected">Tous</option>
                    {% else %}
                      <option value='0'>Tous</option>
                    {% endif %}

                    {% for a in agents_menu %}
                      {% if a.id == perso_id %}
                        <option value='{{ a.id }}' selected="selected">{{ a.nom }} {{ a.prenom }}</option>
                      {% else %}
                        <option value='{{ a.id }}'>{{ a.nom }} {{ a.prenom }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </span>

                <br/>
                <span style='padding:5px;'>Agents supprimés : 
                  {% if deleted_agents %}
                    <input type='checkbox' checked="checked" name='supprimes' onclick="updateAgentsList(this, 'perso_id');"/>
                  {% else %}
                    <input type='checkbox' name='supprimes' onclick="updateAgentsList(this, 'perso_id');"/>
                  {% endif %}
                </span>
              </td>
            {% endif %}

            <td>
              <input type='submit' value='Rechercher' id='button-OK' class='ui-button'/>
            </td>
            <td>
              {% if show_recovery %}
                <a href='{{ asset("holiday/index") }}?recup=1&reset=on' class='ui-button ui-button-type2' >Réinitialiser</a>
              {% else %}
                <a href='{{ asset("holiday/index") }}?reset=on' class='ui-button ui-button-type2' >Réinitialiser</a>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </span>

    <span style='float:right; vertical-align:top; margin:10px 5px;'>
      <a href='{{ addlink }}' class='ui-button ui-button-type2'>Ajouter</a>
    </span>

    {% if show_recovery %}
      <input type='hidden' name='recup' value='1'/>
    {% endif %}
  </form>

  <br/>
  {% if show_recovery %}
    <table id="tableRecovery" class="CJDataTable" data-sort="[[1],[2]]">
  {% else %}
    <table id="tableConges" class="CJDataTable" data-sort="[[1],[2]]">
  {% endif %}
    <thead>
      <tr>
        <th rowspan='2' class='dataTableNoSort tableSort'>&nbsp;</th>
        <th rowspan='2' class='dataTableDateFR tableSort'>Début</th>
        <th rowspan='2' class='dataTableDateFR-fin tableSort'>Fin</th>
        {% if admin %}
          <th rowspan='2' class='tableSort'>Nom</th>
        {% endif %}
        <th colspan='2' class='ui-state-default tableSort'>Validation</th>
        {% if conges_mode == 'jours' and not show_recovery %}
          <th rowspan='2' class='tableSort'>Jours</th>
        {% else %}
          <th rowspan='2' class='dataTableHeureFR tableSort'>Heures</th>
        {% endif %}

        {% if balance %}
          <th rowspan='2' class='dataTableHeureFR tableSort' tableSort>Crédits</th>
          <th rowspan='2' class='dataTableHeureFR tableSort'>Reliquat</th>
        {% endif %}

        {% if recovery %}
          <th rowspan='2' class='dataTableHeureFR tableSort'>Récupérations</th>
        {% endif %}

        {% if balance %}
          <th rowspan='2' class='dataTableHeureFR tableSort'>Solde Débiteur</th>
        {% endif %}
          <th rowspan='2' class='information tableSort'>Informations</th>
      </tr>
      <tr>
        <th class='tableSort-bis'>&Eacute;tat</th>
        <th class='dataTableDateFR tableSort-bis'>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for c in holidays %}
        <tr>
          <td>
            {% if c.supprime or c.information %}
              &nbsp;
            {% else %}
              <a href='{{ asset("holiday/edit/") }}{{ c.id }}'/>
                <span class='pl-icon pl-icon-edit' title='Voir'></span>
              </a>
            {% endif %}
          </td>

          <td>{{ c.start }}</td>
          <td>{{ c.end }}</td>
          {% if admin %}
            <td>{{ c.nom }}</td>
          {% endif %}
          {% if c.valide < 0 %}
            <td style="color: red;">{{ c.status }}</td>
          {% elseif c.valide or c.information %}
            <td>{{ c.status }}</td>
          {% else %}
            <td style="font-weight: bold;">{{ c.status }}</td>
          {% endif %}
          <td>{{ c.validationDate }}</td>
          <td class='aRight'>{{ c.hours }}{% if show_hours_to_days %}<br />{{ c.days }}j{% endif %}</td>

          {% if balance %}
            {% if c.valide or c.information %}
              {% if c.solde_prec != c.solde_actuel %}
                <td class="aRight bold">{{ c.solde_prec }} →  {{ c.solde_actuel }}
                                 {% if show_hours_to_days %}<br />{{ c.solde_prec_days }}j →  {{ c.solde_actuel_days }}j{% endif %}</td>
              {% else %}
                <td class="aRight">{{ c.solde_prec }}{% if show_hours_to_days %}<br />{{ c.solde_prec_days }}j{% endif %}</td>
              {% endif %}
            {% else %}
              <td></td>
            {% endif %}

            {% if c.valide or c.information %}
              {% if c.reliquat_prec != c.reliquat_actuel %}
                <td class="aRight bold">{{ c.reliquat_prec }} →  {{ c.reliquat_actuel }}
                                 {% if show_hours_to_days %}<br />{{ c.reliquat_prec_days }}j →  {{ c.reliquat_actuel_days }}j{% endif %}</td>
              {% else %}
              <td class="aRight">{{ c.reliquat_prec }}{% if show_hours_to_days %}<br />{{ c.reliquat_prec_days }}j{% endif %}</td>
              {% endif %}
            {% else %}
              <td></td>
            {% endif %}
          {% endif %}

          {% if recovery %}
            {% if c.valide or c.information %}
              {% if c.recup_prec != c.recup_actuel %}
                <td class="aRight bold">{{ c.recup_prec }} →  {{ c.recup_actuel }}
                {% if show_hours_to_days %}<br />{{ c.recup_prec_days }}j →  {{ c.recup_actuel_days }}j{% endif %}</td>
              {% else %}
                <td class="aRight">{{ c.recup_prec }}{% if show_hours_to_days %}<br />{{ c.recup_prec_days }}j{% endif %}</td>
              {% endif %}
            {% else %}
              <td></td>
            {% endif %}
          {% endif %}

          {% if balance %}
            {% if c.valide or c.information %}
              {% if c.anticipation_prec != c.anticipation_actuel %}
                <td class="aRight bold">{{ c.anticipation_prec }} →  {{ c.anticipation_actuel }}
                {% if show_hours_to_days %}<br />{{ c.anticipation_prec_days }}j →  {{ c.anticipation_actuel_days }}j{% endif %}</td>
              {% else %}
                <td class="aRight">{{ c.anticipation_prec }}{% if show_hours_to_days %}<br />{{ c.anticipation_prec_days }}j{% endif %}</td>
              {% endif %}
            {% else %}
              <td></td>
            {% endif %}
          {% endif %}
          <td>
            {% if c.origin_id %}
              Régularisation liée au congé du {{ c.origin_start }} au {{ c.origin_end }}
            {% endif %}

            {% if c.regul_id %}
              Régularisation en récupération: 
              {% if c.regul > 0 %}
                {{ c.hr_regul }} créditée(s)
              {% else %}
                {{ c.hr_regul }} débitée(s)
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
