{# agents/agent_table.html.twig #}

<table style='width:90%;'>
  <tr valign='top'>
    <td style='width:400px'>Nom :</td>
    <td>
      <span id='nom'>{{ agent.lastName }}</span>
    </td>
  </tr>

  <tr>
    <td>Prénom :</td>
    <td>
      <span id='prenom'>{{ agent.firstName }}</span>
    </td>
  </tr>

  <tr>
    <td>E-mail :</td>

    <td>
      <a href='mailto:{{ agent.mail }}'><span id='mail'>{{ agent.mail }}</span></a>
    </td>
  </tr>

  {% if not config('Planook') %}
    <tr>
      <td>Statut :</td>
      <td style='white-space:nowrap'>{{ agent.status | striptags | raw }}</td>
    </tr>

    <tr>
      <td>Contrat :</td>
      <td>{{ agent.category }}</td>
    </tr>

    <tr>
      <td>Service de rattachement:</td>
      <td style='white-space:nowrap'>{{ agent.service | striptags | raw }}</td>
    </tr>

    <tr>
      <td>Heures de service public par semaine:</td>
      <td>{{ heuresHebdo_label }}</td>
    </tr>
  {% endif %}

  <tr>
    <td>Heures de travail par semaine:</td>
    <td>{{ heuresTravail_label }}</td>
  </tr>

  <tr>
    <td> Service public / Administratif :</td>
    <td>
      {% if actif %}
        {% if actif == 'Actif' %}
          Service public
        {% elseif actif == 'Inactif' %}
          Administratif
        {% elseif actif == 'Supprim&eacute;' %}
        {% endif %}
      {% else %}
        Service public
      {% endif %}
    </td>
  </tr>

  {% if multi_site %}
    <tr style='vertical-align:top;'>
      <td>Sites :</td>
      <td>
        {% for s in sites_select %}
          {% if s.checked %}
          {{ s.name }}<br/>
          {% endif %}
        {% endfor %}
      </td>
    </tr>
  {% endif %}

  <tr>
    <td>Date d'arrivée</td>
    <td>{{ agent.arrival | dateOrNull('d/m/Y') }}</td>
  </tr>

  <tr>
    <td>Date de départ</td>
    <td>{{ agent.departure | dateOrNull('d/m/Y') }}</td>
  </tr>

  {% if not config('Planook') %}
    <tr>
      <td>Matricule :</td>
      <td>{{ agent.employeeNumber }}</td>
    </tr>

    <tr>
      <td>E-mails des responsables :</td>
      <td>
        {% for r in mailsResponsables %}
          <a href='mailto:{{ r|trim }}'>{{ r|trim }}</a><br/>
        {% endfor %}
      </td>
    </tr>

    <tr style='vertical-align:top;'>
      <td>Informations :</td>
      <td>{{ informations_str }}</td>
    </tr>

    {% if recup_agent > 1 %}
      <tr style='vertical-align:top;'>
        <td>Récupération :</td>
        <td>{{ recup_str }}</td>
      </tr>
    {% endif %}
  {% endif %}

  {% if id %}
    <tr>
      <td>Login :</td>
      <td>{{ agent.login }}</td>
    </tr>
  {% endif %}
</table>