{# agents/holidays_hours.html.twig #}

<div id='conges' style='margin-left:80px;padding-top:30px;'>
  <table class='tableauFiches'>
    <tr>
      <td>Nombre d'heures de congés par an :</td>
      <td style='text-align:right;'>
        {% if can_manage_agent %}
          <input type='text' name='conges_annuel' value='{{ annuel_heures}}'  style='width:70px;text-align:right;'>
          <label style='text-align:center;padding:5px;'>h</label>
          {% include 'agents/elements/select_holiday_minutes.html.twig' with {'minutes': annuel_min, 'name': 'conges_annuel_min' } %}
        {% else %}
          {{ annuel_string }}
        {% endif %}
      </td>
    </tr>

    <tr>
      <td>Crédit d'heures de congés actuel :</td>
      <td style='text-align:right;'>
        {% if can_manage_agent %}
          <input type='text' name='conges_credit' value='{{ credit_heures}}'  style='width:70px;text-align:right;'>
          <label style='text-align:center;padding:5px;'>h</label>
          {% include 'agents/elements/select_holiday_minutes.html.twig' with {'minutes': credit_min, 'name': 'conges_credit_min' } %}
        {% else %}
          {{ credit_string }}
        {% endif %}
      </td>
    </tr>

    <tr>
      <td>Reliquat de congés :</td>
      <td style='text-align:right;'>
        {% if can_manage_agent %}
          <input type='text' name='conges_reliquat' value='{{ reliquat_heures}}'  style='width:70px;text-align:right;'>
          <label style='text-align:center;padding:5px;'>h</label>
          {% include 'agents/elements/select_holiday_minutes.html.twig' with {'minutes': reliquat_min, 'name': 'conges_reliquat_min' } %}
        {% else %}
          {{ reliquat_string }}
        {% endif %}
      </td>
    </tr>

    <tr>
      <td>Solde débiteur :</td>
      <td style='text-align:right;'>
        {% if can_manage_agent %}
          <input type='text' name='conges_anticipation' value='{{ anticipation_heures}}'  style='width:70px;text-align:right;'>
          <label style='text-align:center;padding:5px;'>h</label>
          {% include 'agents/elements/select_holiday_minutes.html.twig' with {'minutes': anticipation_min, 'name': 'conges_anticipation_min' } %}
        {% else %}
          {{ anticipation_string }}
        {% endif %}
      </td>
    </tr>

    <tr>
      <td>{{ lang_comp_time }} :</td>
      <td style='text-align:right;'>
        {% if can_manage_agent %}
          <input type='text' name='comp_time' value='{{ recup_heures}}'  style='width:70px;text-align:right;'>
          <label style='text-align:center;padding:5px;'>h</label>
          {% include 'agents/elements/select_holiday_minutes.html.twig' with {'minutes': recup_min, 'name': 'comp_time_min' } %}
        {% else %}
          {{ recup_string }}
        {% endif %}
      </td>
    </tr>
  </table>
</div>
