{# agents/rights_edit.html.twig #}

<div id='access' style='margin-left:70px;display:none;padding-top:30px;'>
  {% for category, elem in rights %}
    <h3 style='margin:10px 0 5px 0;'>{{ category }}</h3>
    {% for right in elem.rights %}
      {% if right.checked %}
        <input type='checkbox' name='droits[]' checked="checked" value='{{ right.groupe_id }}' style='margin:0 10px 0 20px;'/>{{ right.groupe }}<br/>
      {% else %}
        <input type='checkbox' name='droits[]' value='{{ right.groupe_id }}' style='margin:0 10px 0 20px;'/>{{ right.groupe }}<br/>
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% if multi_site %}
    <table style='margin-top:50px;'>
      <thead>
        <tr>
          <th>&nbsp;</th>
          {% for s in sites_for_rights %}
            <th class='center' style='padding:0 10px;'>{{ s.site_name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for category, elem in rights_sites %}
          <tr>
            <td>
              <h3 style='margin:10px 0 5px 0;'>{{ category }}</h3>
            </td>
          </tr>
          {% for right in elem.rights %}
            <tr>
              <td>{{ right.groupe }}</td>
              {% for s in right.sites %}
                <td class='center'>
                  {% if s.checked %}
                    <input type='checkbox' name='droits[]' checked="checked" value='{{ s.groupe_id }}' />
                  {% else %}
                    <input type='checkbox' name='droits[]' value='{{ s.groupe_id }}' />
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
