{# adminInfo/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
    <h3>Messages d'informations</h3>

    <div class='top-button-div'>
        <a href='{{ asset("admin/info/add") }}' class='ui-button'>Ajouter</a>
    </div>

    {% if info %}
        <table class='CJDataTable' data-sort='[[1,"asc"],[2,"asc"]]' id='AbsenceInfoTable'>
            <thead>
                <tr>
                    <th class='dataTableNoSort'></th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Texte</th>
                </tr>
            </thead>
            <tbody>
                {%for elem in info %}
                    <tr>
                        <td>
                            <a href='{{ asset('admin/info/') }}{{elem.id}}'>
                              <span class='icones' title='Editer'><i class="fa fa-pencil-square fa-2x"></i></span>
                            </a>
                        </td>
                        <td>{{ elem.debut | date("d/m/Y") }}</td>
                        <td>{{ elem.fin | date("d/m/Y")  }}</td>
                        <td>{{ elem.texte }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Aucune information enregistrée.
    {% endif %}
{% endblock %}
