{# workinghour/cycle/index.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/workingHour.js') }}"></script>
{% endblock %}

{% block page %}
  <div id="content-form">
    <h3>Heures de présence - Gestion des cycles</h3>
    <div id="buttons">
      <form name="form" method="get" action="{{ path('workinghour.cycle') }}">

        <div class="row row-search mt-3">
          <label class="col-xl-auto col-form-label mt-2" for="workinghour-cycle-search-start">{% trans%}Start{% endtrans %} :</label>
          <div class="col-xl-auto ps-0">
            <input id="workinghour--cycle-search-start" type="text" name="start" class="datepicker form-control start-date" value="{{ start }}"/>
          </div>

          <label class="col-xl-auto col-form-label mt-2" for="workinghour-cycle-search-end">{% trans%}End{% endtrans %} :</label>
          <div class="col-xl-auto ps-0">
            <input id="workinghour-cycle-search-end" type="text" name="end" class="datepicker form-control end-date" value="{{ end }}"/>
          </div>

          <div class="col-xl-4 ps-0">
            <input type="submit" role="button" value="{% trans%}Search{% endtrans %}" class="btn btn-primary m-2"/>
            <input type="button" value="{% trans%}Clear{% endtrans %}" onclick="location.href='{{ path('workinghour.cycle') }}'" class="btn btn-secondary m-2" />  
          </div>

          <div class="col-xl text-end">
            <input type="button" value="{% trans %}Add{% endtrans %}" onclick="location.href='{{ path('workinghour.cycle.edit', {id: 0}) }}'" class="btn btn-primary m-2 me-0" />
          </div>
        </div>

        <div class="row">
          <div class="invalid-feedback">{% trans from 'validators' %}Please choose a valid date interval.{% endtrans %}</div>
        </div>

      </form>
    </div>

    <table id="tableWorkingHourCycles" class="CJDataTable" data-sort='[[1, "asc"],[2]]'>
      <thead>
        <tr>
          <th class="dataTableNoSort"></th>
          <th class="dataTableDateFR">Date de début de cycle</th>
          <th>Numéro de semaine au début du cycle</th>
        </tr>
      </thead>
      <tbody>
        {% for cycle in cycles %}
          <tr>
            <td>
              <a href="{{ path('workinghour.cycle.edit', {id: cycle.id}) }}">
                <span class='pl-icon pl-icon-edit' title='Edit'></span>
              </a>
              <a href="javascript:workingHourCycleDelete({{ cycle.id }})">
                <span class='pl-icon pl-icon-dropblack' title='Edit'></span>
              </a>
            <td>{{ cycle.date | date('d/m/Y') }}</td>
            <td>{{ cycle.week }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form id="delete-form" name="delete-form" method="post" action="{{ path('workinghour.cycle.delete') }}" >
      <input type="hidden" name="_token" value="{{ csrf_token('') }}" />
      <input type="hidden" id="delete-id" name="id" />
    </form>

  </div>
{% endblock %}
