{# templates/detached/index.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src='{{ asset("js/plb/detached.js") }}'></script>
{% endblock %}

{% block page %}

  <!-- Show title and calendar widgets -->
  <div id="divcalendrier" class="navabar-expand-custom text">
    <div id="tab_titre" class="container-fluid">
      <div class="row justify-content-between">
        <div id="pl-calendar" class="datepicker"></div>
        <div class="col-xxl titreSemFixe">
          <div>Sélection des agents volants</div>
          <div>Semaine {{ week_number }}, du {{ week }}</div>
          <ul class="days_ul">
            <li><a href="{{ asset('detached') }}?date={{ previous_week }}"> Semaine précédente </a> / </li>
            <li><a href="{{ asset('detached') }}?date={{ next_week }}"> Semaine suivante </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <input type='hidden' name='date' id='date' value='{{ date }}' />

  <div id="content-form">
    <h3>Sélection des agents volants</h3>
    <div class="admin-div">
      <div id="detachedAgentDiv">
        <div id='volants-selectionnes-div'>
          <h4>Agents disponibles</h4>
          <select id='volants-dispo' name='dispo' multiple='multiple'>
            {% for a in all_agents %}
              {% if a.id in detached_agents %}
                <option value='{{ a.id }}' class='volants-dispo dispo_{{ a.id }}' data-id='{{ a.id }}' style="display:none;">{{ a.nom }} {{ a.prenom }}</option>
              {% else %}
                <option value='{{ a.id }}' class='volants-dispo dispo_{{ a.id }}' data-id='{{ a.id }}'>{{ a.nom }} {{ a.prenom }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
    
        <div id='volants-buttons-div'>
          <input type='button' class='ui-button ui-button-type2' id='volants-add' value='Ajouter >>' /><br/><br/>
          <input type='button' class='ui-button ui-button-type2' id='volants-add-all' value='Ajouter Tout >>' /><br/><br/>
          <input type='button' class='ui-button ui-button-type3' id='volants-remove' value='<< Supprimer' /><br/><br/>
          <input type='button' class='ui-button ui-button-type3' id='volants-remove-all' value='<< Supprimer Tout' /><br/><br/>
        </div>
    
        <div id='volants-selectionnes-div'>
          <h4>Agents sélectionnés</h4>
          <select id='volants-selectionnes' name='selectionnes' multiple='multiple'>
            {% for a in all_agents %}
              {% if a.id in detached_agents %}
                <option value='{{ a.id }}' class='volants-selectionnes selected_{{ a.id }}' data-id='{{ a.id }}' $style >{{ a.nom }} {{ a.prenom }}</option>
              {% else %}
                <option value='{{ a.id }}' class='volants-selectionnes selected_{{ a.id }}' data-id='{{ a.id }}' $style style="display:none;">{{ a.nom }} {{ a.prenom }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
    
        <div id='volants-validation'>
          <input type='button' class='ui-button' id='submit' value='Valider' />
        </div>
      </div>
    </div>
  </div>
{% endblock %}
