{# config/category.html.twig #}

<div class="px-3">
  <div class="container">
    <div class="row row-header rounded-1 mb-3" style="min-height: 40px;">
      <span class="col-3">Nom</span>
      <span class="col">Valeur</span>
      <span class="col">Commentaires</span>
    </div>

    {% for key,v in vars %}
      <div class="row row-config" id="{{ v.nom }}_tr">
        <div class="col-3">{{ v.nom }}</div>
        <div class="col">
          {% if v.type == 'boolean' %}
            <input type="checkbox" name="{{ v.nom }}" id="{{ v.nom }}" value="1" {{ v.valeur == '1' ? 'checked' : '' }} />
          {% elseif v.type == 'info' %}
            {{ v.valeur }}
          {% elseif v.type == 'enum' %}
            <select name="{{ v.nom }}" id="{{ v.nom }}" style="width:400px;">
              {% for o in v.options %}
                {% if o == v.valeur %}
                  <option value="{{ o }}" selected="selected">{{ o }}</option>
                {% else %}
                  <option value="{{ o }}">{{ o }}</option>
                {% endif %}
              {% endfor %}
            </select>
          {% elseif v.type == 'enum2' %}
            <select name="{{ v.nom }}" id="{{ v.nom }}" style="width:400px;">
              {% for o in v.options %}
                {% if o.0 == v.valeur %}
                  <option value="{{ o.0 }}" selected="selected">{{ o.1 }}</option>
                {% else %}
                  <option value="{{ o.0 }}">{{ o.1 }}</option>
                {% endif %}
              {% endfor %}
            </select>
          {% elseif v.type == 'checkboxes' %}
            {% set i = 1 %}
            {% for vs in v.valeurs %}
              {% if vs.0 in v.choisies %}
                <input type="checkbox" name="{{v.nom}}[]"
                       id="{{ v.nom }}_{{ i }}" value="{{ vs.0 }}"
                       checked="checked" /> {{ vs.1 }}<br/>
              {% else %}
                <input type="checkbox" name="{{v.nom}}[]"
                       id="{{ v.nom }}_{{ i }}" value="{{ vs.0 }}" /> {{ vs.1 }}<br/>
              {% endif %}
              {% set i = i + 1 %}
            {% endfor %}
          {% elseif v.type == 'textarea' %}
            <textarea name="{{ v.nom }}" id="{{ v.nom }}" style="width:400px;height:100px;" rows="1" cols="1">{{ v.valeur }}</textarea>
          {% elseif v.type == 'text' or v.type == '' %}
            <input type="text" name="{{ v.nom }}" id="{{ v.nom }}" value="{{ v.valeur }}" style="width:400px;"/>
          {% elseif v.type == 'password' %}
            <input type="password" name="{{ v.nom }}" id="{{ v.nom }}" value="{{ v.valeur }}" style="width:400px;"/>
          {% elseif v.type == 'date' %}
            <input type="text" name="{{ v.nom }}" id="{{ v.nom }}" value="{{ v.valeur }}" style="width:400px;" class="datepicker"/>
          {% elseif v.type == 'color' %}
            <input type="color" name="{{ v.nom }}" id="{{ v.nom }}" value="{{ v.valeur }}" style="width:400px;"/>
          {% endif %}
          </div>
        <div class="col">
            {# raw is needed because some comments contain HTML #}
            {{ v.commentaires | raw }}
        </div>
      </div>

      {% if v.nom == 'Mail-Planning' %}
        <div class="row">
          <div class="col-3">Tester</div>
          <div class="col"><input type="button" value="Tester" onclick="mailtest();" id="Mail-Test" class="btn btn-secondary" /></div>
          <div class="col">Tester les paramètres de messagerie. Un e-mail sera envoy&eacute; aux adresses mention&eacute;es dans le champ Mail-Planning.</div>
        </div>
      {% elseif v.nom == 'LDAP-Matricule' %}
        <div class="row">
          <div class="col-3">Tester</div>
          <div class="col"><input type="button" value="Tester" onclick="ldaptest();" id="LDAP-Test" class="btn btn-secondary"/></div>
          <div class="col">Tester les paramètres LDAP.</div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
