{# config/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  <script type="text/JavaScript" src="{{ asset('js/config.js') }}"></script>
  <script type="text/JavaScript">
    $( document ).ready(function() {

      var previous_nb_semaine = $('#nb_semaine option:selected').val();
      {% for i in 1..10 %}
        var previous_Multisites_site{{ i }}_cycles = $('#Multisites-site{{ i }}-cycles option:selected').val();
      {% endfor %}

      $( "#conges_mode_dialog" ).dialog({
        autoOpen: false,
        resizable: false,
        width: 400,
        modal: true,
        buttons: {
          "Je suis d'accord": function() {
            $( this ).dialog( "close" );
            $("#Conges-Recuperations").val('1');
          },
          "Annuler ma modification": function() {
            $( this ).dialog( "close" );
            $("#Conges-Mode").val('heures');
          }
        }
      });
      $('#Conges-Mode').on('change', function() {
        conges_mode = $("#Conges-Mode").val();
        conges_recuperations = $("#Conges-Recuperations").val();
        if (conges_mode == 'jours' && conges_recuperations == 0) {
          $( "#conges_mode_dialog" ).dialog( "open" );
        }
      });

      $( "#nb_semaine_dialog" ).dialog({
        autoOpen: false,
        resizable: false,
        width: 400,
        modal: true,
        buttons: {
          "Je suis d'accord": function() {
            $( this ).dialog( "close" );
            $("#PlanningHebdo").prop("checked", true);
          },
          "Annuler ma modification": function() {
            $( this ).dialog( "close" );
            var previous_nb_semaine = $("#nb_semaine_dialog").data('previous_nb_semaine');
            $('#nb_semaine option[value="' + previous_nb_semaine + '"]').prop('selected', true);
          }
        }
      });

      $('#nb_semaine').on('change', function() {
        nb_semaine = $("#nb_semaine").val();
        planningHebdo = $("#PlanningHebdo").is(':checked');
        if (nb_semaine > 3 && !planningHebdo) {
          $( "#nb_semaine_dialog" ).data('previous_nb_semaine', previous_nb_semaine).dialog( "open" );
        }
        previous_nb_semaine = nb_semaine;
      });

      $( "#longueur_mot_de_passe_dialog" ).dialog({
        autoOpen: false,
        resizable: false,
        width: 400,
        modal: true,
        buttons: {
          "Valider": function() {
            $( this ).dialog( "close" );
          }
        }
      });
      $('#Auth-PasswordLength').on('change', function() {
        if ($('#Auth-PasswordLength').val() < 8) {
            $("#Auth-PasswordLength").val('8');
            $('#longueur_mot_de_passe_dialog').dialog('open');
        }
      });
      mail_config();
    });
  </script>
  {% if warning %}
    <script type='text/JavaScript'>
      CJInfo('{{ warning }}','error');
    </script>
  {% endif %}
  {% if post %}
    {% if error %}
      <script type='text/JavaScript'>
        CJInfo('Il y a eu des erreurs pendant la modification.<br/>Veuillez vérifier la configuration.','error');
      </script>
    {% else %}
      <script type='text/JavaScript'>
        CJInfo('Les modifications ont été enregistrées.','highlight');
      </script>
    {% endif %}
  {% endif %}

  <h3>Configuration</h3>
    <form name='form' action='config' method='post'>
      <input type='hidden' name='page' value='admin/config.php' />
      <input type='hidden' name='CSRFToken' value='{{ CSRFSession }}' />
      <div id='accordion' class='ui-accordion'>
        {% for key,val in elements %}
            <h3><span>{{ key }}</span></h3>
            {% include 'config/category.html.twig' with { 'vars': val } %}
        {% endfor %}
      </div>

      <div style='text-align:center;margin:20px;'>
        <input type='button' value='Annuler' onclick='document.location.href=\"index.php\";' class='ui-button ui-button-type2'/>
        &nbsp;&nbsp;&nbsp;
        <input type='submit' value='Valider' class='ui-button' />
      </div>
    </form>

    <div id="conges_mode_dialog" title="Modification du mode de congés">
     Le mode de décompte des congés en jour implique de modifier le paramètre "Conges-Recuperations" en "Dissocier".
    </div>

    <div id="nb_semaine_dialog" title="Modification du nombre de semaines">
     Sélectionner un nombre de semaines supérieur à trois implique de cocher le paramètre "PlanningHebdo". 
    </div>

    <div id="longueur_mot_de_passe_dialog" title="Modification de la longeur minimum du mot de passe">
      Le nombre de caractères minimum d'un mot de passe ne peut pas être inférieur à 8.
    </div>

{% endblock %}
