{# absenceBlock/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
    <div id="content-form">
        <h3>Blocage d'absences</h3>

        <div class="admin-div">
            {% if id %}
                <h4>Modifications des blocages d'absences</h4>
            {% else %}
                <h4>Ajout d'un blocage d'absence</h4>
            {% endif %}

            <form id="form" method="POST" action="{{ asset("absence/block") }}" name="form" onsubmit="return verif_form('start=date1;end=date2');">
                <input type="hidden" name="_token" id="_token" value="{{ csrf_token('') }}"/>
                <input type="hidden" name="id" value="{{ id }}"/>

                <div class="row my-3">
                    <label class="col-1 col-form-label ms-2" for="start-date-block">{% trans %}Start date{% endtrans %}</label>
                    <div class="col-2">
                        <input type="text" id="start-date-block" name="start" value="{{ start }}" class="datepicker form-control start-date ms-2" />
                    </div>
                </div>

                <div class="row">
                    <label class="col-1 col-form-label ms-2" for="end-date-block">{% trans %}End date{% endtrans %}</label>
                    <div class="col-2">
                        <input type="text" id="end-date-block" name="end" value="{{ end }}" class="datepicker form-control end-date ms-2" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-2 offset-1 invalid-feedback ps-4">{% trans from 'validators' %}Please choose a valid date interval.{% endtrans %}</div>
                </div>

                <div class="row mb-4">
                    <label class="col-1 col-form-label ms-2" for="comment-block">{% trans %}Comment{% endtrans %}</label>
                    <div class="col-2">
                        <textarea id="comment-block" name="text" value="{{ end }}" class="form-control ms-2 ui-widget-content rounded-1"/>{{ text }}</textarea> 
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-4">
                        <a role="button" href="{{ asset('absence/block') }}" onclick="location.href='/workinghour?reset=on'" class="btn btn-secondary m-2">{% trans %}Cancel{% endtrans %}</a>     
                         {% if id %}
                            <a href="javascript:deleteAbsenceBlock({{ id }});" role="button" class="btn btn-danger m-2">{% trans %}Delete{% endtrans %}</a>
                        {% endif %}     
                        <input type="submit" role="button" value="{% trans %}Confirm{% endtrans %}" class="btn btn-primary m-2">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
