{# planning/poste/comments.html.twig #}

<div id='pl-notes-div1' {{ comments.notesDisplay }} >
  {{ comments.notes }}
</div>

{% if autorisationNotes %}
  <div id='pl-notes-div2' class='noprint'>
    <input type='button' class='ui-button noprint' id='pl-notes-button' value='Ajouter un commentaire' />
  </div>

  <div id="pl-notes-form" title="Commentaire" class='noprint' style='display:none;'>
    <p class="validateTips" id='pl-notes-tips'>
      Vous pouvez écrire ici un commentaire qui sera affiché en bas du planning.
    </p>

    <form>
      <textarea id='pl-notes-text'>{{ comments.notesTextarea }}</textarea>
    </form>
  </div>
{% endif %}

<div id='pl-notes-div1-validation'>
  {{ comments.notesSuppression }}{{comments.notesValidation }}
</div>
