{# planning/poste/delete_form.html.twig #}

<div class="modal" id="drop-model-modal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="drop-model-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="drop-model-modal-title">{% trans %}Deletion of the schedule{% endtrans %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
      </div>
      <div class="modal-body text-center">
        <p>
          {% trans with {'%day%': date | date('d/m/Y'), '%first_day_week%' : start | date('d/m/Y'), '%last_day_week%' : end | date('d/m/Y') } %}Do you want to delete the schedule for the day %day% or for the week (from %first_day_week% to %last_day_week%){% endtrans %} ?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#drop-day-modal">{% trans %}Day{% endtrans %}</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#drop-week-modal">{% trans %}Week{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="drop-day-modal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="drop-day-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="drop-day-modal-title">{% trans %}Deletion of the schedule{% endtrans %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
      </div>
      <div class="modal-body text-center">

        <p class="px-2">
          {% trans with {'%day%': date | date('d/m/Y') } %}Are you sure you want to delete the schedule for %day%{% endtrans %} ?
        </p>

        <form id="delete-planning-day-form" action="{{ asset('deleteplanning') }}" method="post">

        <input type="hidden" name="CSRFToken" value="{{ CSRFSession }}" />
        <input type="hidden" name="week" value="0" />
        <input type="hidden" name="site" value="{{ site }}" />
        <input type="hidden" name="date" value="{{ date }}" />

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#drop-model-modal">{% trans %}No{% endtrans %}</button>
        <button type="submit" class="btn btn-danger" form="delete-planning-day-form">{% trans %}Yes{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="drop-week-modal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="drop-week-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="drop-week-modal-title">{% trans %}Deletion of the schedule{% endtrans %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
      </div>
      <div class="modal-body text-center">
        
        <p>
          {% trans with {'%start%': start | date('d/m/Y'), '%end%' : end | date('d/m/Y') } %}Are you sure you want to delete the schedule for the week (%start% to %end%){% endtrans %} ?
        </p>
        <form id="delete-planning-week-form" action="{{ asset('deleteplanning') }}" method="post">
          <input type="hidden" name="CSRFToken" value="{{ CSRFSession }}" />
          <input type="hidden" name="week" value="1" />
          <input type="hidden" name="site" value="{{ site }}" />
          <input type="hidden" name="start" value="{{ start }}" />
          <input type="hidden" name="end" value="{{ end }}" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#drop-model-modal">{% trans %}No{% endtrans %}</button>
        <button type="submit" class="btn btn-danger" form="delete-planning-week-form">{% trans %}Yes{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>
