{# templates/planning/poste/index.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('planning/poste/js/planning.js') }}"></script>
  <script type='text/JavaScript'>
    $(document).ready(function(){
      locked = $('#locked').val();
      if (locked == 1) {
        refresh_poste();
      }
    });
  </script>
{% endblock %}

{% block page %}
  <div id='planning'>
    <input type="hidden" id="locked" value="{{ locked }}"/>
    {% include 'planning/poste/menu.html.twig' %}

    {% if show_framework_select %}
      {% include 'planning/poste/framework_select.html.twig' %}

      {% if config('Planning-CommentairesToujoursActifs') %}
        {% include 'planning/poste/comments.html.twig' %}
      {% endif %}
    {% endif %}

    {% if not_ready %}
      <div class='decalage-gauche'>
        <p>Le planning du {{ date | datefr }} n'est pas prêt.</p>
      </div>

      {% if config('Planning-CommentairesToujoursActifs') %}
        {% include 'planning/poste/comments.html.twig' %}
      {% endif %}
    {% endif %}

    {% if tab and not locked and not autorisationN1 %}
      <div class='decalage-gauche'>
        <p class="important">Le planning du {{ date | datefr }} n'est pas validé !</p>
      </div>

      {% if config('Planning-CommentairesToujoursActifs') %}
        {% include 'planning/poste/comments.html.twig' %}
      {% endif %}
    {% endif %}

    {% if schedules is defined and schedules %}
      <div id="planning-data" data-verrou="{{ locked }}" data-autorisation="{{ autorisationN1 }}"
           data-validation="{{ lockDate }}" data-lignesVides="{{ config('Planning-lignesVides') }}"
           data-sr-debut="{{ config('Planning-SR-debut') }}"
           data-sr-fin="{{ config('Planning-SR-fin') }}"
           style='display:none;'>&nbsp;
      </div>

      {% include 'planning/poste/schedule.element.html.twig' %}

      {% if config('Planning-AppelDispo') %}
        <div id="pl-appelDispo-form" title="Appel à disponibilité" class='noprint' style='display:none;'>
          <p class="validateTips" id='pl-appelDispo-tips'>
            Envoyez un e-mail aux agents disponibles pour leur demander s'ils sont volontaires pour occuper le poste choisi.
          </p>

          <form>
            <label for='pl-appelDispo-sujet'>Sujet</label><br/>
            <input type='text' id='pl-appelDispo-sujet' name='pl-appelDispo-sujet' /><br/><br/>
            <label for='pl-appelDispo-text'>Message</label><br/>
            <textarea id='pl-appelDispo-text' name='pl-appelDispo-text'>&nbsp;</textarea>
          </form>
        </div>
      {% endif %}

      {% if locked or (autorisationN1 or autorisationN2) %}
        {% if config('Absences-planning') == 1 and absences_planning | length > 0 %}
          <h3 style='text-align:left;margin:40px auto 0 auto; width: 90%;'>Liste des absents</h3>
          <div class='decalage-gauche'>
            <table>
              {% for a in absences_planning %}
                <tr class="{{ a.class }}">
                  <td style='text-align:left;'>
                    {{ a.nom }} {{ a.prenom }}{{ a.heures }}{{ a.nonValidee }}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% endif %}

        {% if config('Absences-planning') == 2 and absences_planning | length > 0 %}
          <h3 style='text-align:left;margin:40px auto 0 auto; width: 90%;'>Liste des absents</h3>

          <table id='tablePlanningAbsences' class='CJDataTable' data-sort='[[0, "asc"],[1, "asc"]]'>
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th class='dataTableDateFR'>Début</th>
                <th class='dataTableDateFR'>Fin</th>
                <th>Motif</th>
              </tr>
            </thead>
            <tbody>
              {% for a in absences_planning %}
                <tr class="{{ a.class }}">
                  <td>{{ a.nom }}</td>
                  <td>{{ a.prenom }}</td>
                  <td>{{ a.debutAff }}</td>
                  <td>{{ a.finAff }}</td>
                  <td>{{ a.motif }}{{ a.nonValidee }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

        {% if config('Absences-planning') in [3,4] %}
          <h3 style='text-align:left;margin:40px auto 0 auto; width: 90%;'>Liste des présents et absents</h3>

          <table id='tablePlanningAbsences' class='CJDataTable' data-sort='[[0, "asc"],[1, "asc"]]' >
            <thead>
              <tr>
                <th>Agent</th>
                <th>Présence</th>
                <th>Absences</th>
              </tr>
            </thead>
            <tbody>
              {% for p in presents %}
                <tr>
                  <td>{{ p.nom }}</td>
                  <td style='padding-left:15px;'>{{ p.site }}{{ p.heures }}</td>
                  <td style='padding-left:15px;'>
                    {% for a in p.absences %}
                      {{ a.motif }}{{ a.heures }}{{ a.nonValidee }}<br/>
                    {% endfor %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>

  {% include 'planning/poste/save_model_form.html.twig' %}
  {% include 'planning/poste/delete_form.html.twig' %}
  {% include 'planning/poste/import_form.html.twig' %}
{% endblock %}
