{# planning/poste/date-menu.html.twig #}

{% block specificjs %}
  <script type="text/JavaScript" src='js/planning-undo.js'></script>
  <script type="text/JavaScript" src='js/planning-redo.js'></script>
{% endblock %}

<!-- Show title and calendar widgets -->
<div id="divcalendrier" class="container">
  <form name='form' method='get' action='#'>
    <input type='hidden' id='date' name='date' value='{{ date }}' data-set-calendar='{{ date }}' />
    <input type='hidden' id='site' name='date' value='{{ site }}' />
  </form>

  <div id="pl-header" class="row">
    <div id="pl-calendar" class="col-auto m-4 mt-3 datepicker {{ week_view ? 'datepickerSemaine' }}" data-date="{{date}}"></div>
    <div class="col-7" id="pl-title">
      <div class="row" id='week_planning'>
        Semaine {{ affSem }}
      </div>

      <div class="row" id="semaine_planning">
        Du {{ dates[0] | date("d/m/Y") }} au {{ dates[6] | date("d/m/Y")}}.
      </div>

      {% if not week_view %}
        <div class="row nowrap" id="date_planning">
          Planning du {{ date | datefull }}
          {% if public_holiday %}
            <font id='ferie'>{{ public_holiday }}</font>
          {% endif %}
        </div>
      {% endif %}

      <div class="row noprint" id="tab_jours">
        <ul class="days_ul">
          <li><a href="{{ path('home', {date: dates[0]}) }}" {% if date == dates[0] and not week_view %} class="active" {% endif %}>Lundi</a> / </li>
          <li><a href="{{ path('home', {date: dates[1]}) }}" {% if date == dates[1] and not week_view %} class="active" {% endif %}>Mardi</a> / </li>
          <li><a href="{{ path('home', {date: dates[2]}) }}" {% if date == dates[2] and not week_view %} class="active" {% endif %}>Mercredi</a> / </li>
          <li><a href="{{ path('home', {date: dates[3]}) }}" {% if date == dates[3] and not week_view %} class="active" {% endif %}>Jeudi</a> / </li>
          <li><a href="{{ path('home', {date: dates[4]}) }}" {% if date == dates[4] and not week_view %} class="active" {% endif %}>Vendredi</a> / </li>
          <li><a href="{{ path('home', {date: dates[5]}) }}" {% if date == dates[5] and not week_view %} class="active" {% endif %}>Samedi</a></li>
          {% if config('Dimanche') %}
            <li> / <a href="{{ path('home', {date: dates[6]}) }}" {% if date == dates[6] and not week_view %} class="active" {% endif %}>Dimanche</a> </li>
          {% endif %}
          <li> / <a href="{{ asset('week') }}" {% if week_view %} class="active" {% endif %}>Semaine</a></li>
        </ul>
      </div>

      <!-- Show informations -->

    </div>

    <!-- Show action icons -->
    <div id="pl-buttons" class="col">
      <div id="validation" class="row justify-content-end">
        {% if not week_view %}

          {% if ( userCan('300', site) or userCan('1000', site) ) and config('CatAFinDeService') %}
            <div id="pl-verif-categorie-A" class="col-auto"></div>
          {% endif %}

          <div class="col-auto pl-validation" style="{{ locked ?: 'display:none'}}">
            <u>Validation</u><br/>
            {{ lockPerson }} {{ lockDate | datefr }}
          </div>

          {% if userCan('300', site) or userCan('1000', site) %}
            <button id="icon-lock" type="button" class="col-auto btn btn-icon" {% if not locked %} style="display:none;" {% endif %} >
              <span class="col-auto pl-icon pl-icon-lock pointer noprint" title="Déverrouiller le planning" ></span>
            </button>
            <button id="icon-unlock" type="button" class="col-auto btn btn-icon" {% if locked %} style="display:none;" {% endif %}>
              <span id="icon-unlock" class="col-auto pl-icon pl-icon-unlock pointer noprint" title="Verrouiller le planning"></span>
            </button>
          {% endif %}

          {% if userCan('300', site) %}
            <button id="planning-save" type="button" class="col-auto btn btn-icon disabled" data-bs-target="#SaveModal">
              <span class="pl-icon pl-icon-save" title="Enregistrer comme modèle"></span>
            </button>

            <button id="planning-import" type="button" class="col-auto btn btn-icon" data-bs-toggle="modal" data-bs-target="#ImportModal" style="{{ locked ? 'display:none;' }}">
              <span class="pl-icon pl-icon-open" title="Importer un modèle"></span>
            </button>

            <button id="planning-drop" type="button" class="col-auto btn btn-icon" data-bs-toggle="modal" data-bs-target="#DropModal" style="{{ locked ? 'display:none;' }}">
              <span class="pl-icon pl-icon-drop" title="Supprimer le planning"></span>
            </button>
          {% endif %}

        {% endif %}

          <button href="javascript:print();" onclick="location.href='javascript:print()';" class="col-auto btn btn-icon">
            <span class="pl-icon pl-icon-printer" title="Imprimer le planning"></span>
          </button>

          <button  onclick="location.href='{{ path('home') }}'" class="col-auto btn btn-icon">
            <span class="pl-icon pl-icon-refresh" title="Actualiser">
          </button>
        </div>

      {% if (userCan('300', site) or userCan('1000', site)) and not locked and not week_view %}
      <div class="row justify-content-end" id="undo-redo" style="{{ locked ? 'display:none;' }}">
        <button id="undo-action" onclick="location.href='javascript:vois(0)';" class="col-auto btn btn-icon {% if not undoable %} isDisabled {% endif %}">
          <span class="pl-icon pl-icon-undo"></span>
        </butonn>

        <button class="col-auto btn btn-icon {% if not redoable %} isDisabled {% endif %}" id="redo-action" onclick="location.href='javascript:vois(0)';">
          <span class="pl-icon pl-icon-redo"></span>
        </button>
      </div>
      {% endif %}

      {% if config('Multisites-nombre') > 1 %}
        <div class="row">
          <h3 id="h3-Multisites" class="mt-3 pe-2">{{ siteName(site) }}</h3>
        </div>
      {% endif %}
    </div>

  </div>
</div>
