{# planning/poste/model_form.html.twig #}

<div style="text-align:center">
  <input type='hidden' name='site' value='{{ site }}' />

  {% if models | length == 0 %}
    <div>Aucun modèle enregistré</div>
  {% else %}
    <span style="color:red;">
      Attention, le planning actuel sera remplacé par le modèle
    </span>
    <br />
    <br />

    {% if models | length > 1 %}
      Sélectionnez le modèle à importer
      <br />
      <br />
      <form name='form' method='post' action='{{ asset("modelimport") }}' onsubmit='return ctrl_form("nom");'>
        <input type='hidden' name='CSRFToken' value='{{ CSRFToken }}' />
        <input type='hidden' name='date' value='{{ date }}' />
        <input type='hidden' name='site' value='{{ site }}' />
        <select name='model' id='model'>
          <option value=''>&nbsp;</option>
          {% for m in models %}
            {% if m.isWeek %}
              <option value='{{ m.model_id }}'>{{ m.nom }} (semaine)</option>
            {% else %}
              <option value='{{ m.model_id }}'>{{ m.nom }}</option>
            {% endif %}
          {% endfor %}
        </select><br/>
        Importer les absents ?&nbsp;&nbsp;
        <input type='checkbox' name='absents' checked='checked' /><br/><br/>
        <input type="submit" value="Valider" />
        <input type="button" value="Annuler" onclick="$('#import-model-dialog').dialog('close');" />
      </form>
    {% else %}
      {% set model = models | first  %}
        <form name='form' method='get' action='{{ asset("modelimport") }}' onsubmit='return ctrl_form("nom");'>
          <input type='hidden' name='CSRFToken' value='{{ CSRFToken }}' />
          <input type='hidden' name='model' value='{{ model.model_id }}' />
          <input type='hidden' name='date' value='{{ date }}' />
          <input type='hidden' name='site' value='{{ site }}' />
          {% if model.isWeek %}
            Importer le modèle "{{ model.nom }}" (semaine)?<br/><br/>
          {% else %}
            Importer le modèle "{{ model.nom }}"<br/><br/>
          {% endif %}
          Importer les absents ?&nbsp;&nbsp;
          <input type='checkbox' name='absents' checked='checked' /><br/><br/>
          <input type="submit" value="Oui" />
          <input type="button" value="Non" onclick="$('#import-model-dialog').dialog('close');" />
        </form>

    {% endif %}
  {% endif %}
</div>
