{# framework/edit_lines.html.twig #}
{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type='text/JavaScript' src="{{ app.request.getBaseURL() }}/js/plb/framework.js"> </script>
{% endblock %}

{% block page %}
    <h3>Lignes de séparation</h3>
    {% if id is defined %}
      <b>Modification du nom</b><br/><br/>
    {% else %}
      <b>Ajout d'une nouvelle ligne</b><br/><br/>
    {% endif %}
    <form action="{{ asset('framework-line') }}" method='post' >
      <input type='hidden' name='CSRFToken' value='{{ CSRFToken }}' />
      <input type='hidden' name='cfg-type' value='lignes_sep' />
      <input type='hidden' name='id' value="{{ (id is defined) ? id : '' }}" />
      <table class='tableauFiches' style='width:700px;'>
        <tr>
          <td style='width:150px;'><label for='nom'>Nom</label></td>
          <td><input type='text' name='nom' value="{{ (nom is defined) ? (nom | raw) : '' }}" class='ui-widget-content ui-corner-all'/></td>
        </tr>
        <tr>
          <td colspan='2' style='text-align:center;padding-top:20px; width:550px;'>
            <input type='button' value='Annuler' onclick="document.location.href='{{ asset("framework") }}';" class='ui-button'/>
            <input type='submit' value='Valider' class='ui-button'/>
          </td>
        </tr>
      </table>
    </form>
{% endblock %}

