{# framework/edit_lines.html.twig #}
{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/framework.js') }}"> </script>
{% endblock %}

{% block page %}
  <div id="content-admin">
      <h3>Lignes de séparation</h3>
      <div class="admin-div">
        {% if id is defined %}
          <b>Modification du nom</b><br/><br/>
        {% else %}
          <b>Ajout d'une nouvelle ligne</b><br/><br/>
        {% endif %}
      <form action="{{ asset('framework-line') }}" method="post" novalidate>
        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}" />
        <input type="hidden" name="cfg-type" value="lignes_sep" />
        <input type="hidden" name="id" value="{{ (id is defined) ? id : '' }}" />
        
        <div class="row my-2 gx-5">
          <label class="col-2 col-form-label aRight" for="nom">{% trans %}Name{% endtrans %} :</label>
          <div class="col-2">
            <input type="text" name="nom" id="nom" value="{{ (nom is defined) ? (nom) : '' }}" class="form-control form-control-sm center" required/>
          </div>
          <div class="col-auto">
            <div class="invalid-feedback" id="line-feedback">{% trans from 'validators' %}This value should not be blank.{% endtrans %}</div>
          </div>
        </div>

        <div class="row my-4 gx-5">
          <div class="col-1 offset-1">
            <button type="button" onclick="document.location.href='{{ asset("framework") }}';" class="btn btn-secondary">{% trans %}Cancel{% endtrans %}</button>
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-primary">{% trans %}Confirm{% endtrans %}</button>
          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock %}

