{# framework/edit_group.html.twig #}
{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/framework.js') }}"></script>
  <script type="text/JavaScript">
    grp_nom=new Array();
    {% for elem in groupes %}
      grp_nom.push("{{ elem.nom | lower }}");
    {% endfor %}
  </script>
  {% if config('Multisites-nombre') > 1 %}
    <script type="text/JavaScript">
      $(document).ready(function(){
        $(".hiddenOptions").hide();
        $(".optionSite"+$("#selectSite").val()).show();
      });
      function tabOptions(item){
        $(".hiddenOptions").hide();
        $(".optionSite"+item.value).show();
        $(".selectTableaux").val("");
      }
    </script>
  {% endif %}
{% endblock %}

{% block page %}
  <div id="content-admin">
    {% if id is not null %}
      <h3> Modification du groupe </h3>
    {% else %}
      <h3> Nouveau groupe </h3>
    {% endif %}
    <div class="admin-div">
      <form name="form" method="post" action="{{ asset('framework-group') }}" novalidate>
        <input type="hidden" name="id" value="{{ id }}" />
        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}" />

        <div class="row my-2 gx-5">
          <label class="col-2 col-form-label text-end" for="Nom">
            {% trans %} Group name {% endtrans %} :
          </label>
          <div class="col-2">
            <input type="text" name="nom" id="Nom" value="{{ groupe.nom }}" class="form-control form-control-sm" required/>
          </div>
          <div class="col-auto">
            <div class="invalid-feedback" id="name-feedback">
              {% trans from 'validators' %} This value should not be blank. {% endtrans %}
            </div>
          </div>
        </div>

        {% if config('Multisites-nombre') > 1 %}
          <div class="row gx-5">
            <label class="col-2 col-form-label text-end" for="selectSite">
              {% trans %} Site {% endtrans %} :
            </label>
            <div class="col-2">
              <select name="site" id="selectSite" class="form-select form-select-sm" onchange="tabOptions(this)">
                  <option value=""></option>
                  {% for i in 1..config('Multisites-nombre') %}
                    <option value="{{ i }}" {% if groupe.site == i %} selected {% endif %}>{{ multisites[i] }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
        {% endif %}

        <div class="row">
          <p> Choisissez les tableaux que vous souhaitez affecter à chacun des jours de la semaine</p>
        </div>

        {% for jour in semaine %}
          <div class="row gx-5">
            <label class="col-2 col-form-label text-end" for="{{ jour }}">{{ jour }} :</label>
            <div class="col-2">
              <select name="{{ jour }}" id="{{ jour }}" class="form-select form-select-sm" required>
                 <option value=""></option>
                  {% for tab in tableaux %}
                    <option value="{{ tab.tableau }}" {% if id and tab.tableau == groupe[jour] %} selected {% endif %} class="optionSite{{tab.site}} hiddenOptions">{{ tab.nom }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
        {% endfor %}

        <div class="row my-4 gx-5">
          <div class="col-1 offset-1">
            <button type="button" onclick="document.location.href='{{ asset('framework')}}';" class="btn btn-secondary">
              {% trans %} Cancel {% endtrans %}
            </button>
          </div>
          <div class="col-1">
            <button type="submit" id="submit" class="btn btn-primary">
              {% trans %} Confirm {% endtrans %}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
