{# templates/framework/index.html.twig #}
{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/framework.js') }}"></script>
  <script type="text/JavaScript">
    $(document).ready(function() {
      
      $('.copy-table').click(function(e) {
        e.preventDefault();
        id = $(this).data('id');
        $('#copy-modal').modal('show');
        $('#copy-form-id').val(id);
      });

      $('#copy-form').on('submit', function(e) {
        var text = sanitize_string($('#model-name').val());
        if (!text) {
          $('#model-name').addClass('is-invalid');
          e.preventDefault();
          e.stopPropagation();
        }
        $('#model-name').val(text);
      })

      $('#model-name').on('input', function(e) {
        $(this).removeClass('is-invalid');
      })

    });
  </script>
{% endblock %}

{% block page %}
  <h3>Gestion des tableaux</h3>
  <div id="tableaux-listes" class="tableaux-cfg">
    <h4>Liste des tableaux</h4>
    <p>
      <a href="{{ asset('framework/add') }}" class="btn btn-primary">Nouveau tableau</a>
    </p>
    <form name="form" method="get" action="{{ asset('framework')}}">
      <input type="hidden" name="modification" value ="tableau"/>
      <table class="CJDataTable" id="table-list" data-noExport="1" data-sort='[[1,"asc"]]'>
        <thead>
          <tr>
            <th class="dataTableNoSort">
              <input type="checkbox" class="CJCheckAll" />
            </th>
            <th>Nom</th>
            {% if nbSites > 1 %}
              <th>Site</th>
            {% endif %}
            <th class="dataTableDateFR">Dernière utilisation</th>
          </tr>
        </thead>
        <tbody>
          {% for elem in tableaux %}
            <tr id="tr-tableau-{{ elem.tableau }}" >
              <td style="white-space:nowrap;">
                <input type="checkbox" name="chk{{ loop.index0 }}" value="{{ elem.tableau }}" class="chk1"/>
                <input type="hidden" name="numero" id="numero" value ="{{ elem.tableau }}" />
                <a href="{{ asset('framework') }}/{{ elem.tableau }}">
                  <span class="pl-icon pl-icon-edit" title="Modifier"></span>
                </a>
                <button type="button" class="btn btn-icon copy-table" data-id ="{{ elem.tableau }}">
                  <span class="pl-icon pl-icon-copy" id="copy-tab-link{{ elem.tableau }}" title="{% trans %}Copy{% endtrans %}"></span>
                </button>
                <a href="javascript:supprimeTableau({{ elem.tableau }});">
                  <span class="pl-icon pl-icon-dropblack" title="Supprimer"></span>
                </a>
              </td>
              <td id="td-tableau-{{ elem.tableau }}-nom">{{ elem.nom }}</td>
              {% if nbSites > 1 %}
                <td>{{ elem.multisite }}
              {% endif %}
              <td>{{ elem.tabAffect }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
    <p>
      <input type="button" value="Supprimer la sélection" class="btn btn-danger" onclick="supprime_select('chk1','{{ asset("framework-batch_delete") }}');">
    </p>
    {% if tableauxSupprimes is not empty %}
      <p style="margin-top:30px;">
        Récupération d'un tableau supprimé
        <select id="tableauxSupprimes">
          <option value="">&nbsp;</option>
            {% for item in tableauxSupprimes %}
              <option value="{{ item.tableau }}">{{ item.nom }}&nbsp;(utilisation : {{ item.tabAffect }})</option>
            {% endfor %}
        </select>
      </p>
    {% endif %}
  </div>
  <div id="tableaux-groupes" class="tableaux-cfg" >
    <h4>Groupes</h4>
    <p>
      <input type="button" value="Nouveau groupe" class="btn btn-primary" onclick="location.href='{{ asset("framework-group/add") }}';" />
    </p>
    <table class="CJDataTable" id="table-groups" data-noExport="1" data-sort='[[1,"asc"]]'>
      <thead>
        <tr>
          <th class="dataTableNoSort">&nbsp;</th>
          <th>Nom</th>
          {% if nbSites > 1 %}
            <th>Site</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if groupes is iterable %}
          {% for groupe in groupes %}
            <tr id="tr-groupe-{{ groupe.id }}">
              <td>
                <a href="{{ asset('framework-group') }}/{{ groupe.id }}">
                  <span class="pl-icon pl-icon-edit" title="Modifier"></span>
                </a>
                <a href="javascript:supprimeGroupe({{ groupe.id }});">
                  <span class="pl-icon pl-icon-dropblack" title="Supprimer"></span>
                </a>
              </td>
              <td id="td-groupe-{{ groupe.id }}-nom">{{ groupe.nom }}</td>
              {% if nbSites > 1 %}
                <td>{{ groupe.multisite }} </td>
              {% endif %}
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
  <div id="tableaux-separations" class="tableaux-cfg">
    <h4>Lignes de séparation</h4>
    <p>
      <input type="submit" value="Nouvelle ligne" class="btn btn-primary" onclick='location.href="{{ asset('framework-line/add') }}";'/>
    </p>
    <table class="CJDataTable" id="table-separations" data-noExport="1"  data-sort='[[1, "asc"]]'>
      <thead>
        <tr>
          <th class="dataTableNoSort">&nbsp;</th>
          <th>Nom</th>
        </tr>
      </thead>
      <tbody>
        {% if lignes %}
          {% for elem in lignes %}
            <tr id="tr-ligne-{{ elem.id }}" >
              <td>
                <a href="{{ asset('framework-line') }}/{{ elem.id }}">
                  <span class="pl-icon pl-icon-edit" title="Modifier"></span>
                </a>
                {% if elem.delete == true %}
                  <a href="javascript:supprimeLigne({{ elem.id }});">
                    <span class="pl-icon pl-icon-dropblack" title="Supprimer"></span>
                  </a>
                {% endif %}
              </td>
              <td id="td-ligne-{{ elem.id }}-nom" >{{ elem.nom }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

  <div class="modal" id="copy-modal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="copy-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="copy-modal-title">{% trans %}Copy of the selected table{% endtrans %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form id="copy-form" action="{{ path('framework.copy_table') }}" method="post">
          <input type="hidden" name="CSRFToken" value="{{ CSRFSession }}"/>
          <input type="hidden" name="id" id="copy-form-id" value=""/>
          <div class="row justify-content-center">
            <label for="model-name" class="col-auto col-form-label mt-2">{% trans %}Name of the new table{% endtrans %} :</label>
            <div class="col-6 px-0">
              <input type="text" class="form-control mx-0" id="model-name" name="nom" required>
              <div class="invalid-feedback">{% trans %}Please enter a valid model name{% endtrans %}</div>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="copy-form">{% trans %}Confirm{% endtrans %}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
