{# statistics/absence.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  <div id="content-form">
    <h3>Statistiques sur les absences</h3>
    <div class="statistics-div">
      <form name="form" method="get" action="{{ asset('statistics/absence') }}" onsubmit="return verif_form('debut=date1;fin=date2');" novalidate>
        <input type="hidden" id="afficheHeures" value="{{ afficheHeures }}" />

        <div class="row row-search">

          <div class="col-xl-auto">
            <input type="text" readonly class="form-control-plaintext mt-2" id="time-period" value="{% trans with {'%start%': debut, '%end%' : fin} %}From %start% to %end%{% endtrans %}">
          </div>

          <label class="col-xl-auto col-form-label mt-2" for="stat-absences-search-start">{% trans %}Start{% endtrans %} :</label>
          <div class="col-xl-auto ps-0">
            <input id="stat-absences-search-start" type="text" name="debut" class="datepicker form-control start-date" value="{{ debut }}"/>
          </div>

          <label class="col-xl-auto col-form-label mt-2" for="stat-absences-search-end">{% trans %}End{% endtrans %} :</label>
          <div class="col-xl-auto ps-0">
            <input id="stat-absences-search-end" type="text" name="fin" class="datepicker form-control end-date" value="{{ fin }}" required/>
          </div>

          {% if nbSites >1 %}
            <label class="col-xl-auto col-form-label mt-2" for="site-search">{% trans %}Sites{% endtrans %} :</label>
            <div class="col-xl-auto ps-0">
              <select name="perso_id" class="form-select form-select-sm" id="site-search">
                <option value="0" selected>Tous</option>
                {% for i in 1..nbSites %}
                  <option value="{{ i }}"  {% if i == site %} selected {% endif %}> {{ multisites[i-1] }}</option>
                {% endfor %}
              </select>
            </div>
          {% endif %}

          <div class="col-xl-2 ps-0">
            <input type="submit" role="button" value="{% trans %}Search{% endtrans %}" class="btn btn-primary m-2"/>
          </div>
        </div>

        <div class="row">
          <div class="invalid-feedback">{% trans from 'validators' %}Please choose a valid date interval.{% endtrans %}</div>
        </div>
      </form>
      <br/>
      <table id="tableStatAbsences" class="CJDataTable" data-fixedColumns="3" data-responsive="false">
        <thead>
          <tr>
            {% if afficheHeures == true %}
              <th rowspan="2">Agents</th>
              <th rowspan="2">Total<br/>d'absences</th>
              <th rowspan="2" class="dataTableHeureFR">Total<br/>d'heures</th>
            {% else %}
              <th rowspan="1">Agents</th>
              <th rowspan="1">Total<br/>d'absences</th>
            {% endif %}
            {% for elem in motifs %}
              {% if afficheHeures == true %}
                <th colspan="2">{{ elem }}</th>
              {% else %}
                <th colspan="1">{{ elem }}</th>  
              {% endif %}
            {% endfor %}
            {% if afficheHeures == true %}
              </tr>
              <tr>
                {% for elem in motifs %}
                  <th>Nombre</th>
                  <th class="dataTableHeureFR">Heures</th>
                {% endfor %}
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for elem in tab %}
            <tr>
              <td class="no-hover">{{ elem.nom }} {{ elem.prenom }}</td>
              <td class="center nowrap no-hover">{{ elem.total }}</td>
              {% if afficheHeures == true %}
                {% if elem.totalHeures == 'Erreur' %}
                  <td class="center nowrap no-hover" title="Erreur de calcul. Vérifiez les heures de présence de l'agent (Emploi du temps)."> Erreur </td>
                {% else %}
                  <td class="center nowrap no-hover">{{ elem.totalHeures }}</td>
                {% endif %}
              {% endif %}
              {% for motif in motifs %}
                {% if attribute(elem, motif) is defined and elem[motif].total != '' %}
                  <td class="center nowrap bg-yellow">{{ elem[motif].total }}</td>
                {% else %}
                  <td class="center nowrap no-hover"> - </td>
                {% endif %}  
                {% if afficheHeures == true %}
                  {% if attribute(elem, motif) is defined %}
                    {% if elem[motif].heures == 'Erreur' %}
                      <td class="center nowrap bg-yellow" title="Erreur de calcul. Vérifiez les heures de présence de l'agent (Emploi du temps)."> Erreur </td>
                    {% else %}
                      <td class="center nowrap bg-yellow ">{{ elem[motif].heures }}</td>
                    {% endif %}
                  {% else %}
                    <td class="no-hover"></td>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr style="background:#DDDDDD;">
            <th class="no-hover">Totaux</th>
            <th class="nowrap no-hover">{{ totaux._general}}</th>
            {% if afficheHeures == true %}
              {% if totaux._generalHeures == 'Erreur' %}
                <th class="nowrap" title="Erreur de calcul. Vérifiez les heures de présence des agents (Emploi du temps)."> Erreur </th>
              {% else %}
                <th class="nowrap no-hover"> {{ totaux._generalHeures }} </th>
              {% endif %}
            {% endif %}
            {% for motif in motifs %}
              <th class="nowrap no-hover">{{ totaux[motif].frequence }}</th>
              {% if afficheHeures %}
                {% if totaux[motif].heures == 'Erreur' %}
                  <th class="nowrap no-hover" title="Erreur de calcul. Vérifiez les heures de présence de l'agent (Emploi du temps)."> Erreur </th>
                {% else %}
                  <th class="nowrap no-hover">{{ totaux[motif].heures }}</th>
                {% endif %}
              {% endif %}
            {% endfor %}
          </tr>
        </tfoot>
      </table>
      <br/>Exporter
      <a href="{{ path('statistics.export', {name: 'absences', type: 'csv'}) }}">CSV</a>&nbsp;&nbsp;
      <a href="{{ path('statistics.export', {name: 'absences', type: 'xls'}) }}">XLS</a>
    </div>
  </div>
{% endblock %}
