{# statistiquess/presents_absents.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  <div id="content-form">
    <h3>Liste des agents présents et absents</h3>
    <div class="statistics-div">
      <div>
        <form name="form" method="post" action="{{ asset('statistics/attendeesmissing') }}" onsubmit="return verif_form('from=date1;to=date2');" novalidate>
          
          <div class="row row-search m-3 mb-0">

            <label class="col-xl-auto col-form-label mt-2" for="stat-presence-search-start">{% trans %}Start{% endtrans %} :</label>
            <div class="col-xl-auto ps-0">
              <input id="stat-presence-search-start" type="text" name="from" class="datepicker form-control start-date" value="{{ from }}"/>
            </div>

            <label class="col-xl-auto col-form-label mt-2" for="stat-presence-search-end">{% trans%}End{% endtrans %} :</label>
            <div class="col-xl-auto ps-0">
              <input id="stat-presence-search-end" type="text" name="to" class="datepicker form-control end-date" value="{{ to }}" required/>
            </div>

            <div class="col-xl-2 ps-0">
              <input type="submit" role="button" value="{% trans %}Search{% endtrans %}" class="btn btn-primary m-2"/>
              <input type="button" onclick="location.href='{{ asset('statistics/attendeesmissing') }}?reset=1';" class="btn btn-secondary" value="{% trans%}Clear{% endtrans %}" />
            </div>
          </div>

          <div class="row m-3 mt-1">
            <div class="invalid-feedback">{% trans from 'validators' %}Please choose a valid date interval.{% endtrans %}</div>
          </div>

        </form>
      </div>

      <div class="presents-absents">
        {% for day in by_date %}
          {% if day.tab %}
          <h3 class="day">Le {{ day.date }}</h3>
            <table class="CJDataTable">
              <thead>
                <tr>
                  <th>Agent</th>
                  <th>Présence</th>
                  <th>Absences</th>
                </tr>
              </thead>
              <tbody>
                {% for agent in day.tab %}
                <tr>
                    <td class="no-hover">{{ agent.nom }} {{ agent.prenom }}</td>
                    <td class="no-hover">
        {% if agent.presence is defined %}
            {{ agent.presence.site }}{{ agent.presence.heures|e('html') }}
        {% endif %}
                    </td>
                    <td class="no-hover">
        {% if agent.absences is defined %}
            {% for absence in agent.absences %}
          {{ absence.motif }}{% if not absence.all_the_day %}, {{ absence.from }} - {{ absence.to }}{% endif %} {% if absence.valide == 0 %} <b>(non-validée)</b> {% endif %}
          <br/>
            {% endfor %}
        {% endif %}
                  </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
