{# statistics/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}

  <h3>Statistiques</h3>
  <ul>
    <li><a href='{{ asset("statistics/time") }}'>Feuille de temps</a></li>
    <li><a href='{{ asset("statistics/agent") }}'>Par agent</a></li>
    <li><a href='{{ asset("statistics/service") }}'>Par service</a></li>
    <li><a href='{{ asset("statistics/status") }}'>Par statut</a></li>
    <li><a href='{{ asset("statistics/position") }}'>Par poste</a></li>
    <li><a href='{{ asset("statistics/position_summary") }}'>Par poste (Synthèse)</a></li>
    <li><a href='{{ asset("statistics/support_position") }}'>Postes de renfort</a></li>
  </ul>

{% endblock %}
