{# statistics/time.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}

  <table>
    <tr>
      <td style='width:350px;'><b>Du $debutFr au $finFr</b></td>
      <td>
        <form name='form' method='get' action='index.php'>
          <input type='hidden' name='page' />
          <input type='hidden' name='CSRFToken' value='{{ CSRFToken }}' />
          <label for='debut'>Début</label>
          <input type='text' name='debut' class='datepicker' value='{{ debutFr }}' style='margin:0 20px 0 5px;' />
          <label for='fin'>Fin</label>
          <input type='text' name='fin' class='datepicker' value='$finFr' style='margin:0 0 0 5px;' />
          {% if groups is iterable and nbGroups > 1 %}
            {% if checked is not null %}
              <span id='stat-temps-aff-grp'>
                <input type='checkbox' value='on' id='selection_groupe' name='selection_groupe' checked />
                <label for='selection_groupe'>Afficher les heures par groupe de postes</label>
              </span>
            {% else %}
              <span id='stat-temps-aff-grp'>
                <input type='checkbox' value='on' id='selection_groupe' name='selection_groupe'/>
                <label for='selection_groupe'>Afficher les heures par groupe de postes</label>
              </span>
          {% endif %}
          <input type='submit' value='OK' id='submit' class='ui-button' style='margin-left:30px;'/>
        </form>
      </td>
    </tr>
  </table><br/>
  {% if tab is not iterable %}
    Les plannings de la période choisie sont vides.<br/><br/><br/><br/><br/><br/>
  {% else %}
    <table id='tableStatTemps' class='CJDataTable' data-fixedColumns='2'>
      <thead>
        <tr>
          <th>Agents</th>
          <th>Statut</th>
          {% for d in dates %}
            <th class='dataTableHeureFR'>{{ d.1 }}</th>
          {% endfor %}
          {% if nbSites > 1 %}
            {% for i in 1..nbSites %}
              <th class="dataTableHeureFR">{{ multisites[i] }}</th>
            {% endfor %}
          {% endif %}
          {% if groupes_keys is iterable %}
            {% for g in groupes_keys %}
              {% if g != emptystr and g in totauxGroupesPerso %}
                <th class='dataTableHeureFR'> {{ g }} </th>
              {% endif %}
            {% endfor %}
            {% if emptystr in groups_keys and emptystr in totauxGroupesPerso %}
              <th class='dataTableHeureFR' > Autres </th>
            {% endif %}
          {% endif %}
          <th class='dataTableHeureFR' > Total </th>
          <th class='dataTableHeureFR' > Max. </th>
          {% if nbSemaines != 1 %}
            <th class='dataTableHeureFR' > Moyenne<br/>Hebdo. </th>
            <th class='dataTableHeureFR' > Max. Hebdo. </th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for t in tab %}
          <tr style ='vertical-align:top;'>
            <td>{{ t.nom }}</td>
            {% if t.statut is not null %}
              <td>{{ t.statut }}</td>
            {% else %}
              &nbsp;
            {% endif %}
            {% for d in dates %}
              {% if t.total != '-' %}
                <td class ='bg-yellow' style ='text-align:center;'>
              {% else %}
                <td  style ='text-align:center;'>
              {% endif %}
                <strong>{{ t.total }} </strong>
                {% if groupes_keys is not empty %}
                  <br/>
                  {% for g in groupes_keys %}
                    {% if t.group_key is not null %}
                      <br/>
                      {% if g is defined}
                        {{ g }}
                      {% else %}
                        Autres
                      {% endif %}
                      : {{ t.group_key }}
                    {% endif %}
                  {% endfor %}
               {% endif %}
              </td>
            {% endfor %}
            {% if nbSites > 1 %}
              {% for i in 1..nbSites %}
                <td style='text-align: center;'>{{ t.sites[i] }}</td>
                {% if nbSemaines > 1 %}
                  <td style='text-align: center;'>{{ t.sitesSemaine[i] }}</td>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if groupes_keys is not empty %}
              {% for g in groupes_keys %}
                {% if g != emptystr and g in totauxGroupesPerso %}
                  <td style ='text-align : center;'>{{ g.heures_groupe }}</td>
                {% endif %}
                {% if emptystr in groups_keys and emptystr in totauxGroupesPerso %}
                  <td style ='text-align : center;'>{{ g.heures_ }}</td>
                {% endif %}
              {% endfor %}
              {% if nbSemaines != 1 %}
                <td style='{{ t.style }}'>{{ t.total }}</td>
                <td style='text-align : center;'>{{ t.max }}</td>
              {% endif %}
              <td style='{{ t.style }}'>{{ t.semaine }}</td>
              <td style='text-align: center;'>{{ t.hebdo }}</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr style='background:#DDDDDD;' >
            <th colspax='2'> Nombre d'heures</th>
            {% for d in dates %}
              <th>{{ heures[d[0]] }}</th>
            {% endfor %}
            {% if nbSites > 1 %}
              {% for i in 1..nbSites %}
                <th>{{ sitesHeures[i] }}</th>
                {% if nbSemaines != 1 %}
                  <th> &nbsp; </th>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if groupes_keys is not empty %}
              {% for g in groupes_keys %}
                {% if g != emptystr and g in totauxGroupesPerso %}
                  <th> {{ totauxGroupesHeures[g] }}</th>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if emptystr in groupes_keys and emptystr in totauxGroupesPerso %}
              <th>{{ totauxGroupesHeures[emptystr] }}</th>
            {% endif %}
            <th>{{ totalHeures }}</th>
            {% if nbSemaines != 1%}
              <th colspan='3'>&nbsp;</th>
            {% else %}
              <th colspan='1'>&nbsp;</th>
            {% endif %}
          </tr>
          <tr style='background:#DDDDDD;'>
            <th colspan='2'>Nombre d'agents</th>
            {% for d in dates %}
              <th>{{ nbAgents[d[0]]}}</th>
            {% endfor %}
            {% if nbSites >1 %}
              {% for i in 1..nbSites %}
                <th>{{ siteAgents[i] }}</th>
                {% if nbSemaines != 1 %}
                  <th> &nbsp; </th>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if groupes_keys is not empty %}
              {% for g in groupes_keys %}
                {% if g != emptystr and g in totauxGroupesPerso %}
                  <th> {{ totauxGroupesPerso[g] }}</th>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% if emptystr in groupes_keys and emptystr in totauxGroupesPerso %}
              <th>{{ totauxGroupesPerso[emptystr] }}</th>
            {% endif %}
            <th>{{ totalAgents }}</th>
            {% if nbSemaines != 1%}
              <th colspan='3'>&nbsp;</th>
            {% else %}
              <th colspan='1'>&nbsp;</th>
            {% endif %}
          </tr>
        </tfoot>
    </table>
    <br/>Exporter
    <a href='javascript:export_stat("temps","csv");'>CSV</a>&nbsp;&nbsp;
    <a href='javascript:export_stat("temps","xls");'>XLS</a>
  {% endif %}
{% endblock %}
