{# statistics/time.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  <h3>Feuille de temps</h3>
  <table>
    <tr>
      <td style='width:350px;'><b>Du {{ debutFr }} au {{ finFr }}</b></td>
      <td>
        <form name='form' method='get' action=''>
          <input type='hidden' name='page' />
          <input type='hidden' name='CSRFToken' value='{{ CSRFToken }}' />
          <label for='debut'>Début</label>
          <input type='text' name='debut' class='datepicker' value='{{ debutFr }}' style='margin:0 20px 0 5px;' />
          <label for='fin'>Fin</label>
          <input type='text' name='fin' class='datepicker' value='{{ finFr }}' style='margin:0 0 0 5px;' />
          {% if groups_exist %}
            <span id='stat-temps-aff-grp'>
              <input type='checkbox' value='on' id='selection_groupe' name='selection_groupe' {{ checked }} />
              <label for='selection_groupe'>Afficher les heures par groupe de postes</label>
            </span>
          {% endif %}
          <input type='submit' value='OK' id='submit' class='ui-button' style='margin-left:30px;'/>
        </form>
      </td>
    </tr>
  </table><br/>
  {% if tab|length < 1 %}
    Les plannings de la période choisie sont vides.<br/><br/><br/><br/><br/><br/>
  {% else %}
    <table id='tableStatTemps' class='CJDataTable' data-fixedColumns='2'>
      <thead>
        <tr>
          <th>Agents</th>
          <th>Statut</th>
          {% for d in dates %}
            <th class='dataTableHeureFR'>{{ d[1] | raw }}</th>
          {% endfor %}
          {% if nbSites > 1 %}
            {% for i in 1..nbSites %}
              <th class="dataTableHeureFR">{{ multisites[i-1] | raw }}</th>
              {% if nbSemaines!= 1 %}
                <th class="dataTableHeureFR">Moyenne Hebdo.</th>
              {% endif %}
            {% endfor %}
          {% endif %}
          {% for g in groups %}
            <th class='dataTableHeureFR'> {{ g.valeur }} </th>
          {% endfor %}
          <th class='dataTableHeureFR' > Total </th>
          <th class='dataTableHeureFR' > Max. </th>
          {% if nbSemaines != 1 %}
            <th class='dataTableHeureFR' > Moyenne<br/>Hebdo. </th>
            <th class='dataTableHeureFR' > Max. Hebdo. </th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for t in tab %}
          <tr style ='vertical-align:top;'>
            <td>{{ t.nom }} {{ t.prenom }}</td>
            {% if t.statut is not null %}
              <td>{{ t.statut | raw }}</td>
            {% else %}
              <td>&nbsp;</td>
            {% endif %}
            {% for d in dates %}
              {% if t[d[0]].total != '-' %}
                <td class ='bg-yellow' style ='text-align:center;'>
              {% else %}
                <td  style ='text-align:center;'>
              {% endif %}
                <strong>{{ t[d[0]].total }} </strong>
                {% if groups is iterable %}
                  <br/>
                  {% for g in groups %}
                    {% if t[d[0]].groupe[g.id] is not null %}
                      <br/>
                      {{ g.valeur }} : {{ t[d[0]].groupe[g.id] }}
                    {% endif %}
                  {% endfor %}
               {% endif %}
              </td>
            {% endfor %}
            {% if nbSites > 1 %}
              {% for i in 1..nbSites %}
                <td style='text-align: center;'>{{ t.sites[i-1] }}</td>
                {% if nbSemaines != 1 %}
                  <td style='text-align: center;'>{{ t.sitesSemaine[i-1] }}</td>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% for g in groups %}
              <td style='text-align:center;'>
                {% if t.groupe[g.id] is defined %}
                  {{ t.groupe[g.id] }}
                {% else %}
                  -
                {% endif %}
              </td>
            {% endfor %}
            {% if nbSemaines != 1 %}
              {% if t.diff1 > 0 %}
              <td style='text-align : center; font-weight: bold; background : red ;'> {{ t.total }} </td>
              {% else %}
                {% if t.diff1 <= 0.5 and t.diff2 <= 0.5 %}
                  <td style='text-align : center; font-weight: bold; background : lightgreen ;'>{{ t.total }} </td>
                {% else %}
                  <td style='text-align : center;'>{{ t.total }} </td>
                {% endif %}
              {% endif %}
              <td style='text-align : center;'> {{ t.max }} </td>
            {% endif %}
            {% if t.diff1 > 0 %}
              <td style='text-align : center; font-weight: bold; background : red ;'>{{ t.semaine }}</td>
            {% else %}
              {% if t.diff1 <= 0.5 and  t.diff2 <= 0.5 %}
                <td style='text-align : center; font-weight: bold; background : lightgreen ;'>{{ t.semaine }}</td>
              {% else %}
                <td style='text-align : center;'>{{ t.semaine }}</td>
              {% endif %}
            {% endif %}
            <td style='text-align : center;'>{{ t.heuresHebdo }}</td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr style='background:#DDDDDD;' >
            <th colspan='2'> Nombre d'heures</th>
            {% for d in dates %}
              <th>{{ heures[d[0]] }}</th>
            {% endfor %}
            {% if nbSites > 1 %}
              {% for i in 1..nbSites %}
                <th> {{ sitesHeures[i] }}</th>
                {% if nbSemaines != 1 %}
                  <th> &nbsp; </th>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% for g in groups %}
              <th> {{ totauxGroupesHeures[g.id] }} </th>
              {# <th> {{ g.valeur }}{{ totauxGroupesHeures[g.id] }}</th> #}
            {% endfor %}
            <th>{{ totalHeures }}</th>
            {% if nbSemaines != 1%}
              <th colspan='3'>&nbsp;</th>
            {% else %}
              <th colspan='1'>&nbsp;</th>
            {% endif %}
          </tr>
          <tr style='background:#DDDDDD;'>
            <th colspan='2'>Nombre d'agents</th>
            {% for d in dates %}
              <th>{{ nbAgents[d[0]] }}</th>
            {% endfor %}
            {% if nbSites >1 %}
              {% for i in 1..nbSites %}
                <th> {{ siteAgents[i] }}</th>
                {% if nbSemaines != 1 %}
                  <th> &nbsp; </th>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% for g in groups %}
              <th> {{ totauxGroupesPerso[g.id] }}</th>
            {% endfor %}
            <th>{{ totalAgents }}</th>
            {% if nbSemaines != 1%}
              <th colspan='3'>&nbsp;</th>
            {% else %}
              <th colspan='1'>&nbsp;</th>
            {% endif %}
          </tr>
        </tfoot>
    </table>
    <br/>Exporter
    <a href="javascript:export_stat('temps','csv');">CSV</a>&nbsp;&nbsp;
    <a href="javascript:export_stat('temps','xls');">XLS</a>
  {% endif %}
{% endblock %}
