{# position/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/position.js') }}?version={{ version }}"></script>
{% endblock %}
{% block page %}
  <div id="content-form">
    {% if id is defined and id is not null %}
      <h3>Modification du poste</h3>
    {% else %}
      <h3>Ajout d'un poste</h3>
    {% endif %}
    <div class="admin-div">
      <form method='post' action="{{ asset('position') }}" name='form'>
        <input type='hidden' name='CSRFToken' value="{{ CSRFToken }}"/>
        <input type='hidden' name='group_id' value='{{ group_id }}'/>
        {% if id is defined %}
            <input type='hidden' name='id' value='{{ id }}'/>
        {% else %}
            <input type='hidden' name='id' value=''/>
        {% endif %}
        <table style='width:100%'>
        <tr style='vertical-align:top;'>
          <td style='width:50%'>
              <table>
                <tr>
                  <td style='width:160px'>Nom du poste :</td>
                  <td>
                    <input type='text' value='{{ nom }}' name='nom' style='width:250px' class='ui-widget-content ui-corner-all'/>
                  </td>
                </tr>
                {% if nbSites > 1 %}
                  <tr>
                    <td>Site</td>
                    <td>
                      <select name='site' style='width:255px' class='ui-widget-content ui-corner-all'>
                        <option value='0'>&nbsp;</option>
                        {% for i in 0..nbSites-1 %}
                          <option value='{{i+1}}' {{ selectedSites[i] }}> {{ multisite[i] }} </option>
                        {% endfor %}
                      </select>
                    </td>
                  </tr>
                {% endif %}
                <tr>
                  <td>Etage :</td>
                  <td style='white-space: nowrap;'>
                    <select name='etage' id='etage' style='width:255px' class='ui-widget-content ui-corner-all'>
                      <option value=''>&nbsp;</option>
                      {% for floor in floors %}
                        <option value="{{floor.id}}" {% if etage == floor.id %} selected {% endif %}>{{ floor.value }}</option>                        
                      {% endfor %}
                    </select>
                    <button type="button" class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#add-floor-modal">
                      <span class="pl-icon pl-icon-add ps-3" title="Ajouter un étage"></span>
                    </button>
                  </td>
                </tr>
                {% if not config('Planook') %}
                  <tr>
                    <td>Groupe:</td>
                    <td style='white-space: nowrap;'>
                      <select name='groupe' id='groupe' style='width:255px' class='ui-widget-content ui-corner-all'>
                        <option value=''>&nbsp;</option>
                        {% for group in groups %}
                          <option value="{{ group.id }}" {% if groupe == group.id %} selected {% endif %} >{{ group.value }}</option>
                        {% endfor %}
                      </select>
                      <button type="button" class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#add-group-modal">
                        <span class="pl-icon pl-icon-add ps-3" title="Ajouter un groupe"></span>
                      </button>
    
                    </td>
                  </tr>
                  <tr>
                    <td style='padding-top:20px;'>Obligatoire / renfort :</td>
                    <td style='padding-top:20px;'>
                      <input type='radio' name='obligatoire' value='Obligatoire' {{ obligatoire }}/> Obligatoire
                      <input type='radio' name='obligatoire' value='Renfort' {{ renfort }}/> Renfort
                    </td>
                  </tr>
                  <tr>
                    <td>Bloquant :</td>
                    <td>
                      <input type='radio' name='bloquant' value='1' {{ bloq1 }}/> Oui
                      <input type='radio' name='bloquant' value='0' {{ bloq2 }}/> Non
                    </td>
                  </tr>
                  <tr>
                    <td><span title='Compter les heures dans le quota de service public'>Quota de SP :</span></td>
                    <td>
                      <input type='radio' name='quota_sp' value='1' {{ quota_sp1 }}/> Oui
                      <input type='radio' name='quota_sp' value='0' {{ quota_sp2 }}/> Non
                    </td>
                  </tr>
                  <tr>
                    <td>Statistiques :</td>
                    <td>
                      <input type='radio' name='statistiques' value='1' {{ stat1 }}/> Oui
                      <input type='radio' name='statistiques' value='0' {{ stat2 }}/> Non
                    </td>
                  </tr>
                  <tr>
                    <td>Compatible télétravail :</td>
                    <td>
                      <input type='radio' name='teleworking' value='1' {{ teleworking1 }}/> Oui
                      <input type='radio' name='teleworking' value='0' {{ teleworking2 }}/> Non
                    </td>
                  </tr>
                  <tr>
                    <td>Poste repas :</td>
                    <td>
                      <input type='radio' name='lunch' value='1' {{ lunch1 }}/> Oui
                      <input type='radio' name='lunch' value='0' {{ lunch2 }}/> Non
                    </td>
                  </tr>
                {% endif %}
              </table>
            </td>

            {% if not config('Planook') %}
              <td>
                <table>
                  <tr style='vertical-align:top;'>
                    <td>Activités :</td>
                    <td>
                      {% for s in skillList %}
                        {% if s.id in activites %}
                          <input type="checkbox" name="activites[]" value="{{ s.id }}" checked="checked" /> {{ s.name }}<br/>
                        {% else %}
                          <input type="checkbox" name="activites[]" value="{{ s.id }}" /> {{ s.name }}<br/>
                        {% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                  {% if categoriesList is iterable and not categoriesList is empty %}
                    <tr style='vertical-align:top;'>
                      <td style='padding-top:20px;'> Cat&eacute;gories<sup>*</sup> :</td>
                      <td style='padding-top:26px;'>
                        {% for c in categoriesList %}
                          {% if c.id in categories %}
                            <input type="checkbox" name="categories[]" value="{{ c.id }}" checked="checked" /> {{ c.valeur }}<br/>
                          {% else %}
                            <input type="checkbox" name="categories[]" value="{{ c.id }}" /> {{ c.valeur }}<br/>
                          {% endif %}
                        {% endfor %}
                      </td>
                    </tr>
                  {% endif %}
                </table>
              </td>
            {% endif %}
          </tr>
          <tr>
            <td colspan='2' style='text-align:center;'><br/><br/>
              <input type='hidden' value={{id}} name='id'/>
              <a href="{{ asset('position') }}" role="button" class="btn btn-secondary">Annuler</a>
                  &nbsp;&nbsp;&nbsp;
              <input type="submit" role="button"  value="Valider" class="btn btn-primary"/>
            </td>
          </tr>
          <tr>
            <td colspan='2' class='noteBasDePage'>* Si aucune cat&eacute;gorie n&apos;est s&eacute;lectionn&eacute;e, les agents de toutes les cat&eacute;gories pourront &ecirc;tre plac&eacute;s sur ce poste.
            </td>
          </tr>
        </table>
      </form>

      <!--  Modification de la liste des étages (Modale) -->
      <div class="modal modal-lg" id="add-floor-modal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="add-floor-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="add-floor-modal-title">Liste des étages</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <p class="validateTips mb-1">Ajoutez, supprimez et modifiez l'ordre des étages dans le menu déroulant.</p>
              <form id="add-floor" novalidate>
                <div class="row">
                  <div class="col-5">
                    <input type="text" id="add-floor-text" class="form-control form-control-sm mt-2" style="width:100%;" required>
                    <div class="invalid-feedback">Etage invalide</div>
                  </div>
                  <div class="col-1">
                    <button type="submit" class="btn btn-primary m-2 mb-0">Ajouter</button>
                  </div>
                </div>
              </form>

              <div class="row row-header rounded-top-1 m-0 mt-2">
                <i class="col-auto p-2 bi bi-arrow-down-up" aria-hidden="true"></i>
                <span class="col-10 ps-0">Nom</span>
              </div>

              <form id="arrange-floors">
                <fieldset class="container-fluid">
                  <ul id="floors_sortable">
                    {% if floors is iterable %}
                      {% for f in floors %}
                        <li class="row row-sortable" id="li_{{ f.id }}">
                          <i class="col-auto p-0 ps-2 bi bi-arrow-down-up"></i>
                          <span class="col-10 p-2" id="valeur_{{ f.id }}">{{ f.value }}</span>
                           {% if f.id not in usedFloors %}
                            <span class="col-1 ps-5" onclick="$(this).closest('li').hide();">
                              <i class="bi bi-trash3-fill"></i>
                            </span>
                          {% endif %}
                        </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </fieldset>
              </form>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" form="arrange-floors">Enregister</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
          </div>
        </div>
      </div>

      <!--  Modification de la liste des groupes (Modal) -->
      <div class="modal modal-lg" id="add-group-modal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="add-group-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="add-group-modal-title">Liste des groupes de postes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <p class="validateTips mb-1">Ajoutez, supprimez et modifiez l'ordre des groupes dans le menu déroulant.</p>
              <form id="add-group" novalidate>
                <div class="row">
                  <div class="col-5">
                    <input type="text" id="add-group-text" class="form-control form-control-sm mt-2" style="width:100%;" required>
                    <div class="invalid-feedback">Groupe invalide</div>
                  </div>
                  <div class="col-1">
                    <button type="submit" class="btn btn-primary m-2 mb-0">Ajouter</button>
                  </div>
                </div>
              </form>

              <div class="row row-header rounded-top-1 m-0 mt-2">
                <i class="col-auto p-2 bi bi-arrow-down-up" aria-hidden="true"></i>
                <span class="col-10 ps-0">Nom</span>
              </div>

              <form id="arrange-groups">
                <fieldset class="container-fluid">
                  <ul id="groups_sortable">
                    {% if groups is iterable %}
                      {% for g in groups %}
                        <li class="row row-sortable" id="li_{{ g.id }}">
                          <i class="col-auto p-0 ps-2 bi bi-arrow-down-up"></i>
                          <span class="col-10 p-2" id="valeur_{{ g.id}}">{{ g.value }}</span>
                          {% if g.id not in usedGroups %}
                            <span class="col-1 ps-5" onclick="$(this).closest('li').hide();">
                              <i class="bi bi-trash3-fill"></i>
                            </span>
                          {% endif %}
                        </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </fieldset>
              </form>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" form="arrange-groups">Enregister</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
