{# position/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/position.js') }}"></script>
{% endblock %}

{% block page %}
  <div id="content-form">
    {% if id is defined and id is not null %}
      <h3>Modification du poste</h3>
    {% else %}
      <h3>Ajout d'un poste</h3>
    {% endif %}

    <div class="admin-div">
      <form id="edit-position-form" method="post" action="{{ asset('position') }}" name="form">
        <input type='hidden' name='CSRFToken' value="{{ CSRFToken }}"/>
        <input type='hidden' name='group_id' value='{{ group_id }}'/>
        {% if id is defined %}
          <input type='hidden' name='id' value='{{ id }}'/>
        {% else %}
          <input type='hidden' name='id' value=''/>
        {% endif %}

        <div class="container">
          <div class="row mb-3">
            <div class="col">
              <div class="container">
                <div class="row mb-2">
                  <label for="position-name" class="col-4 col-form-label">{% trans %}Job title{% endtrans %} :</label>
                  <div class="col-4">
                    <input id="position-name" type='text' value='{{ nom }}' name='nom' class="form-control form-control-sm"/>
                  </div>
                </div>
                {% if nbSites > 1 %}
                  <div class="row mb-2">
                    <label for="site-name" class="col-4 col-form-label">{% trans %}Site{% endtrans %} :</label>
                    <div class="col-4">
                      <select id="site-name" name="site" class="form-select form-select-sm form-control">
                        <option value='0'>&nbsp;</option>
                        {% for i in 0..nbSites-1 %}
                          <option value='{{i+1}}' {{ selectedSites[i] }}> {{ multisite[i] }} </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                {% endif %}
                <div class="row mb-2">
                  <label for="etage" class="col-4 col-form-label">{% trans %}Floor{% endtrans %} :</label>
                  <div class="col-4">
                    <select name="etage" id="etage" class="form-select form-select-sm form-control">
                      <option value=''>&nbsp;</option>
                      {% for floor in floors %}
                        <option value="{{floor.id}}" {% if etage == floor.id %} selected {% endif %}>{{ floor.value }}</option>                        
                      {% endfor %}
                    </select>
                  </div>
                  <button type="button" class="btn btn-icon col-auto" data-bs-toggle="modal" data-bs-target="#add-floor-modal">
                    <span class="pl-icon pl-icon-add ps-3" title="Ajouter un étage"></span>
                  </button>
                </div>
                {% if not config('Planook') %}
                  <div class="row mb-4">
                    <label for="groupe" class="col-4 col-form-label">{% trans %}Group{% endtrans %} :</label>
                    <div class="col-4">
                      <select name="groupe" id="groupe" class="form-select form-select-sm form-control">
                        <option value=''>&nbsp;</option>
                        {% for group in groups %}
                          <option value="{{ group.id }}" {% if groupe == group.id %} selected {% endif %} >{{ group.value }}</option>
                        {% endfor %}
                      </select>
                    </div>
                      <button type="button" class="btn btn-icon col-auto" data-bs-toggle="modal" data-bs-target="#add-group-modal">
                        <span class="pl-icon pl-icon-add ps-3" title="Ajouter un groupe"></span>
                      </button>
                  </div>

                  <fieldset class="row mb-2">
                    <legend class="col-form-label col-4 pt-0">Obligatoire / renfort
                      <button type="button" class="tooltip-icon" data-bs-placement="right" title="{{ 'obligatoire-info' | trans }}">
                        <i class="bi bi-info-circle"></i>
                      </button> :
                    </legend>
                    <div class="col-4">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="obligatoire" id="obligatoire" value="Obligatoire" {{ obligatoire }}>
                        <label class="form-check-label" for="obligatoire">Obligatoire</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="obligatoire" id="renfort" value="Renfort" {{ renfort }}>
                        <label class="form-check-label" for="renfort">Renfort</label>
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="row row-inline mb-2">
                    <legend class="col-form-label col-4 pt-0">Bloquant
                      <button type="button" class="tooltip-icon" data-bs-placement="right" title="{{ 'bloquant_info' | trans }}">
                        <i class="bi bi-info-circle"></i>
                      </button> :
                    </legend>
                    <div class="col">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="bloquant" id="bloq1" value="1" {{ bloq1 }}>
                        <label class="form-check-label" for="bloq1">{% trans %}Yes{% endtrans %}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="bloquant" id="bloq2" value="0" {{ bloq2 }}>
                        <label class="form-check-label" for="bloq2">{% trans %}No{% endtrans %}</label>
                      </div>
                      <div class="invalid-feedback">
                        {% trans %}The selected settings are incompatible with each other.{% endtrans %}
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="row mb-2">
                    <legend class="col-form-label col-4 pt-0">Quota de SP
                      <button type="button" class="tooltip-icon" data-bs-placement="right" title="{{ 'quotas-info' | trans }}">
                        <i class="bi bi-info-circle"></i>
                      </button> :
                    </legend>
                    <div class="col-4">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="quota_sp" id="quota_sp1" value="1" {{ quota_sp1 }}>
                        <label class="form-check-label" for="quota_sp1">{% trans %}Yes{% endtrans %}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="quota_sp" id="quota_sp2" value="0" {{ quota_sp2 }}>
                        <label class="form-check-label" for="quota_sp2">{% trans %}No{% endtrans %}</label>
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="row mb-2">
                    <legend class="col-form-label col-4 pt-0">Statistiques
                      <button type="button" class="tooltip-icon" data-bs-placement="right" title="{{ 'statistics-info' | trans }}">
                        <i class="bi bi-info-circle"></i>
                      </button> :
                    </legend>
                    <div class="col-4">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="statistiques" id="statistics1" value="1" {{ stat1 }}>
                        <label class="form-check-label" for="statistics1">{% trans %}Yes{% endtrans %}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="statistiques" id="statistics2" value="0" {{ stat2 }}>
                        <label class="form-check-label" for="statistics2">{% trans %}No{% endtrans %}</label>
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="row mb-2">
                    <legend class="col-form-label col-4 pt-0">Compatible télétravail
                      <button type="button" class="tooltip-icon" data-bs-placement="right" title="{{ 'teleworking-info' | trans }}">
                        <i class="bi bi-info-circle"></i>
                      </button> :
                    </legend>
                    <div class="col-4">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="teleworking" id="teleworking1" value="1" {{ teleworking1 }}>
                        <label class="form-check-label" for="teleworking1">{% trans %}Yes{% endtrans %}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="teleworking" id="teleworking2" value="0" {{ teleworking2 }}>
                        <label class="form-check-label" for="teleworking2">{% trans %}No{% endtrans %}</label>
                      </div>
                    </div>
                  </fieldset>

                  <fieldset class="row row-inline mb-2">
                    <legend class="col-form-label col-4 pt-0">
                      {% trans %}Lunch position{% endtrans %}
                      <button type="button" class="tooltip-icon" data-bs-placement="right" title="{{ 'lunch-info' | trans }}">
                        <i class="bi bi-info-circle"></i>
                      </button> :
                    </legend>
                    <div class="col">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="lunch" id="lunch1" value="1" {{ lunch1 }}>
                        <label class="form-check-label" for="lunch1">{% trans %}Yes{% endtrans %}</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input mt-1" type="radio" name="lunch" id="lunch2" value="0" {{ lunch2 }}>
                        <label class="form-check-label" for="lunch2">{% trans %}No{% endtrans %}</label>
                      </div>
                      <div class="invalid-feedback">
                        {% trans %}The selected settings are incompatible with each other.{% endtrans %}
                      </div>
                    </div>
                  </fieldset>
                {% endif %}
              </div>
            </div>

            {% if not config('Planook') %}
              <div class="col">

                <fieldset class="row mb-3">
                  <legend class="col-form-label col-3 pt-0">{% trans %}Activities{% endtrans %} :</legend>
                  <div class="col">
                    {% for s in skillList %}
                      <div class="form-check">
                        <input class="form-check-input mt-1" type="checkbox" name="activites[]" id="activities_{{ s.id }}" value="{{ s.id }}" {% if s.id in activites %} checked {% endif %}>
                        <label class="form-check-label" for="activities_{{ s.id }}">{{ s.name }}</label>
                      </div>
                    {% endfor %}
                  </div>
                </fieldset>

                {% if categoriesList is iterable and not categoriesList is empty %}
                  <fieldset class="row mb-2">
                    <legend class="col-form-label col-3 pt-0">{% trans %}Categories{% endtrans %}
                      <button type="button" class="tooltip-icon" data-bs-placement="right" title="{{ 'categories-info' | trans }}">
                        <i class="bi bi-info-circle"></i>
                      </button> :
                      </legend>
                    <div class="col">
                      {% for c in categoriesList %}
                        <div class="form-check">
                          <input class="form-check-input mt-1" type="checkbox" name="categories[]" id="categories_{{ c.id }}" value="{{ c.id }}" {% if c.id in categories %} checked {% endif %}>
                          <label class="form-check-label" for="categories_{{ c.id }}">{{ c.valeur }}</label>
                        </div>
                      {% endfor %}
                    </div>
                  </fieldset>
                {% endif %}
              </div>
            {% endif %}
          </div>

          <div class="row justify-content-md-center">
            <div class="col-auto">
              <input type='hidden' value={{id}} name='id'/>
              <a href="{{ asset('position') }}" role="button" class="btn btn-secondary">{% trans %}Cancel{% endtrans %}</a>
            </div>
            <div class="col-auto">
              <button type="submit" role="button" class="btn btn-primary">{% trans %}Confirm{% endtrans %}</button>
            </div>
          </div>
        </div>
      </form>

      <!--  Modification de la liste des étages (Modale) -->
      <div class="modal modal-lg" id="add-floor-modal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="add-floor-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="add-floor-modal-title">Liste des étages</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
            </div>

            <div class="modal-body">
              <p class="validateTips">Ajoutez, supprimez et modifiez l'ordre des étages dans le menu déroulant.</p>
              <form id="add-floor" novalidate>
                <div class="row my-3">
                  <div class="col-5">
                    <input type="text" id="add-floor-text" class="form-control" required>
                    <div class="invalid-feedback" id="invalid-floor">Etage invalide</div>
                  </div>
                  <div class="col-1">
                    <button type="submit" class="btn btn-primary">{% trans %}Add{% endtrans %}</button>
                  </div>
                </div>
              </form>

              <div class="row row-header rounded-top-1 m-0 mt-2">
                <i class="col-auto p-2 bi bi-arrow-down-up" aria-hidden="true"></i>
                <span class="col-10 ps-0">Nom</span>
              </div>

              <form id="arrange-floors">
                <fieldset class="container-fluid">
                  <ul id="floors_sortable">
                    {% if floors is iterable %}
                      {% for f in floors %}
                        <li class="row row-sortable" id="li_{{ f.id }}">
                          <i class="col-auto p-0 ps-2 bi bi-arrow-down-up"></i>
                          <span class="col-10 p-2" id="valeur_{{ f.id }}">{{ f.value }}</span>
                           {% if f.id not in usedFloors %}
                            <span class="col-1 ps-5" onclick="$(this).closest('li').hide();">
                              <i class="bi bi-trash3-fill"></i>
                            </span>
                          {% endif %}
                        </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </fieldset>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
              <button type="submit" class="btn btn-primary" form="arrange-floors">{% trans %}Save{% endtrans %}</button>
            </div>
          </div>
        </div>
      </div>

      <!--  Modification de la liste des groupes (Modal) -->
      <div class="modal modal-lg" id="add-group-modal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="add-group-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="add-group-modal-title">Liste des groupes de postes</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
            </div>

            <div class="modal-body">
              <p class="validateTips">Ajoutez, supprimez et modifiez l'ordre des groupes dans le menu déroulant.</p>
              <form id="add-group" novalidate>
                <div class="row my-3">
                  <div class="col-5">
                    <input type="text" id="add-group-text" class="form-control" required>
                    <div class="invalid-feedback" id="invalid-group">Groupe invalide</div>
                  </div>
                  <div class="col-1">
                    <button type="submit" class="btn btn-primary">{% trans %}Add{% endtrans %}</button>
                  </div>
                </div>
              </form>

              <div class="row row-header rounded-top-1 m-0 mt-2">
                <i class="col-auto p-2 bi bi-arrow-down-up" aria-hidden="true"></i>
                <span class="col-10 ps-0">Nom</span>
              </div>

              <form id="arrange-groups">
                <fieldset class="container-fluid">
                  <ul id="groups_sortable">
                    {% if groups is iterable %}
                      {% for g in groups %}
                        <li class="row row-sortable" id="li_{{ g.id }}">
                          <i class="col-auto p-0 ps-2 bi bi-arrow-down-up"></i>
                          <span class="col-10 p-2" id="valeur_{{ g.id}}">{{ g.value }}</span>
                          {% if g.id not in usedGroups %}
                            <span class="col-1 ps-5" onclick="$(this).closest('li').hide();">
                              <i class="bi bi-trash3-fill"></i>
                            </span>
                          {% endif %}
                        </li>
                      {% endfor %}
                    {% endif %}
                  </ul>
                </fieldset>
              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
              <button type="submit" class="btn btn-primary" form="arrange-groups">{% trans %}Save{% endtrans %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
