{% extends 'base.html.twig' %}

{% block specificjs %}
<script type="text/JavaScript" src="{{ asset('js/holiday.js') }}"></script>
  <script type='text/JavaScript'>
    var admin = {% if admin %}{{ admin }}{% else %} 0 {% endif %};
    var limitDefaut = {{ recup_delaidefaut }};
    var limitTitulaire1 = {{ recup_delaititulaire1 }};
    var limitTitulaire2 = {{ recup_delaititulaire2 }};
    var limitContractuel1 = {{ recup_delaicontractuel1 }};
    var limitContractuel2 = {{ recup_delaicontractuel2 }};
    var perso_id = {{ perso_id }};
    var categories = {{ categories | json_encode | raw }};
    var samediSeulement = {{ recup_samediseulement }};
    var recup_deuxsamedis = {{ recup_deuxsamedis }}
    var oneRecoveryPerDay = {{ recup_uneparjour }};

    $(function() {
      var date = $('#overtime-date'),
          date2 = $('#overtime-date2'),
          duration = $('#overtime-hours'),
          commentaires = $('#overtime-comment')

      $('#add-overtime-form').on('submit', function(e) {
        e.preventDefault();
        if($("#overtime-agent option:selected").val()) {
            perso_id = $("#overtime-agent option:selected").val();
          }

        // Calcul du delai limite pour la demande de récup en fonction de la catégorie de l'agent
        if(categories[perso_id] == "Titulaire") {
          if($("#overtime-date2").val()) {
            if(limitTitulaire2 == -1) {
              limitJours = limitDefaut;
            }
            else {
              limitJours = limitTitulaire2 * 30;
            }
          }
          else {
            if(limitTitulaire1 == -1) {
              limitJours = limitDefaut;
            }
            else{
              limitJours = limitTitulaire1 * 30;
            }
          }
        }
        
        else if(categories[perso_id] == "Contractuel") {
          if($("#overtime-date2").val()) {
            if(limitContractuel2 == -1) {
              limitJours = limitDefaut;
            }
            else {
              limitJours = limitContractuel2 * 7;
            }
          }
          else {
            if(limitContractuel1 == -1) {
              limitJours = limitDefaut;
            }
            else {
              limitJours = limitContractuel1 * 7;
            }
          }
        }

        else {
          limitJours = limitDefaut;
        }

        if(samediSeulement && !saturday_check(date.val())){
          update_alert(Translator.trans("The selected date needs to be a Saturday"));
          return;
        }

        if (oneRecoveryPerDay && !one_recovery_check(date.val(), perso_id)){
          return;
        }

        if (recup_deuxsamedis && date2.val()){
          if (!(date_range_validation(date.val(), date2.val(), true))){
            update_alert(Translator.trans('The second date must be posterior to the first one or empty'));
            return;
          }
          if(samediSeulement && !saturday_check(date2.val())){
            update_alert(Translator.trans("The selected date needs to be a Saturday"));
            return;
          }
        }

        if (!time_period_validation(duration.val(), '00:01', '17:00')){
          update_alert(Translator.trans("The selected time period is invalid"));          
          return;
        }

        if(!limited_range_validation(date.val(), limitJours)){
          if (admin){
            if(!confirm(Translator.trans('Warning: Requests for overtime must be filed within %limit% days.\nAs an administrator, you can override this rule.\nDo you want to continue ?', {limit : limitJours}))){
              return;
            }
          }
          else {
            update_alert(Translator.trans("The request must be submitted within %limit% days", {limit : limitJours}));
            return;
          }
        }

        if (recup_deuxsamedis && date2.val() && oneRecoveryPerDay && !one_recovery_check(date2.val(), perso_id)){
          return;
        }

        // If every condition has been verified the request is saved
        $.ajax({
          url: "{{ path('overtime.add') }}",
          dataType: "json",
          data: { date: date.val(), date2: date2.val(), 
                  heures: duration.val(), commentaires: commentaires.val(), 
                  perso_id: perso_id, CSRFToken: $('#CSRFSession').val()},
          type: "post",
          success: function(result){
            if(result[0]=="Demande-OK"){

            // Préparation de l'affichage des erreurs et confirmations
            var msg = encodeURIComponent("Votre demande a été enregistrée");

            var msg2 = null;
            var msg2Type = null;
            if(result[1] != undefined){
              msg2 = encodeURIComponent(result[1]);
              msg2Type = "error";
            }

            // Affiche la liste des demandes après enregistrement
            document.location.href="{{ asset('overtime') }}?msgType=success&msg="+msg+"&msg2Type="+msg2Type+"&msg2="+msg2;
            // Close the modal
            $('#add-overtime-modal').modal('hide');
          }
          else {
            update_alert( Translator.trans("Error while saving the overtime request"));
          }
        },
          error: function (result){
            update_alert( Translator.trans("Error while saving the overtime request"));
          },
        });
    })
});

    </script>
{% endblock %}

{% block page %}
  <div id="content-admin">
    {% if perso_id != 0 %}
    <h3 class="print_only">Liste des congés de {{ perso_name }}, année {{ year_from }}-{{ year_to}}</h3>
    {% endif %}
    <h3 class='noprint'>Heures supplémentaires</h3>
    <div class="admin-div">
      <div id='liste'>
        <h4 class='noprint'>Liste des demandes d'heures supplémentaires</h4>
        <form name='form' method='get' action='{{ asset("overtime") }}' class='noprint'>
          <div class="container">
            <span style='float:left; vertical-align:top; margin-bottom:20px;'>
              <div class='row'>
                <div class="col">
                  Année : <select name='annee'>
                    {% for elem in years %}
                      {% if elem[0] == year_from %}
                        <option value="{{ elem[0] }}" selected="selected">{{ elem[1] }}</option>
                      {% else %}
                        <option value="{{ elem[0] }}">{{ elem[1] }}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>

                {% if admin %}
                  <div class="col">
                    <span style='margin-left:30px;'>Agent : </span>
                    <select name='perso_id'>
                      {% if perso_id == 0 %}
                        <option value='0' selected="selected">Tous</option>
                      {% else %}
                        <option value='0'>Tous</option>
                      {% endif %}
                      {% for m in managed %}
                        {% if m.id == perso_id %}
                          <option value="{{ m.id }}" selected>{{ m.lastname }} {{ m.firstname }}</option>
                        {% else %}
                          <option value="{{ m.id }}">{{ m.lastname }} {{ m.firstname }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                {% endif %}
                <div class="col" style="margin-left:30px;"><input type="submit" value="Rechercher" id="button-OK" class="btn btn-secondary" style="margin-top: 10px;"/></div>
                <div class="col" style="margin-left:30px;"><input type="button" value="Réinitialiser" id="button-Effacer" class="btn btn-secondary" onclick="location.href='{{ asset('overtime') }}?reset=on'" style="margin-top: 10px;"/></div>
                <div class="col" style="float:right; vertical-align:top; margin-top: 10px;">
                  <button id="add-overtime-button" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-overtime-modal">{% trans %}New request{% endtrans %}</button>
                </div>
              </div>
            </span>
          </div>
        </form>

        <table id='tableRecup' class='CJDataTable' data-sort='[[1]]'>
          <thead>
            <tr>
              <th rowspan='2' class='dataTableNoSort'>&nbsp;</th>
              <th rowspan='2' class='dataTableDateFR'>Date</th>
              {% if admin %}
                <th rowspan='2'>Agent</th>
              {% endif %}
              <th rowspan='2'>Heures</th>
              <th colspan='2'>Validation</th>
              <th rowspan='2'>Crédits</th>
              <th rowspan='2'>Commentaires</th>
            </tr>

            <tr>
              <th>&Eacute;tat</th>
              <th class='dataTableDateFR' style="border-right: 1px solid #000;">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for elem in overtimes %}
              <tr>
                <td>
                  <a href="{{ asset('overtime') }}/{{ elem.id }}">
                    <span class='pl-icon pl-icon-edit' title='Modifier'></span>
                  </a>
                </td>

                <td>{{ elem.date }}{{ elem.date2 }}</td>

                {% if admin %}
                  <td>{{ elem.name }}</td>
                {% endif %}

                <td>{{ elem.hours }}
                  {% if elem.hourstodays %}
                    <br />{{ elem.hourstodays }}j;
                  {% endif %}
                </td>

                <td style="{{ elem.validation_style }}">{{ elem.validation }}</td>
                <td>{{ elem.validation_date }}</td>
                <td>{{ elem.credits | nl2br }}</td>
                <td>{{ elem.commentaires | nl2br }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> <!-- liste -->

      <div class="modal" id="add-overtime-modal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="add-overtime-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="add-overtime-modal-title">{% trans %}New request for overtime{% endtrans %}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              
              <p>{% trans %}Please select the date for which your request applies and the number of overtime hours, followed by a comment.{% endtrans %}</p>
              <form id="add-overtime-form" class="needs-validation" novalidate>  

                {% if admin %}
                <div class="row mb-3">
                  <label for="overtime-agent" class="col-3 col-form-label mb-0">{% trans %}Agent{% endtrans %}</label>
                  <div class="col-3">
                    <select id="overtime-agent" name="agent" class="form-select form-select-sm" style="text-align: center;">
                      <option hidden disabled selected value=""></option>
                      {% for m in managed %}
                        <option value="{{ m.id }}" {% if m.id == perso_id %} selected {% endif %}>{{ m.lastname }} {{ m.firstname | first }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                {% endif %}

                <div class=" row mb-3">
                  <label for="overtime-date" class="col-3 col-form-label mb-0">
                    {% if recup_deuxsamedis %}
                      {% trans %}Date (1st Saturday){% endtrans %}
                    {% else %}
                      {% trans %}Date{% endtrans %}
                    {% endif %}
                  </label>
                  <div class="col-3">
                    <input type="text" name="date" id="overtime-date" class="ui-corner-all datepicker form-control" required/>
                    <div class="invalid-feedback">{% trans from 'validators' %}Please enter a valid date.{% endtrans %}</div>             
                  </div>
                </div>

                {% if recup_deuxsamedis %}
                <div class=" row">
                  <label for="overtime-date2" class="col-3 col-form-label mb-0">{% trans %}Date (2nd Saturday) (optional){% endtrans %}</label>
                  <div class="col-3">
                    <input type="text" name="date2" id="overtime-date2" class="ui-corner-all datepicker form-control" optional/>
                    <div class="invalid-feedback mb-3">{% trans from 'validators' %}Please enter a valid date.{% endtrans %}</div>
                  </div>
                </div>
                {% endif %}

                <div class="row mb-3">
                  <label class="col-3 col-form-label" for="overtime-hours">{% trans %}Hours{% endtrans %}</label>
                  <div class="col-3">
                    <input type="text" id="overtime-hours" name="heures" class="time overtime-timepicker form-control" value="" style="text-align: center;" required/>
                    <div class="invalid-feedback">{% trans from 'validators' %}Please enter a valid time.{% endtrans %}</div>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-3 col-form-label" for="overtime-comment">{% trans %}Comment{% endtrans %}</label>
                  <div class="col-5">
                    <textarea name="commentaires" id="overtime-comment" class="form-control ui-widget-content rounded-1"></textarea>
                  </div>
                </div>

              </form>
            </div>

            <div class="modal-footer">
              <div id="alert" class="alert alert-danger me-auto d-flex d-none" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2 bi-danger"></i>
                <div id="alert-text">
                  {% trans %}Error while saving the overtime request{% endtrans %}
                </div>
              </div>
              <button type="submit" class="btn btn-primary" form="add-overtime-form">{% trans %}Save{% endtrans %}</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
