{# statedweek/index.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type='text/JavaScript' src='{{ app.request.getBaseURL() }}/js/statedweek.js?version={{ version }}'></script>
{% endblock %}

{% block page %}
  <style>
    #statedweek-header {
      width: 100%;
    }
    #statedweek-tables {
      width: 100%;
    }
    .table-bottom {
      margin-top: -5px;
    }
    .table-right {
      border-left: 0px;
    }
    .text-red {
      color: red;
    }
    .statedweek-table {
      float: left;
      border-collapse: collapse;
    }
    .statedweek-table td {
      height: 25px;
      color: black;
    }
    td.absent {
      color: red;
    }
    td.partially-absent i {
      color: red;
    }
    td.absent span {
      text-decoration: line-through;
    }
    .cell-header {
      text-align: center;
      background-color: #782513;
      color: white;
      height: 25px;
    }
    .editable:hover {
      cursor: text;
    }
    #validation {
      margin-bottom: 7px;
    }
    .planno-timepicker, .break-timepicker {
      max-width: 80px;
    }
  </style>

  <div id="statedweek">
    <input type="hidden" id="date" name="date" value="{{ date }}" data-set-calendar="{{ date }}"/>
    <input type="hidden" name="pause2" value="{{ pause2 }}"/>
    <input type='hidden' name='CSRFToken' value="{{ CSRFSession }}" />
    {% if planning.locked %}
      <input type="hidden" name="locked" value="1"/>
    {% else %}
      <input type="hidden" name="locked" value="0"/>
    {% endif %}

    <div id='statedweek-header'>
      <div style='display:inline-block; min-width:400px; width:25%; height:60px; vertical-align:top;' class='noprint' >
        <div id='pl-calendar' class='datepicker'></div>
      </div>

      <div style='display:inline-block; min-width:600px; width:40%; vertical-align:top;' class='title titreSemFixe' >
        <strong>semaine {{ week_number }}</strong>
        <div id="date_text">
          Planning du {{ date | datefull | raw }}
          {% if date | publicholiday %}
            - <font id='public_holiday'> {{ date | publicholiday }}</font>
          {% endif %}
        </div>

        <div class="noprint">
          {% include 'statedweek/days_menu.html.twig' %}
        </div>
      </div>

      <div style='display:inline-block; min-width:400px; width:25%; vertical-align:top;' class='actions' >
        <div>
        {% if planning.locked %}
          <div id="validation">
            <u>Validation</u>
            <br />
            <span id="locker">{{ locker.nom }} {{ locker.prenom }}</span>
            <span id="locked-on">{{ planning.locked_on | date('d/m/Y H:i') }}</span>
          </div>
        {% else %}
          {% if canEdit %}
            <div id="validation" style="display:none;">
              <u>Validation</u>
              <br />
              <span id="locker"></span>
              <span id="locked-on"></span>
            </div>
          {% endif %}
        {% endif %}
        {% if canEdit %}
          {% if planning.locked %}
            <a id="unlock"><span id='icon-lock' class='pl-icon pl-icon-lock pointer noprint' title='Déverrouiller le planning'></span></a>
            <a id="lock" style="display:none;"><span id='icon-unlock' class='pl-icon pl-icon-unlock pointer noprint' title='Verrouiller le planning'></span></a>
            {% else %}
            <a id="lock"><span id='icon-unlock' class='pl-icon pl-icon-unlock pointer noprint' title='Verrouiller le planning'></span></a>
            <a id="unlock" style="display:none;"><span id='icon-lock' class='pl-icon pl-icon-lock pointer noprint' title='Déverrouiller le planning'></span></a>
          {% endif %}
            <a id="save-template" href="#" title="Enregistrer comme modèle"><span class="pl-icon pl-icon-save"></span></a>
            <a id="open-template" href="#" title="Importer un modèle"><span class="pl-icon pl-icon-open"></span></a>
          </div>
        {% endif %}
      </div>
    </div>

    {% if canEdit or planning.locked %}
      <table id="statedweek-tables">
        <tr>
          <td>
            {% include 'statedweek/tables/planning.html.twig' %}
            {% include 'statedweek/tables/poste.html.twig' %}
          </td>
        </tr>

        <tr>
          <td>
            {% include 'statedweek/tables/absences.html.twig' %}
            {% include 'statedweek/tables/holidays.html.twig' %}
          </td>
        </tr>
      </table>
    </div>
    {% include 'statedweek/contextual-menu.html.twig' %}
    <div id="confirm-lock" title="Verrouillage du planning">
      Ceci entraînera le verrouillage de tous les plannings de la semaine.
      <p class="warning" style="display:none;">
        Certains plannings sont inexistants et seront créés automatiquement:
        <ul id="empty-plannings">
        </ul>
      </p>
      Souhaitez-vous continuer ?
    </div>

    <div id="confirm-unlock" title="Déverrouillage du planning">
      Ceci entraînera le déverrouillage de tous les plannings de la semaine.
      Souhaitez-vous continuer ?
    </div>

    <div id="confirm-save-template" title="Enregistrer comme modèle">
      <form>
        <div style="margin: 10px 0 20px 15px;">
          <label for="template_name">Nom du modèle</label>
          <input type="text" name="template_name" id="template_name" style="width: 200px;">
        </div>

        <div style="margin: 10px 0 0 15px;">
          <label for="template_week">Enregistrer toute la semaine</label>
          <input type="checkbox" name="template_week" id="template_week">
        </div>
      </form>
    </div>

    <div id="confirm-load-template" title="Enregistrer comme modèle">
      <form>
        {% if templates %}
          <p>Sélectionnez le modèle à importer</p>
          <select name="template">
            <option></option>
            {% for template in templates %}
            <option value="{{ template.id }}">{{ template.name }} {% if template.type == 'week' %}(semaine){% endif %}</option>
            {% endfor %}
          </select>
        {% else %}
          <p>Aucun modèle à importer</p>
        {% endif %}
      </form>
    </div>
  {% else %}
    <center>Le planning du {{ date | date('d/m/Y') }} n'est pas encore validé.</center>
  {% endif %}

  {% include 'statedweek/dialog-box-hours.html.twig' %}
{% endblock %}
