{# admin/config/multisites.html.twig #}

<div>
  <table cellspacing='0' cellpadding='5' style='width:100%;'>
    <tr>
      <td class='ui-widget-header ui-corner-left' style='width:350px;border-right:0px;'>Nom</td>
      <td style='width:450px;border-left:0px;border-right:0px;' class='ui-widget-header'>Valeur</td>
      <td style='width:450px;border-left:0px;border-right:0px;' class='ui-widget-header'>Courriel</td>
      <td class='ui-widget-header ui-corner-right' style='border-left:0px;'>Commentaires</td>
    </tr>

    <tr style='vertical-align:top;'>
      <td style='width:180px;'>Multisites-nombre</td>
      <td>
        <select name='{{ vars['Multisites-nombre'].nom }}' id='{{ vars['Multisites-nombre'].nom }}' style='width:305px;'>
          {% for o in vars['Multisites-nombre'].options %}
            {% if o == vars['Multisites-nombre'].valeur %}
              <option value='{{ o }}' selected='selected'>{{ o }}</option>
            {% else %}
              <option value='{{ o }}'>{{ o }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </dt>
      <td></td>
      <td>Nombre de sites</td>
    </tr>

    <tr style='vertical-align:top;'>
      <td style='width:180px;'>Multisites-site1</td>
      <td>
        <input type='text' name='Multisites-site1' id='Multisites-site1' value='{{ vars['Multisites-site1'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        <input type='text' name='Multisites-site1-mail' id='Multisites-site1-mail' value='{{ vars['Multisites-site1-mail'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        Nom du site n°1 et adresses e-mails de la cellule planning, séparées par des ;
      </td>
    </tr>

    <tr style='vertical-align:top;'>
      <td style='width:180px;'>Multisites-site2</td>
      <td>
        <input type='text' name='Multisites-site2' id='Multisites-site2' value='{{ vars['Multisites-site2'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        <input type='text' name='Multisites-site2-mail' id='Multisites-site2-mail' value='{{ vars['Multisites-site2-mail'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        Nom du site n°2 et adresses e-mails de la cellule planning, séparées par des ;
      </td>
    </tr>

    <tr style='vertical-align:top;'>
      <td style='width:180px;'>Multisites-site3</td>
      <td>
        <input type='text' name='Multisites-site3' id='Multisites-site3' value='{{ vars['Multisites-site3'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        <input type='text' name='Multisites-site3-mail' id='Multisites-site3-mail' value='{{ vars['Multisites-site3-mail'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        Nom du site n°3 et adresses e-mails de la cellule planning, séparées par des ;
      </td>
    </tr>

    <tr style='vertical-align:top;'>
      <td style='width:180px;'>Multisites-site4</td>
      <td>
        <input type='text' name='Multisites-site4' id='Multisites-site4' value='{{ vars['Multisites-site4'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        <input type='text' name='Multisites-site4-mail' id='Multisites-site4-mail' value='{{ vars['Multisites-site4-mail'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        Nom du site n°4 et adresses e-mails de la cellule planning, séparées par des ;
      </td>
    </tr>

    <tr style='vertical-align:top;'>
      <td style='width:180px;'>Multisites-site5</td>
      <td>
        <input type='text' name='Multisites-site5' id='Multisites-site5' value='{{ vars['Multisites-site5'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        <input type='text' name='Multisites-site5-mail' id='Multisites-site5-mail' value='{{ vars['Multisites-site5-mail'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        Nom du site n°5 et adresses e-mails de la cellule planning, séparées par des ;
      </td>
    </tr>

    <tr style='vertical-align:top;'>
      <td style='width:180px;'>Multisites-site6</td>
      <td>
        <input type='text' name='Multisites-site6' id='Multisites-site6' value='{{ vars['Multisites-site6'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        <input type='text' name='Multisites-site6-mail' id='Multisites-site6-mail' value='{{ vars['Multisites-site6-mail'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        Nom du site n°6 et adresses e-mails de la cellule planning, séparées par des ;
      </td>
    </tr>

    <tr style='vertical-align:top;'>
      <td style='width:180px;'>Multisites-site7</td>
      <td>
        <input type='text' name='Multisites-site7' id='Multisites-site7' value='{{ vars['Multisites-site7'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        <input type='text' name='Multisites-site7-mail' id='Multisites-site7-mail' value='{{ vars['Multisites-site7-mail'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        Nom du site n°7 et adresses e-mails de la cellule planning, séparées par des ;
      </td>
    </tr>

    <tr style='vertical-align:top;'>
      <td style='width:180px;'>Multisites-site8</td>
      <td>
        <input type='text' name='Multisites-site8' id='Multisites-site8' value='{{ vars['Multisites-site8'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        <input type='text' name='Multisites-site8-mail' id='Multisites-site8-mail' value='{{ vars['Multisites-site8-mail'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        Nom du site n°8 et adresses e-mails de la cellule planning, séparées par des ;
      </td>
    </tr>

    <tr style='vertical-align:top;'>
      <td style='width:180px;'>Multisites-site9</td>
      <td>
        <input type='text' name='Multisites-site9' id='Multisites-site9' value='{{ vars['Multisites-site9'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        <input type='text' name='Multisites-site9-mail' id='Multisites-site9-mail' value='{{ vars['Multisites-site9-mail'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        Nom du site n°9 et adresses e-mails de la cellule planning, séparées par des ;
      </td>
    </tr>

    <tr style='vertical-align:top;'>
      <td style='width:180px;'>Multisites-site10</td>
      <td>
        <input type='text' name='Multisites-site10' id='Multisites-site10' value='{{ vars['Multisites-site10'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        <input type='text' name='Multisites-site10-mail' id='Multisites-site10-mail' value='{{ vars['Multisites-site10-mail'].valeur }}' style='width:300px;'/>
      </td>
      <td>
        Nom du site n°10 et adresses e-mails de la cellule planning, séparées par des ;
      </td>
    </tr>

  </table>
</div>
