{# crontab/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}

<h3>Ordonnanceur</h3>

    {% if elements %}
        <table class="CJDataTable" data-sort="[[1],[2]]" id="CronInfoTable">
            <thead>
                <tr>
                    <th class="dataTableNoSort"></th>
                    <th>Nom</th>
                    <th>Commentaires</th>
                    <th>Résumé</th>
                    <th>Disabled</th>
                </tr>
            </thead>
            <tbody>
                {%for elem in elements %}
                    <tr>
                        <td>
                            <a href="{{ asset('crontab/') }}{{elem.cron.id}}">
                                <span class="pl-icon pl-icon-edit" title="Edit"></span>
                            </a>
                        </td>
                        <td>{{ elem.cron.command }}</td>
                        <td>{{ elem.cron.comment }}</td>
                        <td>{{ elem.resume }}</td>
                        <td><input type="checkbox" onclick="disableCron('{{ elem.cron.id }}')" value="1" {% if elem.cron.disabled == 0 %}  checked="checked" {% endif %} /></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Aucune information enregistrée.
    {% endif %}
{% endblock %}
