{# workinghour/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}

  <h3>Heures de présence</h3>
  <div id="buttons">
    <form name="form" method="get" action="{{ asset('workinghour') }}" onsubmit="return plHebdoVerifForm($(this));" novalidate>
      <div class="row row-search">

        <label class="col-xl-auto col-form-label mt-2" for="workinghour-search-start">{% trans%}Start{% endtrans %} :</label>
        <div class="col-xl-auto ps-0">
          <input id="workinghour-search-start" type="text" name="debut" class="datepicker form-control start-date" value="{{ debut }}"/>
        </div>

        <label class="col-xl-auto col-form-label mt-2" for="workinghour-search-end">{% trans%}End{% endtrans %} :</label>
        <div class="col-xl-auto ps-0">
          <input id="workinghour-search-end" type="text" name="fin" class="datepicker form-control end-date" value="{{ fin }}" required/>
        </div>

        <div class="col-xl-4 ps-0">
          <input type="submit" role="button" value="{% trans %}Search{% endtrans %}" class="btn btn-primary m-2"/>
          <input type="button" value="{% trans%}Clear{% endtrans %}" onclick="location.href='{{ asset('workinghour') }}?reset=on'" class="btn btn-secondary m-2" />        
          {% if admin and config('PlanningHebdo-resetCycles') and config('nb_semaine') > 2 %}
            <a role="button" class="btn btn-primary m-2" href="{{ path('workinghour.cycle') }}">{% trans%}Cycle management{% endtrans %}</a>
          {% endif %}
        </div>

        <div class="col-xl text-end">
          <a class="btn btn-primary m-2 me-0" role="button" href="{{ asset('workinghour') }}/add?retour={{ asset('workinghour') }}">{% trans%}Enter new schedules{% endtrans %}</a>
        </div>
      </div>

      <div class="row">
        <div class="invalid-feedback">{% trans from 'validators' %}Please choose a valid date interval.{% endtrans %}</div>
      </div>

    </form>
  </div>
  <br/>
  <table id='tablePlanningHebdo' class='CJDataTable' data-sort='[[3],[4],[1]]'>
    <thead>
      <tr>
        <th rowspan='2' class='dataTableNoSort'>&nbsp;</th>
        <th colspan='2'>Agent</th>
        <th rowspan='2'>Service</th>
        <th rowspan='2' class='dataTableDateFR'>Début</th>
        <th rowspan='2' class='dataTableDateFR'>Fin</th>
        <th rowspan='2' class='dataTableDateFR'>Saisie</th>
        <th colspan='2'>Validation</th>
        <th rowspan='2'>Actuel</th>
        <th rowspan='2'>Commentaires</th>
      </tr>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>État</th>
        <th class='dataTableDateFR' style="border-right: 1px solid #000;">Date</th>
      </tr>
    </thead>
    <tbody>
      {% for elem in tab %}
        <tr id='tr_{{ elem.id }}'>
          <td style='white-space:nowrap;'>
            {{ (elem.remplace != 0) ? "<font style='font-size:20pt;'>&rdsh;</font>": " " }}
            <a href="{{ asset('workinghour')}}/{{ elem.id }}?retour={{ asset("workinghour") }}"/>
              <span class='pl-icon pl-icon-edit' title='Voir'></span>
            </a>
            {% if elem.cle == null and admin %}
              <a href='{{ asset('workinghour') }}/{{ elem.id }}?copy={{ elem.id }}&retour={{ asset("workinghour") }}'/>
                <span class='pl-icon pl-icon-copy' title='Copier'></span>
              </a>
              <a href='javascript:plHebdoSupprime({{ elem.id }});' style='margin-left:6px;'/>
                <span class='pl-icon pl-icon-dropblack' title='Supprimer'></span>
              </a>
            {% endif %}
          </td>
          <td>{{ elem.surname }}</td>
          <td>{{ elem.firstname }}</td>
          <td>{{ elem.service }}</td>
          <td>{{ elem.debut }}</td>
          <td>{{ elem.fin }}</td>
          <td>{{ elem.saisie }}</td>
          <td {{ (elem.valide >= 0) ? " " : "class='red'"}} >{{ elem.validation }}</td>
          <td {{ (elem.valide >= 0) ? " " : "class='red'"}} >{{ elem.validation_date }}</td>
          <td>{{ (elem.actuel != 0) ? "Oui" : " "}}</td>
          <td>{{ elem.commentaires | nl2br }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block specificjs %}
  <script type="text/javascript" src="{{ asset('js/workingHour.js') }}"></script>
{% endblock %}

