{# skill/edit.html.twig #}

{% extends 'base.html.twig' %}


{% block page %}
  {% if id is defined %}
    <h3>Modification de l'activité</h3>
  {% else %}
    <h3>Ajout d'une activité</h3>
  {% endif %}
  <form method="POST" name="form" action='{{ asset("skills")}}'>
    {% if id %}
      <input type="hidden" name='page' value='{{ asset("skills/") }}{{ id }}'/>
    {% else %}
      <input type="hidden" name='page' value='{{ asset("skills/add") }}'/>
    {% endif %}
    <input type="hidden" name='CSRFToken' value='{{ CSRFSession }}' />
    <table class='tableauFiches'>
      <tr>
        <td> Nom :</td>
        <td>
          <input type='text' value='{{ skill-name }}' name = 'nom' style='width:250px' class='ui-widget-content ui-corner-all' />
        </td>
      </tr>
      <tr>
        <td colspan='2' style='text-align :center; padding-top: 40px;'>
          <input type='hidden' value='{{ action }}' name = 'action' />
          <input type='hidden' value='{{ id }}' name = 'id' />
          <input type='button' value='Annuler' onclick='history.go(-1);' class='ui-button'/>
          <input type='button' value='Valider' class='ui-button' onclick="location.href='{{ asset('skill.save') }}'" />
        </td>
      </tr>
    </table>
  </form>
{% endblock %}