{# base.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Planning</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type='text/JavaScript' src='{{ asset("js/jquery-1.11.1.min.js") }}'></script>
    <script type='text/JavaScript' src='{{ asset("js/jquery-ui-1.11.2/jquery-ui.js") }}'></script>
    <script type='text/JavaScript' src='{{ asset("js/carhartl-jquery-cookie-3caf209/jquery.cookie.js") }}'></script>
    <script type='text/JavaScript' src='{{ asset("js/DataTables/datatables.min.js") }}'></script>
    <script type='text/JavaScript' src='{{ asset("js/CJScript.js") }}'></script>
    <script type='text/JavaScript' src='{{ asset("js/datePickerFr.js") }}'></script>
    <script type='text/JavaScript' src='{{ asset("js/dataTables.sort.js") }}'></script>
    <script type='text/JavaScript' src='{{ asset("js/script.js") }}'></script>
    {% block specificjs %}{% endblock %}
    <link rel='StyleSheet' href='{{ asset("js/DataTables/datatables.min.css") }}' type='text/css' media='all'/>
    <link rel='StyleSheet' href='{{ asset("themes/" ~ themeJQuery ~ "/jquery-ui.min.css") }}' type='text/css' media='all'/>
    <link rel='StyleSheet' href='{{ asset("themes/default/default.css") }}' type='text/css' media='all'/>
    <link rel='StyleSheet' href='{{ asset("themes/default/print.css") }}' type='text/css' media='print'/>
    {% if theme != 'default' %}
    <link rel='StyleSheet' href='{{ asset("themes/" ~ theme ~ "/" ~ theme ~ ".css") }}' type='text/css' media='all'/>
    {% endif %}
    <link rel='icon' type='image/png' href='{{ asset("themes/" ~  theme ~ "/favicon.ico") }}' />
  </head>
  <body>
    <!-- Affichage des messages d'erreur ou de confirmation venant de la page précedente-->
    {% if msg  and msg !='null' %}
      <script type='text/JavaScript'>CJInfo('{{ msg | nl2br }}','{{ msgType }}');</script>
    {% endif %}

    {% if msg2 and msg2 !='null' %}
      <script type='text/JavaScript'>CJInfo('{{ msg2 }}','{{ msg2Type }}', 82, 15000);</script>
    {% endif %}

    <!-- Symfony flashMessages -->
    {% for flashMessage in app.session.flashbag.get('error') %}
        <script type='text/JavaScript'>CJInfo('{{ flashMessage }}','error', 82, 15000);</script>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <script type='text/JavaScript'>CJInfo('{{ flashMessage }}','success', 82, 15000);</script>
    {% endfor %}

    <div id='opac' style='display:none'></div>
    <div style='position:relative;top:30px;' class='noprint'></div>

    {% if show_menu %}
      {% include 'menu.html.twig' %}
    {% endif %}

    <form name='CSRFForm' action='#' method='get'>
      <input type='hidden' name='CSRFSession' id='CSRFSession' value='{{ CSRFSession }}' />
    </form>

    <form name='baseURLForm' action='#' method='get'>
      <input type='hidden' name='baseURL' id='baseURL' value='{{ asset("") }}' />
    </form>

    {% if content_planning %}
      <div id='content-planning'>
    {% else %}
      <div id='content'>
    {% endif %}
    {% block page %}{% endblock %}
    </div> <!-- content or planningPoste -->

    <div class='footer'>
      Planning Biblio ({{ displayed_version }}) -
      <a href='http://www.planningbiblio.fr' target='_blank' style='font-size:9pt;'>www.planningbiblio.fr</a>
    </div>
  </body>
</html>
