{# login.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  <div id='content-auth'>
    <div id='auth'>
      <center>
        <div id='auth-logo'></div>
      </center>
  
      <h1 id='title'>{{ config('Affichage-titre') }}</h1>
      <h2 id='h2-planning-authentification'>Planning - Authentification</h2>
      <h2 id='h2-authentification'>Authentification</h2>
  
      {% if error is defined and error != '' %}
        <div style='text-align:center'>
          <br/><br/>
          {% if error == 'unknown_user' %}
            <h3 style='color:red'>L'utilisateur n'existe pas dans le planning</h3>
            <br/>
            <a href='{{ asset("login") }}{{ auth_args }}'>Re-essayer</a>
          {% elseif error == 'login_failed' %}
            <h3 style='color:red'>Erreur lors de l'authentification</h3>
            <br/>
            <a href='{{ asset("login") }}{{ auth_args }}'>Re-essayer</a>
          {% elseif error == 'cas_unknown_user' %}
          <div id='JSInformation' style="max-width: 40%; margin-left: auto; margin-right: auto;">
            Vous avez été correctement identifié(e) mais vous n'êtes pas autorisé(e) à 
            utiliser cette application.<br/>
            <b>Veuillez fermer votre navigateur et recommencer avec un autre identifiant</b>.
          </div>
          <script type='text/JavaScript'>
            CJErrorHighlight($("#JSInformation"),"error");
          </script>
          {% endif %}
        </div>
      {% else %}
        <form name='form' method='post' action='{{ asset("login") }}'>
          <input type='hidden' name='auth' value='' />
          <input type='hidden' name='redirURL' value="{{ redirect_url }}" />
          <table style='width:100%;'>
            <tr>
              <td style='text-align:right;width:48%;'>Utilisateur : </td>
              <td>
                <input type='text' name='login' value="{{ new_login }}" />
              </td>
            </tr>
  
            <tr>
              <td align='right'>Mot de passe : </td>
              <td>
                <input type='password' name='password' />
              </td>
            </tr>
  
            <tr>
              <td colspan='2' align='center'><br/>
                <input type='submit' class='ui-button ui-button-type1' value='Valider' />
              </td>
            </tr>
  
            {% if sSOLink %}
              <tr>
                <td colspan='2' align='center'><br/>
                  <a href='{{ path('home') }}'>{{ sSOLink }}</a>
                </td>
              </tr>
            {% endif %}
  
            {% if demo_mode %}
              <tr>
                <td colspan='2' align='center'>
                  <p>Pour les essais, vous pouvez utiliser les identifiants suivants :<br/>
                  <br/>Utilisateur : admin<br/>Mot de passe : {{ config('demo-password') }}<br/><br/>
                  Attention : cette plateforme de tests est réinitialisée tous les dimanches.</p>
                </td>
              </tr>
            {% endif %}
  
            {% if config("Auth-Anonyme") %}
              <tr>
                <td colspan="2" align="center"><br/>
                  <a href="{{ path('home') }}?login=anonyme">Accès anonyme</a>
                </td>
              </tr>
            {% endif %}
          </table>
  
          <input type="hidden" name="width" />
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
