{# menu.html.twig #}
  <nav class="navigation navbar navbar-expand-custom">
    <script type="text/JavaScript">
      <!--
      zlien = new Array;
      {% for menu in menu_js %}
        zlien[{{ menu.key }}] = new Array;
        {% set i = 0 %}
        {% for item in menu.items %}
            {% set i = i + 1 %}
            zlien['{{ item.key }}'][{{ i }}] = "<a href='{{ asset(item.url) }}' class='ejsmenu'>{{ item.title|raw }}</a>";
        {% endfor %}
      {% endfor %}

      function pop(msg,li){
        $(".menu_table").remove();
        posTop = li.offset().top + li.height() + 2;
        posLeft = li.offset().left+li.width() / 2-85;
        var content ="<table cellspacing='0' border='0' class='menu_table' style='top:"+posTop+"px; left:"+posLeft+"px;'>";
        for(i in msg){
          content += "<tr><td class='menu_td2' >" + msg[i] + "</td></tr>";
        }
        content += "</td></tr></table>";
        $("body").append(content);
      }

      $(document).click(function(){
        $(".menu_table").remove();
      });
      -->
    </script>

    <div class='container-fluid'>
      <button class='navbar-toggler ms-auto' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <div class='logo-favicon'></div>
      </button>
      <a class='navbar-brand collapse navbar-collapse' href='index.php'>
        <div id='logo'></div>
      </a>
      <div class='collapse navbar-collapse text-right' id='navbarSupportedContent'>
      <ul class='menu_ul navbar-nav me-auto mb-2 mb-lg-0'>
        {% for entry in menu_entries %}
            <li onmousemove='pop(zlien[{{ entry.key }}],$(this))' class='av-item dropdown menu_li'>
            <a href='{{ asset(entry.url) }}' class='ejsmenu2 {% if menuIsActive(entry.url, app.request.uri) %} active {% endif %} dropdown-toggle'>{{ entry.title|raw}}</a></li>
        {% endfor %}
      </ul>

      <ul align='right'>
        <font id="username" class='noprint' style='font-size:19px'>
          {{ user_firstname }} {{ user_surname }}
          </font>
      </ul>
      <div id='div_account'>
        <ul colspan='2' style='text-align:right;'>
          <ul id='logout_img'>
            <a href='{{ asset("logout") }}' title='Déconnexion'>
              <span class='pl-icon pl-icon-logout'></span>
            </a>
          </ul>
          
          {% if planninghebdo or ics_export %}
            <a href='{{ asset("myaccount") }}' class='myAccountLink'>Mon Compte</a>
          {% elseif config('Auth-Mode') == 'SQL' %}
            <a href='{{ asset("agent/password") }}' class='myAccountLink'>Changer de mot de passe</a>
          {% endif %}
          <div id='logout_text'>
            <a href='{{ asset("logout") }}' >Déconnexion</a>
          </div>
        </ul>
      </div>
      <div id='div_account_reverse'>
        <ul colspan='2' style='text-align:right;' class='menu_ul navbar-nav me-auto mb-2 mb-lg-0'>
          <li class='av-item dropdown menu_li'>
          {% if planninghebdo or ics_export %}
            <a href='{{ asset("myaccount") }}' class='ejsmenu2'>Mon Compte</a>
          {% elseif config('Auth-Mode') == 'SQL' %}
            <a href='{{ asset("agent/password") }}' class='myAccountLink'>Changer de mot de passe</a>
          {% endif %}
          </li>
          <li class='av-item dropdown menu_li'>
            <a href='{{ asset("logout") }}'>Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <iframe id='popup' style='display:none;' ></iframe>
