{# password.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  {% if success == true and CJError == true %}
      <script type='text/javascript'>CJInfo({{ error }},"error");</script>
  {% endif %}
{% endblock %}

{% block page %}
    <h3>Modification du mot de passe</h3>
    <h4>{{ login.surname }} {{ login.name }}</h4>
    {% if toChange == true %}
      <form name='form' method='post' action="{{ asset('myaccount/password') }}">
        <input type ='hidden' name ='page' value='myaccount/password'/>
        <table class='tableauFiches'>
          <tr>
            <td>Ancien mot de passe : </td>
            <td>
              <input type='password' name='ancien' class='ui-widget-content ui-corner-all'/>
            </td>
          </tr>
          <tr>
            <td> Nouveau mot de passe : </td>
            <td>
              <input type='password' name='nouveau' class='ui-widget-content ui-corner-all'/>
            </td>
          </tr>
          <tr>
            <td>  Confirmer le nouveau mot de passe : </td>
            <td>
              <input type='password' name='confirm' class='ui-widget-content ui-corner-all'/>
            </td>
          </tr>
          <tr>
            <td colspan='2' style='text-align:center;'>
              <br/><input type='button' value='Annuler' onclick='location.href="{{ asset('index.php') }}";' class='ui-button'/>
              <input type='submit' value='Modifier' class='ui-button' style='margin-left:30px;'/>
            </td>
          </tr>
        </table>
      </form>
    {% else %}
      {% if success == true %}
        Le mot de passe a été changé.
        <br/><br/>
        <a href='{{ asset("index.php") }}'>Retour au planning</a>
      {% else %}
        {% if dontMatch == true %}
          Les nouveaux mots de passes ne correspondent pas
        {% elseif incorrectPassword == true %}
          Ancien mot de passe incorrect
        {% endif %}
        <br/><br/>
        <a href='javascript:history.back();'>Retour</a>
      {% endif %}
    {% endif %}
{% endblock %}