{# statedweek/tables/planning.html.twig #}

<table class="statedweek-table table-placed" id="statedweek-planning" border="1">
  <thead>
    <tr>
      <th class="cell-header">
        {{ planning.columns[0].starttime | date('H:i:s') | hour }} - {{ planning.columns[0].endtime | date('H:i:s') | hour }}
        <span id="first-slot-count"></span>
      </th>
      <th class="cell-header">
        {{ planning.columns[1].starttime | date('H:i:s') | hour }} - {{ planning.columns[1].endtime | date('H:i:s') | hour }}
        <span id="second-slot-count"></span>
      </th>
      <th class="cell-header">
        {{ planning.columns[2].starttime | date('H:i:s') | hour }} - {{ planning.columns[2].endtime | date('H:i:s') | hour }}
        <span id="third-slot-count"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for i in 0..24 %}
      <tr>
        <td
          class="time-slot first-slot"
          id="first-time-slot-{{ i }}"
          data-from="{{ planning.columns[0].starttime | date('H:i:s') }}"
          data-to="{{ planning.columns[0].endtime | date('H:i:s') }}"
          ondrop="drop(event)" ondragover="allowDrop(event);"></td>

        <td
          class="time-slot second-slot"
          id="second-time-slot-{{ i }}"
          data-from="{{ planning.columns[1].starttime | date('H:i:s') }}"
          data-to="{{ planning.columns[1].endtime | date('H:i:s') }}"
          ondrop="drop(event)" ondragover="allowDrop(event);"></td>

        <td
          class="time-slot third-slot"
          id="third-time-slot-{{ i }}"
          data-from="{{ planning.columns[2].starttime | date('H:i:s') }}"
          data-to="{{ planning.columns[2].endtime | date('H:i:s') }}"
          ondrop="drop(event)" ondragover="allowDrop(event);"></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
