{# statedweek/tables/planning.html.twig #}

<table class="statedweek-table table-placed" id="statedweek-planning" border="1">
  <thead>
    <tr>
      <th class="cell-header">
        {{ plcolumns[0].from | hour }} - {{ plcolumns[0].to | hour }}
      </th>
      <th class="cell-header">
        {{ plcolumns[1].from | hour }} - {{ plcolumns[1].to | hour }}
      </th>
      <th class="cell-header">
        {{ plcolumns[2].from | hour }} - {{ plcolumns[2].to | hour }}
      </th>
    </tr>
  </thead>
  <tbody>
    {% for i in 0..24 %}
      <tr>
        <td
          class="time-slot first-slot"
          id="first-time-slot-{{ i }}"
          data-from="{{ plcolumns[0].from }}"
          data-to="{{ plcolumns[0].to }}"></td>

        <td
          class="time-slot second-slot"
          id="second-time-slot-{{ i }}"
          data-from="{{ plcolumns[1].from }}"
          data-to="{{ plcolumns[1].to }}"></td>

        <td
          class="time-slot third-slot"
          id="third-time-slot-{{ i }}"
          data-from="{{ plcolumns[2].from }}"
          data-to="{{ plcolumns[2].to }}"></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
