{# comp_time/add.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type='text/JavaScript' src='{{ app.request.getBaseURL() }}/conges/js/script.conges.js?version={{ version }}'></script>
  <script type='text/JavaScript' src='{{ app.request.getBaseURL() }}/js/dateUtils.js?version={{ version }}'></script>
  <script type='text/JavaScript' src='{{ app.request.getBaseURL() }}/js/holiday.js?version={{ version }}'></script>
{% endblock %}

{% block page %}
  <h3>Poser des récupérations</h3>

  <table border='0'>
    <tr style='vertical-align:top'>
      <td>
        <form name='form' action='/comp-time' method='post' id='form'>
          <input type='hidden' name='CSRFToken' value='{{ CSRFToken }}' />
          <input type='hidden' name='confirm' value='confirm' />
          <input type='hidden' name='reliquat' value='{{ reliquat }}' />
          <input type='hidden' name='recuperation' id='recuperation' value='{{ recuperation }}' />
          <input type='hidden' name='recuperation_prev' id='recuperation_prev' value='{{ recuperation_prev }}' />
          <input type='hidden' name='credit' value='{{ credit }}' />
          <input type='hidden' name='anticipation' value='{{ anticipation }}' />
          <input type='hidden' id='agent' value='{{ agent_name }}' />
          <input type='hidden' id='conges-recup' value='1' />
          <input type='hidden' id='is-recover' value='1' />

          <table border='0' style="width: 100%">
            <tr>
              <td style='width:350px;'> Nom, prénom : </td>
              <td>
                {% if admin %}
                  <select name='perso_id' id='perso_id' style='width:50%;'>
                    <option value='0' ></option>
                    {% for a in db_perso %}
                      {% if a.id == perso_id %}
                        <option value='{{ a.id }}' selected='selected'>{{ a.nom }} {{ a.prenom }}</option>
                      {% else %}
                        <option value='{{ a.id }}'>{{ a.nom }} {{ a.prenom }}</option>
                      {%endif %}
                    {% endfor %}
                  </select>
                {% else %}
                  <input type='hidden' name='perso_id' id='perso_id' value='{{ login_id }}' />
                  {{ login_nom }} {{ login_prenom }}
                {% endif %}
              </td>
            </tr>

              <tr>
                <td style='padding-top:15px;'>Journée(s) entière(s) : </td>
                <td style='padding-top:15px;'>
                  <input type='checkbox' name='allday' class='checkdate' onclick='all_day();'/>
                </td>
              </tr>

            <tr>
              <td>Date de début : </td>
              <td>
                <input type='text' name='debut' id='debut' value='{{ debut }}' class='datepicker googleCalendarTrigger checkdate' />&nbsp;
              </td>
            </tr>

            <tr id='hre_debut'>
              <td>Heure de début : </td>
              <td>
                <select name='hre_debut' id='hre_debut_select' class='checkdate googleCalendarTrigger'>
                    <option value=""></option>
                    {% for i in 6..23 %}
                        {% for j in range(low=0, high=60, step=config('Granularite')) %}
                            {% if j != 60 %}
                                <option value='{{ "%02d:%02d:00"|format(i,j) }}' >{{ "%02dh%02d"|format(i,j) }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
              </td>
            </tr>

            <tr>
              <td>Date de fin : </td>
              <td>
                <input type='text' name='fin' id='fin' value='{{ fin }}'  class='datepicker googleCalendarTrigger checkdate' />&nbsp;
              </td>
            </tr>

            <tr id='hre_fin'><td>Heure de fin : </td>
              <td>
                <select name='hre_fin' id='hre_fin_select' class='checkdate googleCalendarTrigger' onfocus='setEndHour();'>
                    <option value=""></option>
                    {% for i in 6..23 %}
                        {% for j in range(low=0, high=60, step=config('Granularite')) %}
                        {% if j != 60 %}
                            <option value='{{ "%02d:%02d:00"|format(i,j) }}' >{{ "%02dh%02d"|format(i,j) }}</option>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
              </td>
            </tr>

            <tr>
                <td style='padding-top:15px;'>Nombre d'heures : </td>
              <td style='padding-top:15px;'>
                <div id='nbHeures' style='padding:0 5px; width:50px;'></div>
                <input type='hidden' name='heures' value='0' />
                <input type='hidden' name='minutes' value='0' />
                <input type='hidden' id='erreurCalcul' value='false' />
              </td>
            </tr>

            {% if hours_per_day is defined %}
              <tr>
                <td>
                    Nombre de jours ({{ hours_per_day }}h/jour) :
                    <input type='hidden' name='hours_per_day' id='hours_per_day' value = '{{ hours_per_day }}' />
                </td>
                <td>
                  <div id='nbJours' style='padding:0 5px; width:50px;'></div>
                </td>
              </tr>
            {% endif %}

            <tr>
              <td colspan='2' style='padding-top:20px;'>
                    Ces heures seront débitées sur les crédits de récupérations.
                    <input type='hidden' name='debit' value='recuperation' />
                  </td>
                </tr>

                <tr>
                  <td colspan='2'>
                    <table border='0'>
                        <tr class='balance_tr'>
                          <td>Solde disponible au 
                            <span class='balance_date'>{{ balance_date }}</span> : 
                          </td>

                          <td id='balance_before'>{{ balance_before }}</td>
                          <td>(après débit : 
                            <span id='recup4'>{{ balance_before }} {{ balance_before_days }}</span>)
                          </td>
                        </tr>

                        <tr class='balance_tr'>
                          <td>Solde prévisionnel<sup>*</sup> au 
                            <span class='balance_date'>{{ balance_date }}</span> : 
                          </td>

                          <td id='balance2_before'>{{ balance_before }}</td>

                          <td>(après débit : 
                            <span id='balance2_after'>{{ balance_after }} {{ balance2_before_days }}</span>)
                          </td>
                        </tr>
                    </table>
                  </td>
                </tr>

          <tr valign='top'>
            <td style='padding-top:15px;'>Commentaires : </td>
            <td style='padding-top:15px;'>
              <textarea name='commentaires' cols='16' rows='5' style='width:40%;'></textarea>
            </td>
          </tr>

          <tr>
            <td colspan='2' style='text-align:center;'>
              <input id="cancel" type='button' value='Annuler' class='ui-button'/>
              &nbsp;&nbsp;
              <input id="validate" type='button' value='Valider' class='ui-button' style='margin-left:20px;'/>
              <div id='google-calendar-div' class='inline'></div>
            </td>
          </tr>

          <tr>
            <td colspan='2' style='padding-top:30px; font-style:italic;'>
              <sup>*</sup> Le solde prévisionnel tient compte des demandes des récupérations non validées (crédits et utilisations).
            </td>
          </tr>
        </table>
      </form>
    </td>
    <td style='color:#FF5E0E;'>
      {% if holiday_info %}
        <b>Informations sur les congés :</b><br/><br/>
        {% for i in holiday_info %}
          Du {{ i.start }} au {{ i.end }} :<br/>{{ i.texte|nl2br }}<br/><br/>
        {% endfor %}
      {% endif %}
    </td>
  </tr>
</table>

{% endblock %}
