{# absenceInfo/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
        
    <div class="admin-div">

        <form id='form' method='POST' action='{{ asset('absences/info') }}' name='form' novalidate>
            <input type="hidden" name="_token" value="{{ csrf_token('') }}"/>
            <input type='hidden' name='id' value='{{ id }}'/>

            <div class="row my-3">
                <label class="col-1 col-form-label" for="start-date-info">{% trans %}Start date{% endtrans %}</label>
                <div class="col-2">
                    <input type="text" id="start-date-info" name="start" value="{{ start }}" class="datepicker form-control start-date" required/>
                </div>
            </div>

            <div class="row">
                <label class="col-1 col-form-label" for="end-date-info">{% trans %}End date{% endtrans %}</label>
                <div class="col-2">
                    <input type="text" id="end-date-info" name="end" value="{{ end }}" class="datepicker form-control end-date" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-2 offset-1 invalid-feedback ps-4">{% trans from 'validators' %}Please choose a valid date interval.{% endtrans %}</div>
            </div>

            <div class="row mb-4">
                <label class="col-1 col-form-label" for="text-info">{% trans %}Text{% endtrans %}</label>
                <div class="col-2">
                    <textarea id="text-info" name="text" rows="5" cols="25" class="emoji-picker-textarea form-control" required/>{{ text }}</textarea>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <a href="{{ asset('absences/info') }}" role="button" class="btn btn-secondary m-2">{% trans %}Cancel{% endtrans %}</a>
                    {% if id %}
                        <a href="javascript:deleteAbsenceInfo({{ id }});" role="button" class="btn btn-danger m-2">{% trans %}Delete{% endtrans %}</a>
                    {% endif %}     
                    <input type="submit" role="button" value="{% trans %}Confirm{% endtrans %}" class="btn btn-primary m-2">
                </div>
            </div>

        </form>
    </div>
{% endblock %}
