{# absenceInfo/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
    <h3>Informations sur les absences</h3>

    <div class='top-button-div'>
        <a href='{{ asset("absences/info/add") }}' class='ui-button'>Ajouter</a>
    </div>

    {% if info %}
        <table class='CJDataTable' data-sort='[[1,"asc"],[2,"asc"]]' id='AbsenceInfoTable'>
            <thead>
                <tr>
                    <th class='dataTableNoSort'></th>
                    <th class='dataTableDateFR'>Début</th>
                    <th class='dataTableDateFR'>Fin</th>
                    <th>Texte</th>
                </tr>
            </thead>
            <tbody>
                {%for elem in info %}
                    <tr>
                        <td>
                            <a href='{{ asset('absences/info/') }}{{elem.id}}'>
                                <span class='icones fa-stack' title='Edit'><i class='fa fa-circle fa-stack-2x fa-3x'></i><i class='fa fa-pencil-square-o fa-stack-1x'></i></i></span>
                            </a>
                        </td>
                        <td>{{ elem.debut | date("d/m/Y") }}</td>
                        <td>{{ elem.fin | date("d/m/Y")  }}</td>
                        <td>{{ elem.texte }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        Aucune information enregistrée.
    {% endif %}
{% endblock %}