{# absenceInfo/index.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
    <h3>{% trans %}Information on absences{% endtrans %}</h3>

    <div class='top-button-div'>
        <a href='{{ asset("/absences/info/add") }}' class='ui-button'>{% trans %}Add{% endtrans %}</a>
    </div>

    {% if info %}
        <table class='CJDataTable' data-sort='[[1,"asc"],[2,"asc"]]' id='AbsenceInfoTable'>
            <thead>
                <tr>
                    <th class='dataTableNoSort'></th>
                    <th>{% trans %}Start on{% endtrans %}</th>
                    <th>{% trans %}End on{% endtrans %}</th>
                    <th>{% trans %}Text{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {%for elem in info %}
                    <tr>
                        <td>
                            <a href='{{ asset('/absences/info/') }}{{elem.id}}'>
                                <span class='pl-icon pl-icon-edit' title='Edit'></span>
                            </a>
                        </td>
                        <td>{{ elem.debut }}</td>
                        <td>{{ elem.fin }}</td>
                        <td>{{ elem.texte }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans %}No information.{% endtrans %}
    {% endif %}
{% endblock %}