{#holiday/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/holiday.js') }}"></script>
{% endblock %}

{% block page %}
  <div id="content-form">
    <h3>{{ title | trans }}</h3>

    <div class="admin-div">
      <form name="form" action= "{{ asset( action_path )}}" method="post" id="holiday-form" class="googleCalendarForm" novalidate>

        {% if id %}
          <input type="hidden" name="confirm" value="confirm" />
          <input type="hidden" name="valide" value="0" />
          <input type="hidden" name="valide2" value="{{ valide }}" />
          <input type="hidden" name="id" value="{{ id }}" id="id" />
        {% endif %}

        {% if request_type == 'recover' %}
          <input type="hidden" id="is-recover" value="1" />
          <input type="hidden" id="negative-recover" value="false"/>
        {% endif %}

        {% if request_type == 'holiday' and id == null %}
          <input type="hidden" id="agent_id" value="{{ loggedin_id }}" />
          <input type="hidden" name="multisites" id="multisites" value="{{ config('Multisites-nombre') > 1 ? 1 : 0  }}" />
          <input type="hidden" id="agents-multiples" value="{{ agents_multiples }}" />
        {% endif %}

        <input type="hidden" name="_token" value="{{ csrf_token('') }}"/>
        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}" />
        <input type="hidden" name="reliquat" value="{{ reliquat }}" />
        <input type="hidden" name="recuperation" id="recuperation" value="{{ recuperation }}" />
        <input type="hidden" name="recuperation_prev" id="recuperation_prev" value="{{ recuperation_prev }}" />
        <input type="hidden" name="credit" value="{{ credit }}" />
        <input type="hidden" name="anticipation" value="{{ anticipation }}" />
        <input type="hidden" id="agent" value="{{ agent_name }}" />
        <input type="hidden" name="conges-mode" id="conges-mode" value="{{ config('Conges-Mode') }}" />
        <input type="hidden" name="conges-demi-journees" id="conges-demi-journees" value="{{ config('Conges-demi-journees') }}" />
        <input type="hidden" id="conges-recup" name="conges-recup" value="{{ config('Conges-Recuperations') }}" />
        <input type="hidden" id="selected_agent_id" value="{{ selected_agent_id }}" />

        {% if id %}

          <div class="row mb-2 gx-5">
              <label class="col-2 col-form-label text-end" for="agent">{% trans %}Agent{% endtrans %} :</label>
              <div class="col-3">
                <input type="hidden" name="perso_id" id="perso_id" value="{{ perso_id }}" />
                <input type="text" id="agent" readonly class="form-control-plaintext" value="{{ agent_name }}">
              </div>
          </div>

        {% else %}
          
          {% if request_type == 'holiday' %}

            {% if admin and config('Multisites-nombre') > 1 %}
              <fieldset class="row my-2 gx-5" id="sites-selection">
                <legend class="col-auto offset-2 col-form-label pe-0" for="sites">Sites :</legend>
                <div class="col-auto" style="margin-top: 6px;">
                {% for s in sites_select %}
                  <div class="form-check form-check-inline" id="sites">
                    <input class="form-check-input" type="checkbox" name="selected_sites" id="site_{{s.id}}" value="{{s.id}}" checked >
                    <label for="site_{{s.id}}">{{ s.name }}</label>
                  </div>
                {% endfor %}
                </div>
              </fieldset>
            {% endif %}

            {% if not admin %}

              <div class="row mb-2 gx-5">
                <label class="col-2 col-form-label text-end" for="agent">{% trans %}Agent{% endtrans %} :</label>
                <div class="col-3">
                  <input type="hidden" name="perso_id" id="perso_id" value="{{ loggedin_id }}" />
                  <input type="text" id="agent" readonly class="form-control-plaintext" value="{{ loggedin_name }} {{ loggedin_firstname }}">
                </div>
              </div>

            {% else %}

              {% if agents_multiples %}

                <input type="hidden" name="perso_ids[]" value="{{ loggedin_id }}" id="hidden{{ loggedin_id }}" class="perso_ids_hidden"/>

                <fieldset class="row mb-2 gx-5">
                  <legend class="col-2 col-form-label text-end" for="perso_ul1">{% trans %}Agent(s){% endtrans %} :</legend>
                  <div class="col-auto">

                    <ul id="perso_ul1" class="perso_ul">
                      <li id="li{{ loggedin_id }}" class="perso_ids_li mb-1">
                        <b>{{ loggedin_name }} {{ loggedin_firstname }}</b>
                        <button class="perso-drop btn btn-icon p-0" onclick="supprimeAgent({{ loggedin_id }});">
                          <span class="pl-icon pl-icon-dropblack"></span>
                        </button>
                      </li>
                    </ul>

                  </div>

                  <div class="col-auto ps-0"><ul id="perso_ul2" class="perso_ul"></ul></div>
                  <div class="col-auto ps-0"><ul id="perso_ul3" class="perso_ul"></ul></div>
                  <div class="col-auto ps-0"><ul id="perso_ul4" class="perso_ul"></ul></div>
                  <div class="col-auto ps-0"><ul id="perso_ul5" class="perso_ul"></ul></div>

                </fieldset>
              {% endif %}

              <div class="row mb-2 gx-5">

                {% if not agents_multiples %}
                  <label class="col-2 col-form-label text-end" for="perso_ids">{% trans %}Agent{% endtrans %} :</label>
                {% endif %}

                <div class="col-3 {% if agents_multiples %} offset-2 {% endif %}">
                  <select name="perso_id" id="perso_ids" class="{% if agents_multiples %}agents_multiples{% endif %} form-select form-select-sm">
                    {% if agents_multiples %}
                      <option value="0" selected="selected"> -- Ajoutez un agent --</option>
                      {% if config('Conges-tous') %}
                      <option value="tous">Tous les agents</option>
                      {% endif %}
                    {% endif %}
                  </select>
                </div>
              </div>

            {% endif %}

          {% else %}

            <div class="row mb-2 gx-5">
              <label class="col-2 col-form-label text-end" for="perso_id">{% trans %}Agent{% endtrans %} :</label>
              <div class="col-3">

                {% if managed | length > 1 %}
                  <select name="perso_id" id="perso_id" onchange='document.location.href="/comptime/add?perso_id="+this.value;' class="form-select form-selec-sm">
                    <option value="0"></option>
                    {% for m in managed %}
                      <option value="{{ m.id }}" {% if perso_id == m.id %} selected {% endif %}> {{ m.lastname }} {{ m.firstname }}</option>
                    {% endfor %}
                  </select>
                {% else %}

                <input type="hidden" name="perso_id" id="perso_id" value="{{ managed[0].id }}" />
                <input type="text" readonly class="form-control-plaintext" value="{{ managed[0].lastname }} {{ managed[0].firstname }}">

                {% endif %}

              </div>
            </div>

          {% endif %}

        {% endif %}

        {% if show_allday %}

          <div class="row mb-2 gx-5 form-check-prepend">
            <label class="col-2 col-form-label text-end form-check-label" for="allday" >Journée(s) entière(s) :</label>
            <div class="col-3">
              <input type="checkbox" name="allday" class="form-check-input checkdate" 
                {% if allday %} checked {% endif %}
                {% if not save_button %} disabled {% endif %}
                style="margin-top: 10px;" onclick="all_day();"/>
            </div>
          </div>

        {% elseif config('Conges-Mode') == 'jours' and config('Conges-demi-journees') %}

          <div class="row mb-2 gx-5 form-check-prepend">
            <label class="col-2 col-form-label text-end form-check-label" for="halfday" >Demi-journée(s) :</label>
            <div class="col-3">
              <input type="checkbox" name="halfday" class="form-check-input checkdate" style="margin-top: 10px;" 
                {% if halfday %} checked {% endif %}
                {% if not save_button %} disabled {% endif %}/>
            </div>
          </div>

        {% endif %}

        <div class="row gx-5 mb-2">
          <label class="col-2 col-form-label text-end" for="debut">Date de début :</label>
          <div class="col-3">
            <input type="text" name="debut" id="debut" value="{{ debut }}" class="datepicker start-date form-control googleCalendarTrigger checkdate" {% if not save_button %} readonly {% endif %} required/>
          </div>
        </div>

        {% if halfday %}

          <div class="row gx-5 mb-2">
            <div class="col-3 offset-2">
              <select id="start_halfday" name="start_halfday" class="form-select form-select-sm checkdate">
                <option value="fullday"  {% if start_halfday == 'fullday' %} selected {% endif %}>Journée complète</option>
                <option value="morning" {% if start_halfday == 'morning' %} selected {% endif %}>Matin</option>
                <option value="afternoon" {% if start_halfday == 'afternoon' %} selected {% endif %}>Après-midi</option>
              </select>
            </div>
          </div>

        {% elseif config('Conges-Recuperations') and config('Conges-demi-journees') %}

          <div class="row gx-5 mb-2">
            <div class="col-3 offset-2">
              <select id="start_halfday" name="start_halfday" style="display: none;" class="form-select form-select-sm checkdate">
                <option value="fullday">Journée complète</option>
                <option value="morning">Matin</option>
                <option value="afternoon">Après-midi</option>
              </select>
            </div>
          </div>

        {% endif %}

        <div class="row gx-5 mb-2" id="hre_debut" {% if allday or halfday %} style="display:none;" {% endif %}>
          <label class="col-2 col-form-label text-end" for="hre_debut_select">Heure de début :</label>
          <div class="col-3">
            <input name="hre_debut" id="hre_debut_select" class="planno-timepicker checkdate center form-control form-control-sm" value="{{ hre_debut is defined and hre_debut != '00:00:00' ? hre_debut | date('H:i') : '' }}"/>
          </div>
        </div>

        <div class="row gx-5 mb-2">
          <label class="col-2 col-form-label text-end" for="fin">Date de fin :</label>
          <div class="col-3">
            <input type="text" name="fin" id="fin" value="{{ fin }}" class="datepicker end-date form-control googleCalendarTrigger checkdate" {% if not save_button %} readonly {% endif %}/>
          </div>
        </div>

        {% if halfday %}

          <div class="row gx-5 mb-2">
            <div class="col-3 offset-2">
              <select id="end_halfday" name="end_halfday" class="form-select form-select-sm checkdate">
                <option value="fullday"  {% if end_halfday == 'fullday' %} selected {% endif %}>Journée complète</option>
                <option value="morning" {% if end_halfday == 'morning' %} selected {% endif %}>Matin</option>
                <option value="afternoon" {% if end_halfday == 'afternoon' %} selected {% endif %}>Après-midi</option>
              </select>
            </div>
          </div>

        {% elseif config('Conges-Recuperations') and config('Conges-demi-journees') %}

          <div class="row gx-5 mb-2">
            <div class="col-3 offset-2">
              <select id="end_halfday" name="end_halfday" style="display: none;" class="form-select form-select-sm checkdate">
                <option value="fullday">Journée complète</option>
                <option value="morning">Matin</option>
                <option value="afternoon">Après-midi</option>
              </select>
            </div>
          </div>

        {% endif %}

        <div class="row gx-5 mb-2" id="hre_fin" {% if allday or halfday %} style="display:none;" {% endif %}>
          <label class="col-2 col-form-label text-end" for="hre_fin_select">Heure de fin :</label>
          <div class="col-3">
            <input name="hre_fin" id="hre_fin_select" class="planno-timepicker checkdate center form-control form-control-sm" value="{{ hre_fin is defined and hre_fin != '23:59:59' ? hre_fin | date('H:i') : '' }}"/>
          </div>
        </div>

        <div class="row mb-2">
          <div class="invalid-feedback offset-2">{% trans from 'validators' %}Please choose a valid date interval.{% endtrans %}</div>
        </div>

        <div class="row gx-5 mb-2 {% if request_type == 'holiday' and not id %} hideWhenMultipleAgents {% endif %}">
          {% if config('Conges-Mode') == 'heures' or request_type == 'recover' %}
            <label class="col-2 col-form-label text-end" for="nbHeures">Nombre d'heures :</label>
            <div class="col-3">
              <input type="text" readonly class="form-control-plaintext" id="nbHeures">
            </div>
          {% else %}
            <label class="col-2 col-form-label text-end" for="nbJours">Nombre de jours :</label>
            <div class="col-3">
              <input type="text" readonly class="form-control-plaintext" id="nbJours">
            </div>
          {% endif %}
          <input type="hidden" name="heures" value="0" />
          <input type="hidden" name="minutes" value="0" />
          <input type="hidden" id="erreurCalcul" value="false" />
        </div>

        <hr>

        {% if config('Conges-Mode') == 'jours' %}
          <div class="row gx-5 mb-2" style="display:none;">
            <label class="col-2 col-form-label text-end" for="hr_rest" style="padding-left: 35px;">Régularisation sur récupération :</label>
            <div class="col-3">
              <input id="hr_rest" readonly class="form-control-plaintext"/>
              <input type="hidden" name="rest" id="rest" value=""/>
            </div>
          </div>
        {% endif %}

        {% if request_type=='holiday' and config('Conges-Mode') == 'heures' and hours_per_day is not empty %}

          <div class="row gx-5 mb-2 hideWhenMultipleAgents">
            <label class="col-2 col-form-label text-end" for="hr_rest">Équivalence en jour :<br/>(1 jour =  {{ hours_per_day_in_hhmm }})</label>
            <div class="col-3">
              <input id="nbJours" readonly class="form-control-plaintext"/>
              <input type="hidden" name="hours_per_day" id="hours_per_day" value="{{ hours_per_day }}" />
            </div>
          </div>

        {% elseif hours_per_day %}

          <div class="row gx-5 mb-2">
            <label class="col-2 col-form-label text-end" for="hr_rest">Nombre de jours ({{ hours_per_day }}h/jour) :</label>
            <div class="col-3">
              <input id="nbJours" readonly class="form-control-plaintext"/>
              <input type="hidden" name="hours_per_day" id="hours_per_day" value="{{ hours_per_day }}" />
            </div>
          </div>

        {% endif %}


        {% if request_type == 'holiday' %}

          {% if config('Conges-Recuperations') == 0 %}
            <div class="row mb-2 gx-5 hideWhenMultipleAgents">
              <div class="col-auto offset-2">
                <p id="terms" class="mb-0"></p>
              </div>
            </div>

            <div class="row mb-3 gx-5 hideWhenMultipleAgents">
              <div class="col-3 offset-2">

                <select id="terms-select" name="debit" class="form-select form-select-sm">
                  <option value="recuperation" {% if debit == 'recuperation' %} selected {% endif %}>Le crédit de récupérations</option>
                  <option value="credit" {% if debit == 'credit' %} selected {% endif %}>Le crédit de congés de l'année en cours</option>
                </select>
              </div>
            </div>

          {% else %}

            <div class="row mb-2 gx-5 hideWhenMultipleAgents">
              <div class="col-auto offset-2">
                <p id="terms"></p>
                <input type="hidden" name="debit" value="credit" />
              </div>
            </div>
      
          {% endif %}

        {% else %}

          <div class="row mb-2 gx-5">
            <div class="col-auto offset-2">
              <p id="terms">Ces heures seront débitées sur les crédits de récupérations.</p>
              <input type="hidden" name="debit" value="recuperation"/>
            </div>
          </div>

        {% endif %}

        {% if not id or valide <= 0 %}

          {% if request_type == 'holiday' %}

            <div class="hideWhenMultipleAgents" id="holiday-info">
              <div class="row mb-2 gx-5">
                <label class="col-2 col-form-label text-end" for="info_balance">Reliquat :</label>
                <div class="col-4" id="info_balance">
                  <input type="text" id="holiday_balance" readonly class="form-control-plaintext" value="{{ reliquat2 }} {{ reliquat_jours }}">
                  <span class="form-control-plaintext">(après débit : <span id="reliquat4">{{ reliquat2 }}</span>)</span>
                </div>
              </div>

              {% if config('Conges-Recuperations') == 0 %}

                <div class="row mb-2 gx-5 balance_tr">
                  <label class="col-2 col-form-label text-end" for="info_balance_before">Crédit de récupérations disponible au
                    <span class="balance_date">{{ balance_date }}</span> :
                  </label>
                  <div class="col-4" id="info_balance_before">
                    <input type="text" id="balance_before" readonly class="form-control-plaintext" value="{{ balance_before }}">
                    <span class="form-control-plaintext">(après débit : <span id="recup4">{{ balance_before }}</span>)</span>
                  </div>
                </div>

                <div class="row mb-2 gx-5 balance_tr">
                  <label class="col-2 col-form-label text-end" for="info_balance2_before">Crédit de récupérations prévisionnel<sup>*</sup> au
                    <span class="balance_date">{{ balance_date }}</span> :
                  </label>
                  <div class="col-4" id="info_balance2_before">
                    <input type="text" id="balance2_before" readonly class="form-control-plaintext" value="{{ balance2_before }}">
                    <span class="form-control-plaintext">(après débit : <span id="balance2_after">{{ balance2_before }}</span>)</span>
                  </div>
                </div>

                {# The comp time information is hidden. If there is rest, it will be shown. #}

              {% elseif config('Conges-Mode') == 'jours' and config('Conges-Recuperations') == 1 %}

                <div class="row mb-2 gx-5 balance_tr rest" style="display: none">
                  <label class="col-2 col-form-label text-end" for="info_balance_before">Crédit de récupérations disponible au
                    <span class="balance_date">{{ balance_date }}</span> :
                  </label>
                  <div class="col-4" id="info_balance_before">
                    <input type="text" id="balance_before" readonly class="form-control-plaintext" value="{{ balance_before }}">
                    <span class="form-control-plaintext">(après débit : <span id="recup4">{{ balance_before }}</span>)</span>
                  </div>
                </div>

                <div class="row mb-2 gx-5 balance_tr rest" style="display: none">
                  <label class="col-2 col-form-label text-end" for="info_balance2_before">Crédit de récupérations prévisionnel<sup>*</sup> au
                    <span class="balance_date">{{ balance_date }}</span> :
                  </label>
                  <div class="col-4" id="info_balance2_before">
                    <input type="text" id="balance2_before" readonly class="form-control-plaintext" value="{{ balance2_before }}">
                    <span class="form-control-plaintext">(après débit : <span id="balance2_after">{{ balance2_before }}</span>)</span>
                  </div>
                </div>

              {% endif %}

              <div class="row mb-2 gx-5" >
                <label class="col-2 col-form-label text-end" for="info_credit">Crédit de congés :</label>
                <div class="col-4" id="info_credit">
                  <input type="text" id="holiday_credit" readonly class="form-control-plaintext" value="{{ credit2 }} {{ credit_jours }}">
                  <span id="credit3" class="form-control-plaintext">(après débit : <span id="credit4">{{ credit2 }}</span>)</span>
                </div>
              </div>

              <div class="row mb-2 gx-5" >
                <label class="col-2 col-form-label text-end" for="info_debit">Solde débiteur : </label>
                <div class="col-4" id="info_debit">
                  <input type="text" id="holiday_debit" readonly class="form-control-plaintext" value="{{ anticipation2 }} {{ anticipation_jours }}">
                  <span id="anticipation3" class="form-control-plaintext">(après débit : <span id="anticipation4">{{ anticipation2 }}</span>)</span>
                </div>
              </div>
            </div>

          {% else %}

            <div id="holiday-info">
              <div class="row mb-2 gx-5 balance_tr">
                <label class="col-2 col-form-label text-end" for="info_balance_before" style="padding-left: 35px;">Solde disponible au
                  <span class="balance_date">{{ balance_date }}</span> :
                </label>
                <div class="col-4 align" id="info_balance_before">
                  <input type="text" id="balance_before" readonly class="form-control-plaintext" value="{{ balance_before }} {% if balance_before !='0h00' and balance_before_days %} / {% endif %} {{ balance_before_days  }}">
                  <span class="form-control-plaintext">(après débit : <span id="recup4">{{ balance_before }} {% if balance_before !='0h00' and balance_before_days %} / {% endif %} {{ balance_before_days }}</span>)</span>
                </div>
              </div>

              <div class="row mb-2 gx-5 balance_tr">
                <label class="col-2 col-form-label text-end" for="info_balance2_before" style="padding-left: 35px;">Solde prévisionnel<sup>*</sup> au
                  <span class="balance_date">{{ balance_date }}</span> :
                </label>
                <div class="col-4" id="info_balance2_before">
                  <input type="text" id="balance2_before" readonly class="form-control-plaintext" value="{{ balance2_before }} {% if balance2_before !='0h00' and balance2_before_days %} / {% endif %} {{ balance2_before_days }}">
                  <span class="form-control-plaintext">(après débit : <span id="balance2_after">{{ balance2_before }} {% if balance2_before !='0h00' and balance2_before_days %} / {% endif %} {{ balance2_before_days }}</span>)</span>
                </div>
              </div>
            </div>

          {% endif %}
      
          <hr class="hideWhenMultipleAgents">
        {% endif %}

        <div class="row gx-5 mb-2">
          <label class="col-2 col-form-label text-end" for="comment">Commentaires : </label>
          <div class="col-3">
            <textarea name="commentaires" id="comment"  class="form-control form-control-sm" rows="5">{{ commentaires }}</textarea>
          </div>
        </div>

        {% if id %}

          <div class="row gx-5 mb-2">
            <label class="col-2 col-form-label text-end" for="request">Demande :</label>
            <div class="col-3">
              <input type="text" name="request" id="request" readonly class="form-control-plaintext" value="{{ saisie }}{% if saisie_par %} par {{ saisie_par }}{% endif %}"/>
            </div>
          </div>

          {% if adminN2 and not adminN1 %}
            <div class="row gx-5 mb-2">
              <label class="col-2 col-form-label text-end" for="n1">Validation niveau 1 :</label>
              <div class="col-3">
                <input type="text" name="n1" id="n1" readonly class="form-control-plaintext" value="{{ validation_n1 }}"/>
              </div>
            </div>
          {% endif %}

          <div class="row gx-5 mb-2" id="validation-line">
            <label class="col-2 col-form-label text-end" for="validation-statuses">Validation :</label>
            <div class="col-3">
              <div id="validation-statuses"></div>
            </div>
          </div>

          <div class="row gx-5 mb-2" id="tr_refus" style="{{ displayRefus }}">
            <label class="col-2 col-form-label text-end" for="refus">Motif du refus :</label>
            <div class="col-3">
              <textarea name="refus" id="refus" class="form-control form-control-sm" rows="5">{{ refus }}</textarea>
            </div>
          </div>

        {% elseif config('Conges-validation') %}

          <div class="row gx-5 mb-2" id="validation-line">
            <label class="col-2 col-form-label text-end" for="validation-statuses">État :</label>
            <div class="col-3">
              <div id="validation-statuses"></div>
            </div>
          </div>

          <div class="row gx-5 mb-2" id="tr_refus" style="display:none;">
            <label class="col-2 col-form-label text-end" for="refus">Motif du refus :</label>
            <div class="col-3">
              <textarea name="refus" id="refus" class="form-control form-control-sm" rows="5"></textarea>
            </div>
          </div>
        
        {% else %}

          <input type="hidden" name="valide" id="validation" value="1" />

        {% endif %}

        <div class="row gx-5 mb-2">
          <div class="col-auto offset-2">

            {% if request_type == 'holiday' %}
              <input id="cancel" type="button" class="btn btn-secondary" value="{% trans %}Cancel{% endtrans %}" />
            {% else %}
              <input type="button" value="{% trans %}Cancel{% endtrans %}" onclick="document.location.href='{{ asset('holiday/?recup=1') }}';" class="btn btn-secondary"/>
            {% endif %}

            {% if not id %}
              <input type="submit" role="button" class="btn btn-primary m-2" value="{% trans %}Confirm{% endtrans %}"/>
            {% elseif save_button %}
              <input type="submit" role="button" value="{% trans %}Save changes{% endtrans %}" class="btn btn-primary m-2"/>
            {% endif %}

            {% if delete_button %}
              {% if request_type == 'recover' %}
                <input type="button" value="{% trans %}Delete{% endtrans %}" onclick="supprimeConges('/holiday/?recup=1')" class="btn btn-danger m-2"/>
              {% else %}
                <input type="button" value="{% trans %}Delete{% endtrans %}" onclick="supprimeConges('/holiday')" class="btn btn-danger m-2"/>
              {% endif %}
            {% endif %}

            <div id="google-calendar-div" class="inline"></div>
          </div>
        </div>

        {% if config('Conges-Recuperations') == 0 %}
          <div class="row mb-2 solde-info">
            <p style="padding-top:30px;font-style:italic;"><sup>*</sup> Le crédit de récupérations prévisionnel tient compte des demandes non validées (crédits et utilisations).</p>
          </div>

        {% elseif config('Conges-Mode') == 'jours' and config('Conges-Recuperations') == 1 %}
          <div class="row mb-2 solde-info" style="display: none;">
            <p style="padding-top:30px;font-style:italic;"><sup>*</sup> Le crédit de récupérations prévisionnel tient compte des demandes non validées (crédits et utilisations).</p>
          </div>
        
        {% elseif request_type == 'recover' %}
          <div class="row mb-2 solde-info">
            <p style="padding-top:30px;font-style:italic;"><sup>*</sup> Le solde prévisionnel tient compte des demandes de récupérations non validées (crédits et utilisations).</p>
          </div>
        {% endif %}

      </form>

      {% if holiday_info %}
        <div class="row mb-2 gx-5 red align-info">
          <div class="col-3 offset-2">
          <b>Informations sur les congés :</b><br/>
            {% for i in holiday_info %}
              Du {{ i.start }} au {{ i.end }} : {{ i.texte | nl2br }}<br/>
            {% endfor %}
          </div>
        </div>
      {% endif %}

    </div>
  </div>

{% endblock %}
