{# absences/add.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/absence.js') }}"></script>
{% endblock %}

{% block page %}
<div id="content-form">
    <script type='text/JavaScript'>
      $( document ).ready(function() {
        $('#form').submit(function() {
          return verif_absences("debut=date1;fin=date2;motif");
        });
      });
    </script>
    <h3>Ajouter une absence</h3>
    <div class="admin-div">
      
      <form id="form" name="form" action="/absence" method="post" enctype="multipart/form-data" novalidate>
        <input type="hidden" name="_token" value="{{ csrf_token('') }}" />
        <input type="hidden" name="CSRFToken" value="{{ CSRFToken }}" />
        <input type="hidden" id="admin" value="{{ admin }}" />
        <input type="hidden" id="login_id" value="{{ loggedin_id }}" />

      
        {% if agents_multiples %}
          <fieldset class="row my-2 gx-5">
            <legend class="col-2 col-form-label aRight" for="perso_ul1">{% trans %}Agent{% endtrans %}(s) :</legend>
            <div class="col-auto">

              {% if agent_preselection %}
                <input type='hidden' name='perso_ids[]' value='{{ loggedin_id }}' id='hidden{{ loggedin_id }}' class='perso_ids_hidden'/>
              {% endif %}

              <ul id="perso_ul1" class="perso_ul">
                {% if agent_preselection %}
                  <li id="li{{ loggedin_id }}" class="perso_ids_li">
                    {{ loggedin_name }} {{ loggedin_firstname }}
                    {% if admin %}
                      <button type="button" class="perso-drop btn btn-icon p-0" onclick="supprimeAgent({ loggedin_id });" title="{% trans %}Delete{% endtrans %}">
                        <span class="pl-icon pl-icon-dropblack"></span>
                      </button>
                    {% endif %}
                  </li>
                {% endif %}
              </ul>
            </div>

            <div class="col-auto"><ul id='perso_ul2' class='perso_ul'></ul></div>
            <div class="col-auto"><ul id='perso_ul3' class='perso_ul'></ul></div>
            <div class="col-auto"><ul id='perso_ul4' class='perso_ul'></ul></div>
            <div class="col-auto"><ul id='perso_ul5' class='perso_ul'></ul></div>
          </fieldset>
          
          <div class="row mb-2 gx-5">
            <div class="col-3 offset-2">
              <select name="perso_id" id="perso_ids" class="form-select form-select-sm my-3">
                <option value="0" selected="selected">-- Ajoutez un agent --</option>
                {% if config('Absences-tous') %}
                  <option value='tous'>Tous les agents</option>
                {% endif %}

                {% for a in agents %}
                  {% if a.id == loggedin_id and agent_preselection %}
                    <option value='{{ a.id }}' id='option{{ a.id }}' style="display:none;">
                      {{ a.lastname }} {{ a.firstname }}
                    </option>
                  {% else %}
                    <option value='{{ a.id }}' id='option{{ a.id }}'>
                      {{ a.lastname }} {{ a.firstname }}
                    </option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

        {% else %}

          <div class="row my-2 gx-5">
            <label class="col-2 col-form-label aRight" for="perso_ul1">{% trans %}Agent{% endtrans %} :</label>
            <div class="col-3">
              <input type='hidden' name='perso_id' value='{{ loggedin_id }}' class='perso_ids_hidden' />
              <input type="text" id="perso_ul1" readonly class="form-control-plaintext" value="{{ loggedin_name }} {{ loggedin_firstname }}">
            </div>             
          </div>

        {% endif %}

        <div class="row mb-2 gx-5 form-check-prepend">
          <label class="col-2 col-form-label aRight form-check-label" for="allday-check" >Journée(s) entière(s) :</label>
          <div class="col-3">
            <input id="allday-check" type="checkbox" name="allday" {% if fullday_checked %} checked="checked" {% endif %} onclick="all_day();" class="form-check-input" style="margin-top: 10px;"/>
          </div>             
        </div>

        <div class="row gx-5 mb-2">
          <label class="col-2 col-form-label aRight" for="absence-start">Date de début :</label>
          <div class="col-3">
            <input type="text" name="debut" value="" class="datepicker start-date form-control" id="absence-start" required/>
          </div>             
        </div>

        <div class="row gx-5 mb-2" id="hre_debut" {% if fullday_checked %} style="display:none;" {% endif %}>
          <label class="col-2 col-form-label aRight" for="absence-start-hour">Heure de début :</label>
          <div class="col-3">
            <input name="hre_debut" class="planno-timepicker center ui-widget-content ui-corner-all abs-timepicker form-control form-control-sm" value="" id="absence-start-hour"/>
          </div>             
        </div>

        <div class="row gx-5 mb-2">
          <label class="col-2 col-form-label aRight" for="absence-end">Date de fin :</label>
          <div class="col-3">
              <input type="text" name="fin" value="" class="datepicker end-date form-control" id="absence-end"/>
          </div>             
        </div>

        <div class="row gx-5 mb-2" id="hre_fin" {% if fullday_checked %} style="display:none;" {% endif %}>
          <label class="col-2 col-form-label aRight" for="absence-end-hour">Heure de fin :</label>
          <div class="col-3">
            <input name="hre_fin" class="planno-timepicker center ui-widget-content ui-corner-all abs-timepicker form-control form-control-sm" value="" id="absence-end-hour"/>
          </div>             
        </div>

        <div class="row mb-2">
          <div class="invalid-feedback offset-2">{% trans from 'validators' %}Please choose a valid date interval.{% endtrans %}</div>
        </div>

        <div class="row mb-2 gx-5 form-check-prepend">
          <label class="col-2 col-form-label aRight form-check-label" for="recurrence-checkbox" >Récurrence :</label>
          <div class="col-3">
            <input type="checkbox" id="recurrence-checkbox" name="recurrence-checkbox" class="form-check-input" style="margin-top: 10px;"/>
            <span id="recurrence-info" style="display:none;" class="col-11 mt-2">
              <span id="recurrence-summary" class="mx-3">&nbsp;</span>
              <a href="#" id="recurrence-link">Modifier</a>
            </span>
            <input type="hidden" name="recurrence-hidden" id="recurrence-hidden"/>
          </div>             
        </div>

        <div class="row gx-5 mb-2">
          <label class="col-2 col-form-label aRight" for="motif">Motif :</label>
          <div class="col-3">
            <select name="motif" id="motif" class="form-select form-select-sm" required>
              <option hidden disabled selected value=""></option>
              {% for r in reasons %}
                {% if r.type == 2 %}
                  <option value="{{ r.valeur }}" data-workflow="{{ r.notification_workflow }}" class="padding20">
                    &nbsp;&nbsp;&nbsp;{{ r.valeur }}
                  </option>
                {% else %}
                  {% if r.type == 1 %}
                    <option value="{{ r.valeur }}" data-workflow="{{ r.notification_workflow }}" class="bold" disabled="disabled">
                      {{ r.valeur }}
                    </option>
                  {% else %}
                    <option value="{{ r.valeur }}" data-workflow="{{ r.notification_workflow }}" class="bold">
                      {{ r.valeur }}
                    </option>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </select>
          </div>  
          {% if admin and not config('Planook') %}
            <div class="col-auto p-0">
              <button type="button" class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#add-reason-modal">
                <span class="pl-icon pl-icon-add" title="Ajouter un motif"></span>
              </button>
            </div> 
          {% endif %}
                    
        </div>

        <div class="row gx-5 mb-2" id="motif_autre" style="display:none;">
          <label class="col-2 col-form-label aRight" for="motif2">Motif (autre) :</label>
          <div class="col-3">
            <input id="motif2" type="text" name="motif_autre" class="form-control form-control-sm"/>
          </div>             
        </div>

        <div class="row gx-5 mb-2">
          <label class="col-2 col-form-label aRight" for="absence-comment">Commentaires :</label>
          <div class="col-3">
            <textarea id="absence-comment" name="commentaires" rows="5" class="form-control "></textarea>
          </div>             
        </div>

        {% if right701 %}
        <fieldset class="row mb-2 gx-5">
          <legend class="col-form-label col-2 aRight">Pièces justificatives : </legend>
          <div class="col-3 mt-2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="pj1" id="pj1">
              <label class="form-check-label" for="pj1">PJ1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="pj2" id="pj2">
              <label class="form-check-label" for="pj2">PJ2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" name="so" id="so">
              <label class="form-check-label" for="so">SO</label>
            </div>
          </div>
        </fieldset>
        {% endif %}

        <div class="row gx-5 mb-2">
          <label class="col-2 col-form-label aRight" for="documentFile">Attacher un document :</label>
          <div class="col-3">
            <input type="file" name="documentFile" id="documentFile"/>
          </div>             
        </div>

        {% if config('Absences-validation') %}
          <div class="row gx-5 mb-2" id="validation-line">
            <label class="col-2 col-form-label aRight" for="validation-state">État :</label>
            <div class="col-3">
              <div id="validation-statuses"></div>
            </div>             
          </div> 
        {% endif %}

        <div class="row my-3">
          <div class="col-3 offset-2">
            <input type="button" class="btn btn-secondary m-2" value="Annuler" onclick="document.location.href='{{asset('absence')}}';" />
            <input type="submit" class="btn btn-primary m-2" value="Valider" />
          </div>
        </div> 

      </form>
      
      {#Messages d'informations absences#}
      <div class="row red">
        {% if abences_infos %}
        <div class="col-3 offset-2">
          <b>Informations congés / absences :</b><br/>
          {% for a in abences_infos %}
            Du {{ a.debut_fr }} au {{ a.fin_fr }} : {{ a.texte }}<br/>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <div class="modal" id="end-date-alert-modal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="end-date-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="end-date-modal-title">Date de fin de récurrence</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
            </div>
            <div class="modal-body">
              Pour les absences récurrentes, la date de fin ne doit pas être saisie dans le formulaire d'absence mais dans la fenêtre de configuration de la récurrence.
              <br/><br/>
              Voulez-vous supprimer la date de fin choisie ?
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}No{% endtrans %}</button>
              <button type="button" class="btn btn-primary" id="clear-end-date">{% trans %}Yes{% endtrans %}</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal" id="recurrence-modal" tabindex="-1" data-bs-backdrop="static" role="dialog" aria-labelledby="recurrence-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="recurrence-modal-title">Récurrence absence</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
            </div>

            <div class="modal-body" style="font-size: 1.10em;">
            <form id="recurrence-form">
              
              <div class="row mb-2">
                <label for="recurrence-freq" class="col-4 col-form-label">Récurrence :</label>
                <select name="recurrence-freq" id="recurrence-freq" class="form-select form-select-sm recurrence-data" style="max-width: 200px;">
                  <option value="DAILY">Tous les jours</option>
                  <option value="WEEKLY" selected="selected">Toutes les semaines</option>
                  <option value="MONTHLY">Tous les mois</option>
                </select>
              </div>

              <div class="row mb-2">
                <label  for="recurrence-interval" class="col-4 col-form-label"> Répéter <span id="recurrence-label">toutes</span> les : </label>
                <input type="number" min="1" max="100" step="1" class="col-5 form-control form-control-sm recurrence-data" id="recurrence-interval" style="max-width: 200px;" value="1">
                <span id="recurrence-label-freq" class="col-3 pt-2">semaines</span>
              </div>
              
              <fieldset class="row mb-2" id="recurrence-week">
                <legend class="col-form-label col-4">Répéter le :</legend>
                <div class="col-8 p-0 pt-2 pb-2">
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day1" value="MO">
                    <label  for="recurrence-by-day1">Lundi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day2" value="TU">
                    <label  for="recurrence-by-day2">Mardi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day3" value="WE">
                    <label  for="recurrence-by-day3">Mercredi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day4" value="TH">
                    <label  for="recurrence-by-day4">Jeudi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day5" value="FR">
                    <label  for="recurrence-by-day5">Vendredi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day6" value="SA">
                    <label  for="recurrence-by-day6">Samedi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day0" value="SU">
                    <label  for="recurrence-by-day0">Dimanche</label>
                  </div>
                </div>
              </fieldset>

              <fieldset class="row mb-2" id="recurrence-month" style="display:none;">
                <legend class="col-form-label col-4">Répéter chaque :</legend>
                <div class="col-8 p-0 pt-2 pb-2">
                  <div class="form-check">
                    <input class="form-check-input recurrence-data" type="radio" name="recurrence-by-month" id="recurrence-by-month1" value="BYMONTHDAY" checked>
                    <label class="form-check-label" for="recurrence-by-month1">Jour du mois</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data" type="radio" name="recurrence-by-month" id="recurrence-by-month2" value="BYDAY">
                    <label class="form-check-label" for="recurrence-by-month2">Jour de la semaine</label>
                  </div>
                </div>
              </fieldset>

              <div class="row mb-2">
                <label class="col-4" for="recurrence-start">Date de début :</label>
                <span class="col-4 p-0" id="recurrence-start"></span>
              </div>

              <fieldset class="row mb-2">
                <legend class="col-form-label col-4">Fin : </legend>
                <div class="col-8 p-0 pt-2">
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-end" name="recurrence-end" type="radio" id="recurrence-end1" value="never" checked>
                    <label class="form-check-label" for="recurrence-end1">Jamais</label>
                  </div>
                  <div class="form-check" style="display: flex;align-items: baseline;">
                    <input class="form-check-input recurrence-data recurrence-end" name="recurrence-end" type="radio" id="recurrence-end2" value="count">
                    <label class="form-check-label ms-2" for="recurrence-end2" style="display: block ruby;">Après
                      <input type="number" min="1" max="100" step="1" class="col-1 form-control form-control-sm recurrence-data" id="recurrence-count" placeholder="30" style="max-width: 60px;">
                      répétitions</label>
                  </div>
                  <div class="form-check" style="display: flex;align-items: baseline;">
                    <input class="form-check-input recurrence-data recurrence-end" name="recurrence-end" type="radio" id="recurrence-end3" value="until">
                    <label class="form-check-label ms-2" for="recurrence-end3" style="display: block ruby;">Le 
                      <input type="text" id="recurrence-until" class="datepicker recurrence-data form-control" style="width: 150px;"/>
                    </label>
                  </div>
                </div>
              </fieldset>

            </form>
            </div>

            <hr class="m-0">
              
            <div class="modal-body" style="font-size: 1.10em;">
              <div class="row">
                <label class="col-4">Résumé : </label>
                <span class="col-8" id="recurrence-summary-form" style="padding: 0px 12px 0px 0px; min-height: 45px;"></span>
              </div>     
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
              <button type="submit" form="recurrence-form" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
            </div>

          </div>
        </div>
      </div>
      {% include 'absences/reasons.html.twig' %}
    </div>
  </div>
{% endblock %}