{# absences/add.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/absence.js') }}"></script>
{% endblock %}

{% block page %}
<div id="content-form">
    <script type='text/JavaScript'>
      $( document ).ready(function() {
        $('#form').submit(function() {
          return verif_absences("debut=date1;fin=date2;motif");
        });
      });
    </script>
    <h3>Ajouter une absence</h3>
    <div class="admin-div">
      <table class="info-align">
        <tr style='vertical-align:top'>
          <td style='width:560px;'>

            <form id="form" name='form' action='/absence' method='post' enctype='multipart/form-data'>
              <input type="hidden" name="_token" value="{{ csrf_token('') }}" />
              <input type='hidden' name='CSRFToken' value='{{ CSRFToken }}' />
              <input type='hidden' id='admin' value='{{ admin }}' />
              <input type='hidden' id='login_id' value='{{ loggedin_id }}' />

              <table class='tableauFiches'>
                <tr>
                  <td class="textAlignRight">
                    {% if agents_multiples %}
                      <label >Agent(s)</label>
                    {% else %}
                      <label >Agent</label>
                    {% endif %}
                  </td>

                  <td colspan='2'>
                    {% if agents_multiples %}
                      {% if agent_preselection %}
                        <input type='hidden' name='perso_ids[]' value='{{ loggedin_id }}' id='hidden{{ loggedin_id }}' class='perso_ids_hidden'/>
                      {% endif %}

                      <ul id='perso_ul1' class='perso_ul'>
                        {% if agent_preselection %}
                          <li id='li{{ loggedin_id }}' class='perso_ids_li'>
                            {{ loggedin_name }} {{ loggedin_firstname }}
                            {% if admin %}
                              <span class='perso-drop' onclick="supprimeAgent({ loggedin_id });">
                                <span class='pl-icon pl-icon-dropblack'></span>
                              </span>
                            {% endif %}
                          </li>
                        {% endif %}
                      </ul>

                      <ul id='perso_ul2' class='perso_ul'></ul>
                      <ul id='perso_ul3' class='perso_ul'></ul>
                      <ul id='perso_ul4' class='perso_ul'></ul>
                      <ul id='perso_ul5' class='perso_ul'></ul>
                  
                  </td>
                </tr>

                <tr>
                  <td>&nbsp;</td>
                  <td>
                    <select name="perso_id" id="perso_ids" class="ui-widget-content ui-corner-all" style="margin-bottom:20px; width: 100%;">
                      <option value='0' selected='selected'>-- Ajoutez un agent --</option>
                      {% if config('Absences-tous') %}
                        <option value='tous'>Tous les agents</option>
                      {% endif %}

                      {% for a in agents %}
                        {% if a.id == loggedin_id and agent_preselection %}
                          <option value='{{ a.id }}' id='option{{ a.id }}' style="display:none;">
                            {{ a.lastname }} {{ a.firstname }}
                          </option>
                        {% else %}
                          <option value='{{ a.id }}' id='option{{ a.id }}'>
                            {{ a.lastname }} {{ a.firstname }}
                          </option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    {% else %}
                      <input type='hidden' name='perso_id' value='{{ loggedin_id }}' class='perso_ids_hidden' />
                      {{ loggedin_name }} {{ loggedin_firstname }}

                    {% endif %}
                  </td>
                </tr>

                <tr>
                  <td class="textAlignRight">
                    <label >Journée(s) entière(s) </label>
                  </td>

                  <td>
                    <input type='checkbox' name='allday' {% if fullday_checked %} checked="checked" {% endif %} onclick='all_day();'/>
                  </td>
                </tr>

                <tr>
                  <td class="textAlignRight">
                    <label >Date de début </label>
                  </td>

                  <td style='white-space:nowrap;'>
                    <input type="text" name="debut" value="" style="width:100%;" class="datepicker start-date" placeholder="jj/mm/aaaa" id="absence-start"/>
                  </td>
                </tr>

                <tr id='hre_debut' {% if fullday_checked %} style='display:none;' {% endif %}>
                  <td class="textAlignRight">
                    <label >Heure de début </label>
                  </td>

                  <td>
                    <input name="hre_debut" class="planno-timepicker center ui-widget-content ui-corner-all abs-timepicker" value=""/>
                  </td>
                </tr>

                <tr>
                  <td class="textAlignRight">
                    <label >Date de fin </label>
                  </td>

                  <td style='white-space:nowrap;'>
                    <input type="text" name="fin" value="" style="width:100%;" class="datepicker end-date" placeholder="jj/mm/aaaa" id="absence-end"/>
                  </td>
                </tr>

                <tr id='hre_fin' {% if fullday_checked %} style='display:none;' {% endif %}>
                  <td class="textAlignRight">
                    <label >Heure de fin </label>
                  </td>

                  <td>
                    <input name="hre_fin" class="planno-timepicker center ui-widget-content ui-corner-all abs-timepicker" value=""/>
                  </td>
                </tr>

                <tr>
                  <td style='padding-bottom:30px;' class="textAlignRight">
                    <label for="recurrence-checkbox" class="form-check-label">Récurrence</label>
                  </td>

                  <td style='padding-bottom:30px;'>
                    <input type="checkbox" id="recurrence-checkbox" name="recurrence-checkbox" class="form-check-input" style="margin-top: 3px;"/>
                    <span id='recurrence-info' style="display:none; padding-left: 5px;">
                      <span id='recurrence-summary'>&nbsp;</span>
                      <a href='#' id='recurrence-link' style="margin-left:6px;">Modifier</a>
                    </span>

                    <input type='hidden' name='recurrence-hidden' id='recurrence-hidden' />
                  </td>
                </tr>

                <tr>
                  <td class="textAlignRight">
                    <label >Motif </label>
                  </td>

                  <td style='white-space:nowrap;'>
                    <select name='motif' id='motif' style='width:100%;' class='ui-widget-content ui-corner-all'>
                      <option value=''></option>
                      {% for r in reasons %}
                        {% if r.type == 2 %}
                          <option value="{{ r.valeur }}" data-workflow="{{ r.notification_workflow }}" class="padding20">
                            &nbsp;&nbsp;&nbsp;{{ r.valeur }}
                          </option>
                        {% else %}
                          {% if r.type == 1 %}
                            <option value="{{ r.valeur }}" data-workflow="{{ r.notification_workflow }}" class="bold" disabled="disabled">
                              {{ r.valeur }}
                            </option>
                          {% else %}
                            <option value="{{ r.valeur }}" data-workflow="{{ r.notification_workflow }}" class="bold">
                              {{ r.valeur }}
                            </option>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </select>

                    {% if admin and not config('Planook') %}
                      <button type="button" class="btn btn-icon" data-bs-toggle="modal" data-bs-target="#add-reason-modal">
                        <span class="pl-icon pl-icon-add" title="Ajouter un motif"></span>
                      </button>
                    {% endif %}
                  </td>
                </tr>

                <tr style='display:none;' id='tr_motif_autre'>
                  <td class="textAlignRight">
                    <label >Motif (autre)</label>
                  </td>

                  <td>
                    <input type='text' name='motif_autre' style='width:100%;' class='ui-widget-content ui-corner-all'/>
                  </td>
                </tr>

                <tr style='vertical-align:top;'>
                  <td class="textAlignRight">
                    <label >Commentaires </label>
                  </td>

                  <td>
                    <textarea name='commentaires' cols='16' rows='5' class='ui-widget-content ui-corner-all'></textarea>
                  </td>
                </tr>

                {% if right701 %}
                  <tr style='vertical-align:top;'>
                    <td class="textAlignRight">
                      <label >Pièces justificatives</label>
                    </td>

                    <td>
                      <div class='absences-pj-fiche'>
                        PJ1 <input type='checkbox' name='pj1' id='pj1' />
                      </div>

                      <div class='absences-pj-fiche'>
                        PJ2 <input type='checkbox' name='pj2' id='pj2' />
                      </div>

                      <div class='absences-pj-fiche'>
                        SO <input type='checkbox' name='so' id='so' />
                      </div>
                    </td>
                  </tr>
                {% endif %}

                <tr style='vertical-align:top;'>
                  <td class="textAlignRight">
                    <label >Attacher un document</label>
                  </td>
                  <td><input type="file" name="documentFile" id="documentFile" /></td>
                </tr>

                {% if config('Absences-validation') %}
                  <tr id="validation-line">
                    <td class="textAlignRight">
                      <label >État </label>
                    </td>

                    <td id="validation-statuses"></td>
                  </tr>
                {% endif %}

                <tr>
                  <td>&nbsp;</td>
                </tr>

                <tr>
                  <td colspan='2' style='text-align:Right;'>
                  <input type="button" class="btn btn-secondary" value="Annuler" onclick="document.location.href='{{asset('absence')}}';" />
                    &nbsp;&nbsp;
                    <input type="submit" class="btn btn-primary" value="Valider" />

                  </td>
                </tr>
              </table>
            </form>
          </td>

        </tr>
      </table>
      
      {#Messages d'informations absences#}
      <div class="red info-align">
        {% if abences_infos %}
          <b>Informations congés / absences :</b><br/>
          {% for a in abences_infos %}
            Du {{ a.debut_fr }} au {{ a.fin_fr }} : {{ a.texte }}<br/>
          {% endfor %}
        {% endif %}

      </div>

      <div class="modal" id="end-date-alert-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="end-date-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="end-date-modal-title">Date de fin de récurrence</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Pour les absences récurrentes, la date de fin ne doit pas être saisie dans le formulaire d'absence mais dans la fenêtre de configuration de la récurrence.
              <br/><br/>
              Voulez-vous supprimer la date de fin choisie ?
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="clear-end-date">Oui</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal" id="recurrence-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="recurrence-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h5 class="modal-title" id="recurrence-modal-title">Récurrence absence</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
            <form id="recurrence-form">
              
              <div class="row mb-2">
                <label for="recurrence-freq" class="col-4 col-form-label">Récurrence :</label>
                <select name="recurrence-freq" id="recurrence-freq" class="col-6 form-select form-select-sm recurrence-data">
                  <option value="DAILY">Tous les jours</option>
                  <option value="WEEKLY" selected="selected">Toutes les semaines</option>
                  <option value="MONTHLY">Tous les mois</option>
                </select>
              </div>

              <div class="row mb-2">
                <label  for="recurrence-interval" class="col-4 col-form-label"> Répéter <span id="recurrence-label">toutes</span> les : </label>
                <input type="number" min="1" max="100" step="1" class="col-5 form-control form-control-sm recurrence-data" id="recurrence-interval" style="max-width: 200px;" value="1">
                <span id="recurrence-label-freq" class="col-3 pt-2">semaines</span>
              </div>
              
              <fieldset class="row mb-2" id="recurrence-week">
                <legend class="col-form-label col-4">Répéter le :</legend>
                <div class="col-8 p-0 pt-2 pb-2">
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day1" value="MO">
                    <label  for="recurrence-by-day1">Lundi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day2" value="TU">
                    <label  for="recurrence-by-day2">Mardi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day3" value="WE">
                    <label  for="recurrence-by-day3">Mercredi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day4" value="TH">
                    <label  for="recurrence-by-day4">Jeudi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day5" value="FR">
                    <label  for="recurrence-by-day5">Vendredi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day6" value="SA">
                    <label  for="recurrence-by-day6">Samedi</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-by-day" type="checkbox" id="recurrence-by-day0" value="SU">
                    <label  for="recurrence-by-day0">Dimanche</label>
                  </div>
                </div>
              </fieldset>

              <fieldset class="row mb-2" id="recurrence-month" style="display:none;">
                <legend class="col-form-label col-4">Répéter chaque :</legend>
                <div class="col-8 p-0 pt-2 pb-2">
                  <div class="form-check">
                    <input class="form-check-input recurrence-data" type="radio" name="recurrence-by-month" id="recurrence-by-month1" value="BYMONTHDAY" checked>
                    <label class="form-check-label" for="recurrence-by-month1">Jour du mois</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data" type="radio" name="recurrence-by-month" id="recurrence-by-month2" value="BYDAY">
                    <label class="form-check-label" for="recurrence-by-month2">Jour de la semaine</label>
                  </div>
                </div>
              </fieldset>

              <div class="row mb-2">
                <label class="col-4" for="recurrence-start">Date de début :</label>
                <span class="col-4 p-0" id="recurrence-start"></span>
              </div>

              <fieldset class="row mb-2">
                <legend class="col-form-label col-4">Fin : </legend>
                <div class="col-8 p-0 pt-2">
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-end" name="recurrence-end" type="radio" id="recurrence-end1" value="never" checked>
                    <label class="form-check-label" for="recurrence-end1">Jamais</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-end" name="recurrence-end" type="radio" id="recurrence-end2" value="count">
                    <label class="form-check-label" for="recurrence-end2" style="display: block ruby;">Après
                      <input type="number" min="1" max="100" step="1" class="col-1 form-control form-control-sm recurrence-data" id="recurrence-count" placeholder="30" style="max-width: 60px;">
                      répétitions</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input recurrence-data recurrence-end" name="recurrence-end" type="radio" id="recurrence-end3" value="until">
                    <label class="form-check-label" for="recurrence-end3">Le 
                      <input type="text" id="recurrence-until" class="datepicker recurrence-data" placeholder="jj/mm/aaaa" style="border: 1px solid #DEE2E6; width: 110px;"/>
                    </label>
                  </div>
                </div>
              </fieldset>

            </form>
            </div>

            <hr class="m-0">
              
            <div class="modal-body">
              <div class="row">
                <label class="col-4">Résumé : </label>
                <span class="col-8" id="recurrence-summary-form" style="padding: 0px 12px 0px 0px; min-height: 45px;"></span>
              </div>     
            </div>

            <div class="modal-footer">
              <button type="submit" form="recurrence-form" class="btn btn-primary" >Enregistrer</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Annuler</button>
            </div>

          </div>
        </div>
      </div>
      {% include 'absences/reasons.html.twig' %}
    </div>
  </div>
{% endblock %}