{# absences/import.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/absence.js') }}"></script>
{% endblock %}

{% block page %}
  <div id="content-form">
    <h3>Importer des absences au format CSV</h3>
    <div class="admin-div">
      {% if filename is defined %} 
        <p><strong>Résultats</strong></p>
        <label for="maxLevel">Niveau de journalisation :</label>
        <select id="maxLevel">
          <option value="4">Débogage</option>
          <option value="3" selected="selected">Information</option>
          <option value="2">Avertissement</option>
          <option value="1">Erreur</option>
        </select>
        <br /><br />
        <table id="tableAbsencesImportResult">
          <thead>
            <th>Ligne</th>
            <th>Niveau</th>
            <th>Type</th>
            <th>Message</th>
          </thead>
          <tbody>
            {% for log in importLog %}
              <tr>
                <td>{{ log.line }}</td>
                <td>{{ log.type }}</td>
                <td>
                  {% if log.type == 1 %}<div class="red">Erreur</div>
                  {% elseif log.type == 2 %}<div class="orange">Avertissement</div>
                  {% elseif log.type == 3 %}<div class="green">Information</div>
                  {% elseif log.type == 4 %}Débogage
                  {% endif %}
                </td>
                <td>{{ log.message }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{{ asset('absence') }}" class="ui-button" style="margin-top:20px;">Retour</a>
      </div>
    {% else %}
      <p><strong>Veuillez sélectionner un fichier CSV et cliquer sur "Envoyer".</strong></p>
      <form id="form" name='form' action='/absence/import' method='post' enctype='multipart/form-data'>
        <input type="file" name="absencesCSV" id="absencesCSV" /><br /><br />
        <input type="hidden" name="_token" value="{{ csrf_token('') }}"/>
        <input type="submit" class="ui-button" />
      </form>
      </div>
    {% endif %}
  </div>
{% endblock %}
