{# absences/index.html.twig #}

{% extends 'base.html.twig' %}

{% block specificjs %}
  <script type="text/JavaScript" src="{{ asset('js/absence.js') }}"></script>
{% endblock %}

{% block page %}
  <h3>Liste des absences</h3>
  <form name="form" id="absencesListForm" method="get" action="{{ asset('absence') }}">
    <div class="container top-buttons">
      <div class="row">
        <div class="col">
          <label for="debut" >Début :</label>
          <input type="text" id="debut" name="debut" value="{{ debut }}" class="datepicker"/>
        </div>
        <div class="col" style='vertical-align:middle;'>
          <label>Fin :</label>
          <input type='text' name='fin' id='fin' value='{{ fin }}'  class='datepicker'/>
        </div>
        {% if managed | length > 1 %}
          <div class="col">
            <span style='padding:5px;'>
              <label>Agent :</label>
              <select name='perso_id' id='perso_id' class='ui-widget-content ui-corner-all'>
                {% if perso_id == 0 %}
                  <option value='0' selected='selected'>Tous</option>
                {% else %}
                  <option value='0'>Tous</option>
                {% endif %}

                {% for a in managed %}
                  {% if a.id == perso_id %}
                    <option value="{{ a.id }}" selected='selected'>{{ a.lastname }} {{ a.firstname }}</option>
                  {% else %}
                    <option value="{{ a.id }}">{{ a.lastname }} {{ a.firstname }}</option>
                  {% endif %}
                {% endfor %}

              </select>
            </span>
            <br/>
            <span style='padding:5px;'>Agents supprimés : 
              {% if agents_deleted %}
                <input type='checkbox' checked name='supprimes' onclick="updateAgentsList(this,'perso_id');"/>
              {% else %}
                <input type='checkbox' name='supprimes' onclick="updateAgentsList(this,'perso_id');"/>
              {% endif %}
            </span>
          </div>
        {% endif %}

        <div class="col">
          <input type='submit' value='Rechercher' class='ui-button ui-button-type1' style='margin-right:20px;' />
        </div>

        <div class="col-3">
          <input type='button' value='Réinitialiser' onclick="absences_reinit();"  class='ui-button ui-button-type2' />
        </div>

        <div class="col">
          <div class="ml-auto">
            <a href='{{ asset("absence/add") }}' class='ui-button ui-button-type2'>Ajouter</a>
            <a href='{{ asset("absence/import") }}' class='ui-button ui-button-type2'>Importer</a>
          </div>
        </div>
      </div>
    </div>
  </form>
  
  <table id='tableAbsencesVoir' class='CJDataTable' data-sort='[[1, "asc"],[2, "asc"]]'>
    <thead>
       <tr>
         <th class='dataTableNoSort'>&nbsp;</th>
         <th>Début</th>
         <th>Fin</th>
         <th id='thNom'>Agents</th>
         {% if config('Absences-validation') %}
           <th id='thValidation'>État</th>
         {% endif %}
         <th>Motif</th>
         <th>Commentaires</th>
         <th>Demande</th>
         {% if can_manage_sup_doc %}
           <th id='thPiecesJustif' class='dataTableNoSort'>
             <span style='white-space:nowrap'>Pièces justificatives</span><br/>
             <div class='absences-pj'>PJ 1</div>
             <div class='absences-pj'>PJ 2</div>
             <div class='absences-pj'>SO</div>
           </th>
         {% endif %}
         <th>Documents</th>
       </tr>
    </thead>
    <tbody>
      {% for abs in visibles_absences %}
        <tr>
          <td style='white-space: nowrap;'>
            <div class="icon-div">
              {% if abs.view_details %}
                <a href='{{ asset("absence") }}/{{ abs.id }}'>
                  <span class='pl-icon pl-icon-edit' title='Voir'></span>
                </a>
              {% endif %}
              {% if abs.rrule %}
                <span class='pl-icon pl-icon-recurring' title='Récurrence'></span>
              {% endif %}
            </div>
          </td>
          <td data-order="{{ abs.debut }}">{{ abs.debut | datefr }}</td>
          <td data-order="{{ abs.fin }}">{{ abs.fin | datefr }}</td>
          <td>{{ abs.agents | join(', ') }}</td>

          {% if config('Absences-validation') %}
            <td style="{{ abs.status_style }}">{{ abs.status }}</td>
          {% endif %}
          <td>{{ abs.motif }}</td>
          <td title="{{ abs.commentaires }}">
            <div style='height:20px;overflow:hidden;'>
              {{ abs.commentaires }}
            </div>
          </td>
          <td data-order="{{ abs.demande }}" style="white-space:nowrap;">
            {{ abs.demande | datefr }}
          </td>

          {% if can_manage_sup_doc %}
            <td style='text-align:center;'>
              <div class='absences-pj'>
                {% if abs.pj1 %}
                  <input type='checkbox' id="pj1-{{ abs.id }}" checked="checked"/>
                {% else %}
                  <input type='checkbox' id="pj1-{{ abs.id }}"/>
                {% endif %}
              </div>
              <div class='absences-pj'>
                {% if abs.pj2 %}
                  <input type='checkbox' id="pj2-{{ abs.id }}" checked="checked"/>
                {% else %}
                  <input type='checkbox' id="pj2-{{ abs.id }}"/>
                {% endif %}
              </div>
              <div class='absences-pj'>
                {% if abs.so %}
                  <input type='checkbox' id="so-{{ abs.id }}" checked="checked"/>
                {% else %}
                  <input type='checkbox' id="so-{{ abs.id }}"/>
                {% endif %}
              </div>
            </td>
          {% endif %}
          <td>
            {% for doc in abs.absdocs %}
              <a href="{{ asset("absences/document") }}/{{ doc.id }}" target='_blank' >{{ doc.filename }}</a>
              <br/>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
