{# absences/infos.html.twig #}

{% extends 'base.html.twig' %}

{% block page %}
  <h3>Informations sur les absences</h3>

  {% if suppression and validation %}
    <b>L'information a été supprimée</b><br/><br/>
    <a href='index.php?page=absences/index.php'>Retour</a>
  {% elseif suppression %}
    <h4>Etes vous sûr de vouloir supprimer cette information ?</h4>
    <form method='get' action='#' name='form'>
      <input type='hidden' name='page' value='absences/infos.php'/>
      <input type='hidden' name='CSRFToken' value='{{ CSRFSession }}'/>
      <input type='hidden' name='suppression' value='1'/>
      <input type='hidden' name='validation' value='1'/>
      <input type='hidden' name='id' value='{{ id }}'/>
      <input type='button' value='Non' onclick="history.back();" class='ui-button'/>
      <input type='submit' value='Oui' class='ui-button' style='margin-left:30px;'/>
    </form>
  {% elseif validation %}
    <b>Votre demande a été enregistrée</b>
    <br/><br/><a href='index.php?page=absences/index.php'>Retour</a>
  {% elseif save %}
    <h4>Confirmation</h4>
    Du {{ debut }} au {{ fin }}<br/>
    {{ texte }}<br/><br/>
    <form method='get' action='index.php' name='form'>
      <input type='hidden' name='page' value='absences/infos.php'/>
      <input type='hidden' name='CSRFToken' value='{{ CSRFSession }}'/>
      <input type='hidden' name='debut' value='{{ debut }}'/>
      <input type='hidden' name='fin' value='{{ fin }}'/>
      <input type='hidden' name='texte' value='{{ texte }}'/>
      <input type='hidden' name='id' value='{{ id }}'/>
      <input type='hidden' name='validation' value='1'/>
      <input type='button' value='Annuler' onclick='history.back();' class='ui-button'/>
      <input type='submit' value='Valider' class='ui-button' style='margin-left:30px;'/>
    </form>
  {% else %}
    {% if id %}
      <h4>Modifications des informations sur les absences</h4>
    {% else %}
      <h4>Ajout d'une information</h4>
    {% endif %}
    <form method='get' action='index.php' name='form' onsubmit='return verif_form("debut=date1;fin=date2;texte");'>
      <input type='hidden' name='page' value='absences/infos.php'/>
      <input type='hidden' name='id' value='{{ id }}'/>
      <input type='hidden' name='op' value='save'/>

      <table class='tableauFiches'>
        <tr>
          <td><label >Date de début</label> </td>
          <td>
            <input type='text' name='debut' value='{{ debut }}' style='width:100%;' class='datepicker'/>
          </td>
        </tr>

        <tr>
          <td><label >Date de fin</label></td>
          <td>
            <input type='text' name='fin' value='{{ fin }}' style='width:100%;' class='datepicker'/>
          </td>
        </tr>

        <tr>
          <td><label >Texte</label></td>
          <td>
            <textarea name='texte' rows='3' cols='25' class='ui-widget-content ui-corner-all'>{{ texte }}</textarea>
          </td>
        </tr>

        <tr>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td colspan='2' style='text-align:center;'>
            {% if id %}
              <a href='index.php?page=absences/infos.php&amp;id={{ id }}&amp;suppression=1' class='ui-button' >Supprimer</a>
            {% endif %}
            <a href='index.php?page=absences/index.php' class='ui-button' style='margin-left:30px;'>Annuler</a>
            <input type='submit' value='Valider' class='ui-button' style='margin-left:30px;'/>
          </td>
        </tr>
      </table>
    </form>
  {% endif %}
{% endblock %}
