{# absences/reasons.html.twig #}

<div id="add-motif-form" title="Liste des motifs d'absences" class='noprint' style='display:none;'>
  <p class="validateTips">Ajoutez, supprimez et modifiez l'ordre des motifs dans le menu déroulant.</p>
  <form>
    <p>
      <input type='text' id='add-motif-text' style='width:300px;'/>
      <input type='button' id='add-motif-button2' class='ui-button' value='Ajouter' style='margin-left:15px;'/>
    </p>

    <fieldset>
      <div style='margin-bottom:20px; font-weight:bold;'>
        <span style='position:absolute;left:60px;'>Nom</span>
        <span style='position:absolute;left:335px;' >Niveau</span>
        <span style='position:absolute;left:515px;'>Circuit de notification</span>
        <span style='position:absolute;left:700px;'>Télétravail</span>
      </div>
      <ul id="motifs-sortable">
        {% if reasons is iterable %}
          {% for r in reasons %}
            <li class='ui-state-default' id='li_{{ r.id }}'>
              <span class='ui-icon ui-icon-arrowthick-2-n-s'></span>
              {% if r.type == 2 %}
                <font class='padding20' id='valeur_{{ r.id}}'>{{ r.valeur }}</font>
              {% else %}
                <font class='bold' id='valeur_{{ r.id}}'>{{ r.valeur }}</font>
              {% endif %}
              <select id='type_{{ r.id }}' style='position:absolute;width:170px;left:330px;'>
                <option value='0'>&nbsp;</option>
                {% for t in reason_types %}
                  {% if t.id == r.type %}
                    <option value='{{ t.id }}' selected="selected">{{ t.valeur }}</option>
                  {% else %}
                    <option value='{{ t.id }}'>{{ t.valeur }}</option>
                  {% endif %}
                {% endfor %}
              </select>

                <select id="notification-workflow_{{ r.id }}" style="position:absolute;width:170px;left:510px">
                  {% if r.notification_workflow == 'A' %}
                    <option value="A" selected="selected">Circuit A</option>
                  {% else %}
                    <option value="A">Circuit A</option>
                  {% endif %}

                  {% if r.notification_workflow == 'B' %}
                    <option value="B" selected="selected">Circuit B</option>
                  {% else %}
                    <option value="B">Circuit B</option>
                  {% endif %}
                </select>

                {% if r.teleworking %}
                  <input type='checkbox' id='teleworking_{{ r.id }}' style='position:absolute; left:700px;' checked='checked' />
                {% else %}
                  <input type='checkbox' id='teleworking_{{ r.id }}' style='position:absolute; left:700px;' />
                {% endif %}

              {% if r.unused %}
                <span class='ui-icon ui-icon-trash' style='position:relative;left:750px;top:-20px;cursor:pointer;' onclick="$(this).closest('li').hide();"></span>
              {% endif %}
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </fieldset>
  </form>
</div>
