{# absences/reasons.html.twig #}

<div class="modal modal-lg" id="add-reason-modal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="add-reason-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="add-reason-modal-title">Liste des motifs d'absences</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <p class="validateTips mb-1">Ajoutez, supprimez et modifiez l'ordre des motifs dans le menu déroulant.</p>
        <form id="add-reason">
          <div class="row my-3">
            <div class="col-5">
              <input type="text" id="add-reason-text" class="form-control" style="width:100%;" required>
              <div class="invalid-feedback ms-1">Motif invalide</div>
            </div>
            <div class="col-1">
              <button type="submit" id="add-reason-button" class="btn btn-primary">Ajouter</button>
            </div>
          </div>
        </form>

        <div class="row row-header m-0 mt-2">
          <i class="col-auto p-2 bi bi-arrow-down-up" aria-hidden="true"></i>
          <span class="col-3 ps-0">Nom</span>
          <span class="col-3" >Niveau</span>
          <span class="col-3">Circuit de notification</span>
          <span class="col-2" style="text-align: center;">Télétravail</span>
        </div>

        <form id="arrange-reasons">
          <fieldset class="container-fluid">
            <ul id="reasons_sortable">
              {% if reasons is iterable %}
                {% for r in reasons %}

                  <li class="row row-sortable" id="li_{{ r.id }}">
                    <i class="col-auto p-0 ps-2 bi bi-arrow-down-up"></i>
                    <span class="col-3 p-2 {% if r.type == 2 %} ps-4 {% endif %}" id="valeur_{{ r.id}}">{{ r.valeur }}</span>
                    <div class="col-3">
                      <select id="type_{{ r.id }}" class="form-control form-select form-select-sm" aria-label="Séléction du Niveau"  onchange='padding20($(this));'>
                        {% for t in reason_types %}
                        <option value="{{ t.id }}" {% if t.id == r.type %} selected="selected" {% endif %}>{{ t.valeur }}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="col-3">
                      <select id="notification-workflow_{{ r.id }}" class="form-control form-select form-select-sm" aria-label="Séléction du circuit de notification" onchange="padding20($(this));">
                        <option value="A" {% if r.notification_workflow == 'A' %} selected="selected" {% endif %}>Circuit A</option>
                        <option value="B" {% if r.notification_workflow == 'B' %} selected="selected" {% endif %}>Circuit B</option>
                      </select>
                    </div>

                    <div class="col-2" style="text-align: center;">
                      <input type="checkbox" id="teleworking_{{ r.id }}" class="form-check-input" {% if r.teleworking %} checked="checked" {% endif %}/>
                    </div>

                    {% if r.unused %}
                      <span class="col-auto p-0 pe-3" onclick="$(this).closest('li').hide();">
                        <i class="bi bi-trash3-fill"></i>
                      </span>
                    {% endif %}
                  </li>

                {% endfor %}
              {% endif %}
            </ul>
          </fieldset>
        </form>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="arrange-reasons">Enregister</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

